body,
p {
    font-family: 'LibreFrank', serif;
    font-size: 21px;
    line-height: 35px;
}

article p,
article ul,
article ol,
article dt,
p {
    font-size: 21px;
    line-height: 35px;
}

.ut-header .ut-logo--main {
    max-height: 100px;
}

.link:hover * {
    color: #b75700 !important;
}

.ut-search-form {
    border-radius: 30px;
}

input.uta,
optgroup.uta,
select.uta,
textarea.uta {
    border-color: #333f48;
    height: 63px;
}

.background-md-right {
    background-repeat: no-repeat;
    background-position: right;
}

.bg-contain {
    background-size: contain;
}

.top-left-0 {
    top: 0;
    left: 0;
}

.image-circle {
    background-size: cover;
    border-radius: 50%;
}

.w-h-medium {
    width: 200px;
    height: 200px;
}

#loading-ajax img {
    width: 30px;
}

.w-100px {
    width: 100px;
}

.h-150px {
    height: 150px;
}

.h-115px {
    height: 115px;
}

#loading-ajax {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #ffffff4d;
}

.header-secondary-social .block__ut-social-links--items.ut-social-links--medium {
    display: flex;
    justify-content: end;
    padding-right: 15px;
}

.line-top {
    background-image: linear-gradient(to right, #B75700 50%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 20px 2px;
    background-repeat: repeat-x;
}

.line-top-red {
    background-image: linear-gradient(to right, #b75700 50%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 20px 2px;
    background-repeat: repeat-x;
}

.line-bottom-red {
    background-image: linear-gradient(to right, #b75700 50%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 20px 2px;
    background-repeat: repeat-x;
}

.line-top-gray {
    background-image: linear-gradient(to right, #cecabc 50%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 20px 2px;
    background-repeat: repeat-x;
}

.line-bottom-gray {
    background-image: linear-gradient(to right, #cecabc 50%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 20px 2px;
    background-repeat: repeat-x;
}

.line-left-gray {
    background-image: linear-gradient(#cecabc 50%, rgba(255, 255, 255, 0) 0%);
    background-position: left;
    background-size: 2px 20px;
    background-repeat: repeat-y;
}

.bg-gray {
    background-color: #cecabc;
}

.line-bottom {
    background-image: linear-gradient(to right, #B75700 50%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 20px 2px;
    background-repeat: repeat-x;
}

.line-left {
    background-image: linear-gradient(#B75700 50%, rgba(255, 255, 255, 0) 0%);
    background-position: left;
    background-size: 2px 20px;
    background-repeat: repeat-y;
}

.line-left-red {
    background-image: linear-gradient(#b75700 50%, rgba(255, 255, 255, 0) 0%);
    background-position: left;
    background-size: 2px 20px;
    background-repeat: repeat-y;
}

.line-bottom-right {
    background-image: linear-gradient(#B75700 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, #B75700 50%, rgba(255, 255, 255, 0) 0%);
    background-position: right, bottom;
    background-size: 2px 20px, 20px 2px;
    background-repeat: repeat-y, repeat-x;
}

.line-bottom-left {
    background-image: linear-gradient(#B75700 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, #B75700 50%, rgba(255, 255, 255, 0) 0%);
    background-position: left, bottom;
    background-size: 2px 20px, 20px 2px;
    background-repeat: repeat-y, repeat-x;
}

.line-bottom-left-gray {
    background-image: linear-gradient(#cecabc 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, #cecabc 50%, rgba(255, 255, 255, 0) 0%);
    background-position: left, bottom;
    background-size: 2px 20px, 20px 2px;
    background-repeat: repeat-y, repeat-x;
}

.line-right {
    background-image: linear-gradient(#B75700 50%, rgba(255, 255, 255, 0) 0%);
    background-position: right;
    background-size: 2px 20px;
    background-repeat: repeat-y;
}

.line-right-gray {
    background-image: linear-gradient(#cecabc 50%, rgba(255, 255, 255, 0) 0%);
    background-position: right;
    background-size: 2px 20px;
    background-repeat: repeat-y;
}

.spotlight-line {
    background-image: linear-gradient(to right, #f1f2f4 50%, rgba(255, 255, 255, 0) 0%);
    background-position: center;
    background-size: 20px 2px;
    background-repeat: repeat-x;
    padding-left: 70px;
    height: 10px;
    margin-left: 80px;
}

.spotlight-line.revert {
    margin-left: initial;
    margin-right: 80px;
}

.h-180px {
    height: 180px;
}

.h-70px {
    height: 70px;
}

.h-50px {
    height: 50px;
}

.bg-red {
    background-color: #bf5700;
}

.bg-white {
    background-color: #fff;
}

.bold {
    font-weight: bold;
}

.color-white {
    color: #fff !important;
}

.date {
    color: #579d42;
    font-weight: bold;
}

.color-red {
    color: #b75700;
}

.color-primary {
    color: #333f48 !important;
}

.color-dark,
a.color-dark {
    color: #333f48;
}

a:hover {
    color: #b75700;
}

.event-content * {
    color: white;
}

a:focus {
    outline: none;
}

.h1 {
    font-size: 78px;
    font-family: "CharisSil", serif;
    font-weight: bold;
    line-height: 86px;
    max-width: 100%;
}

.h2 {
    font-size: 26px;
    font-weight: bold;
    font-family: "LibreFrank", serif;
    text-transform: uppercase;
    line-height: 31px;
}

@media (min-width: 900px) {
    .mt-md-n6 {
        margin-top: -3.6rem !important;
    }
}

.h3 {
    font-size: 19px;
}

.line-search-results {
    border-bottom: 1px solid #e9e9e9;
    padding: 5px 0 5px 0;
}

#edit-keys {
    background: none !important;
}

.search-form.google-cse {
    margin-bottom: 20px;
}

.search-help-link {
    display: none;
}

nav.pager {
    margin-bottom: 30px;
}


/*light grey*/

.ut-brandbar,
.ut-brandbar .ut-logo--wrapper {
    background-color: #f3f5f6;
    font-size: 18px;
    line-height: 22px;
}

.ut-brandbar .container-md {
    padding: 15px 0 15px 0;
}

ul.site-brand-name {
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

ul.site-brand-name li {
    list-style: none;
}

.site-name-utexas a {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "LibreFrank", serif;
    padding-right: 15px;
    color: #a75b00
}

.brand-red {
    background-color: #bf5700;
    height: 15px;
    border-top: 1px solid #fff;
}


/*request infomation*/

.ut-brandbar .ut-logo--wrapper img {
    max-height: initial;
    height: 30px;
}

.ut-brandbar .ut-logo--wrapper {
    height: auto;
    padding-top: initial;
    justify-content: end;
}

.request-infomation {
    margin-left: 35px;
}

#block-sociallinks--2,
#block-utexas-child-search-form--2 {
    margin-bottom: 0;
}

#block-utexas-child-search-form--2 {
    width: 240px;
}

select.uta {
    background-color: #cecabc;
    border-color: #cecabc;
    border-bottom-color: #b75700;
    background-image: url("../images/icons/arrow-left1.svg");
    background-size: 21px 21px !important;
}

input.uta {
    background-color: #cecabc;
    border-color: #cecabc;
    border-bottom-color: #b75700;
}

select.uta:focus {
    background-image: url("../images/icons/arrow-down.svg");
}

input,
textarea,
select,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
    background-color: #cecabc;
    border-color: #cecabc;
    border-bottom-color: #b75700;
    outline: none;
    background-size: 21px;
}


/*button*/

a.btn-uat {
    text-decoration: none;
    color: white;
}

a.btn {
    text-decoration: none;
}

.btn-uat {
    background-color: #bf5700;
    color: #fff;
    border: 2px solid #bf5700;
    padding: 21px 28px 21px 28px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 17px;
    font-family: "LibreFrank", serif;
}

.btn-uat-white {
    background-color: #fff;
    color: #bf5700 !important;
    border: 2px solid #fff;
    padding: 10px 16px 10px 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "LibreFrank", serif;
}

.btn-uat-white-border-red {
    background-color: #fff;
    color: #bf5700;
    border: 2px solid #bf5700;
    padding: 10px 16px 10px 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "LibreFrank", serif;
}

.btn-uat-white-border-dark {
    background-color: #333f48;
    color: white;
    border: 2px solid #333f48;
    padding: 8px 8px 8px 8px;
    font-weight: normal;
    font-size: 16px;
    font-family: "LibreFrank", serif;
}

.btn-uat:hover,
.btn-uat:active {
    background-color: #fff;
    color: #333f48;
    border-color: #333f48;
}

.btn-uat-white-border-red:hover,
.btn-uat-white-border-red:active,
.btn-uat-white-border-red.active {
    background-color: #bf5700;
    color: #fff;
    cursor: pointer;
}

.btn-uat-white:hover,
.btn-uat-white:active {
    background-color: #bf5700;
    color: #fff !important;
    border-color: #333f48;
    cursor: pointer;
}

.btn-uat-sm {
    font-size: 12px;
    padding: 8px 16px 8px 16px;
}


/*end button*/


/*main menu*/

.primary-menu-logo {
    padding-bottom: 20px;
}

.uat-close-menu {
    cursor: pointer;
    width: 28px;
    position: absolute;
    top: 47px;
    right: 10px;
}

.modal-menu-wp {
    display: none;
}

.modal-menu.primary-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: rgb(183 87 0 / 95%);
    top: 0;
    left: 0;
    padding: 50px;
}

.primary-menu-info-container {
    color: #fff;
}

.primary-menu-content .social-links {
    margin-bottom: 3rem !important;
}

.primary-menu-content {
    padding-top: 75px;
}

ul.subnav ul {
    display: none;
}

header.ut-header .region-header-secondary>div,
header.ut-header .region-header-secondary>nav,
header.ut-header .region-header-tertiary>div,
header.ut-header .region-header-tertiary>nav {
    margin-bottom: 0;
}

ul.subnav ul li a.is-active,
ul.subnav ul li a:hover,
ul.subnav li a,
ul.subnav li a.is-active,
ul.subnav li a:hover {
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    border: none;
    font-size: 28px;
    padding-bottom: 55px;
}

.ut-copy p {
    margin-bottom: 0;
}

.ut-copy a {
    color: white;
    font-size: 17px;
    line-height: 29px;
    text-decoration: none;
}

.modal-menu.primary-menu li {
    text-align: right;
}

.main-menu__list {
    flex-direction: column;
    justify-content: end;
}

header.ut-header .ut-header-wrapper {
    position: relative;
}

header.ut-header .header-flex-wrapper {
    min-height: initial;
}

header.ut-header {
    border-bottom: none;
}

.background-accent .block {
    background-color: transparent;
    border: none;
}

.block {
    margin-bottom: 0;
}

.search-mobile .btn-menu-hamburger {
    margin-bottom: 0;
}

.btn-menu-hamburger svg {
    width: 32px;
}

.btn-menu-hamburger {
    background: transparent;
    border: none;
    padding-right: 0;
    display: flex;
}

.image-middle img:hover,
.image-top:hover,
.image-bottom img:hover {
    animation: nextarrow 1s infinite;
}

@keyframes nextarrow {
    0%,
    100% {
        margin-top: 0;
    }
    50% {
        margin-top: -5px;
    }
}


/** end hero **/

.hero-background-mobile {
    background-size: cover;
    background-position: right;
    background-position-x: 90%;
    z-index: -1;
    background-repeat: no-repeat;
}


/** heading-with-three-images **/

.heading-with-three-images-background {
    background-size: cover;
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
}

.heading-with-three-images .image-middle {
    background-size: cover;
    background-position: center;
}

.heading-with-three-images .image-middle {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.heading-with-three-images .subheading {
    color: #bf5700;
}


/** end heading-with-three-images **/


/** top-areas-of-study **/

.top-areas-of-study {
    background-image: linear-gradient(to right, #B75700 50%, rgba(255, 255, 255, 0) 0%);
    background-position: 0 87px;
    background-size: 20px 2px, 2px 20px;
    ;
    background-repeat: repeat-x, repeat-y;
}

.top-areas-of-study .bg-center {
    height: 87px;
}

.areas-of-study .owl-carousel .owl-dots {
    padding-top: 35px;
}

.areas-of-study a:hover * {
    color: #bf5700;
}

.areas-of-study .icon-svg {
    max-width: 250px;
}

.top-areas-of-study .image-top {
    z-index: 10;
}

.top-areas-of-study .bg-white {
    position: relative;
    z-index: 1;
}

.top-areas-of-study .line-bottom {
    z-index: 1;
}

.bg-top-area-study {
    top: -50px;
    right: -50px;
    z-index: -1;
    background-color: #f1f2f4;
}

.bg-area-study-items {
    background-image: url("../images/UTA_ExploreAreas_DottedLine_LeftSide.png"), url('../images/icons/line-area.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left, top right;
    height: 700px;
    background-size: contain, auto;
    bottom: -190px;
}


/** end top-areas-of-study **/


/** image-with-text */

.wp-image-with-text .h1 {
    padding-top: 310px;
}

.wp-image-with-text .bg-text-with-image {
    z-index: -1;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}


/** end image-with-text **/


/** why-uta */

.why-uta {
    background-size: 100%;
    background-repeat: no-repeat;
}

.bg-why-uta {
    background-color: #f1f2f4;
    top: -50px;
    right: -50px;
    position: absolute;
    z-index: -1
}

.line-img-uta {
    min-height: 70px;
}

.why-uta .line-top {
    background-position: 0 100px;
}


/** end why-uta */


/** form search */

.link-brower-program {
    color: #bf5700;
    text-transform: uppercase;
    font-size: 24px;
}


/** form search */


/** customized training */

.heading-with-three-images-customized-training {
    min-height: 350px;
}

.h-250px {
    height: 250px;
}

.w-90px {
    width: 90px;
}

.background-customized-training {
    background-size: 300%;
}

.our-approach img {
    object-fit: cover
}

.our-approach .bg-color {
    z-index: -1;
    right: -40px;
    bottom: -40px;
    width: 150%
}

.three-icon {
    width: 140px;
}

.three-icon-container {
    margin-top: -70px;
    overflow: hidden;
}

.industry-highlights-section {
    background-image: url(../images/industry-highlights.svg);
    background-repeat: no-repeat;
    background-position-y: 52px;
    background-position-x: right;
    background-size: 40%;
}

.industry-highlights-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.cases-studies-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.cases-studies-image-mobile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.img-partners {
    max-height: 122px;
}

.partners-container {
    background-image: url(../images/bg-partners.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.btn-customized-trainning .btn-uat-wrapper {
    padding-right: 40px;
    background: white;
}

.btn-customized-trainning {
    margin-top: 100px;
    margin-bottom: 150px;
    background-position: 10px;
}


/** end customized training */


/** who we are */

.title-who-we-are .wp-image-top {
    margin-left: 30%;
}

.title-who-we-are .image-top {
    width: 218px;
    height: 218px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.out-mission {
    background-color: #cecabc;
    margin-top: -7.2%;
}

.backgound-left {
    background-image: url(../images/backgound-mission.svg);
    background-repeat: no-repeat;
    background-position: 15px 10px;
    background-size: 100%;
    height: 150%;
}

.z-index-1 {
    z-index: 1;
}

.list-leadership {
    margin-top: -17%
}

.list-leadership .avatar {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.icon-history-excellence {
    width: 150px;
}


/** geting started */

.number-getting-started {
    line-height: 195px !important;
}

.title-left-getting-started {
    background-image: url(../images/line-getting-started.svg);
    background-position: 21%;
    background-repeat: no-repeat;
}

.bg-getting-started-third-1 {
    background-image: url(../images/bg-getting-started-third-1.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
    bottom: 0;
}

.bg-getting-started-second {
    background-image: linear-gradient(#b75700 50%, rgba(255, 255, 255, 0) 0%);
    background-position: right;
    background-size: 2px 20px;
    background-repeat: repeat-y;
}

.getting-started-fourth {
    background-image: url(../images/bg-getting-started-fourth.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.getting-started-fifth-number-bg {
    background-image: url(../images/backgound-getting-started5.svg);
    background-position: left 34px;
    background-repeat: no-repeat;
    background-size: 57%;
}

.getting-started-fifth-carousel5 .main-carousel .owl-theme .custom-nav {
    top: 138px;
}

.getting-started-fifth-carousel5 .main-carousel .owl-theme .custom-nav .owl-prev {
    left: -50px;
}

.getting-started-fifth-carousel5 .main-carousel .owl-theme .custom-nav .owl-next {
    right: -50px;
}


/** end geting started */


/** public offerings */

.icon-lifelong-learnings {
    width: 100px;
}


/** end public offerings */


/** slider carousel */

.owl-carousel button.owl-dot.active {
    background: #bf5700;
}

.owl-carousel button.owl-dot {
    border: 1px solid #bf5700;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 50%;
}

.testimonials .carousel .owl-dots {
    margin-top: 30px;
}

.owl-carousel .owl-dots {
    display: flex;
    justify-content: center;
}

.main-carousel {
    position: relative;
}

.main-carousel .owl-theme .custom-nav {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}

.main-carousel .owl-theme .custom-nav .owl-prev {
    background-image: url('../images/icons/slider-arrow-right.svg');
    margin-left: 15px;
}

.main-carousel .owl-theme .custom-nav .owl-next {
    background-image: url('../images/icons/slider-arrow-left.svg');
    margin-right: 15px;
}

.main-carousel .owl-theme .custom-nav .owl-prev,
.main-carousel .owl-theme .custom-nav .owl-next {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    color: inherit;
    border: none;
    z-index: 100;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-carousel .owl-theme .custom-nav .owl-prev span,
.main-carousel .owl-theme .custom-nav .owl-next span {
    font-size: 2.5rem;
    padding-bottom: 5px;
}

.main-carousel .owl-theme .custom-nav .owl-prev {
    left: 1px;
}

.main-carousel .owl-theme .custom-nav .owl-next {
    right: 1px;
}


/** end slider carousel*/


/** testimonials */

.testimonials .main-carousel .owl-theme .custom-nav {
    top: 30%;
}

.testimonials .testimonial-avatar {
    background: #fff;
    border-radius: 50%;
}

.testimonials .main-carousel .owl-theme .custom-nav .owl-prev {
    left: -30px;
}

.testimonials .main-carousel .owl-theme .custom-nav .owl-next {
    right: -30px;
}

.testimonial-role {
    color: #bf5700;
}

.testimonial-name {
    color: #bf5700;
    font-weight: bold;
}


/** end testimonials */


/** steps */

.big-num {
    font-size: 170px;
    font-weight: bold;
    font-family: "CharisSil", serif;
    color: #d6d2c4;
    line-height: 185px;
    letter-spacing: -10.22px;
}

.link-big-number {
    margin-top: 40px;
}


/** end steps */


/** industry */

.industry-image {
    max-height: 100px;
    width: auto !important;
}

#industries_carousel .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

#industries_carousel .owl-item a {
    justify-content: center;
    align-items: center;
}


/** end industry */


/** spotlight */

.spotlight {
    color: white;
    z-index: 1;
}

.bg-spotlight-content {
    background-image: url("../images/UTA_Spotlight_ClockTower.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.bg-spotlight-content-revert {
    background-image: url("../images/UTA_Spotlight_ClockTower.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    position: relative;
    z-index: 1;
}

.bg-spotlight-content a:hover {
    color: white;
}

.main-spotlight-carousel .main-carousel .owl-theme .custom-nav {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
}

.main-spotlight-carousel * {
    color: white !important;
}

.main-spotlight-carousel .main-carousel .owl-carousel button.owl-dot.active {
    background: white;
}

.main-spotlight-carousel .main-carousel .owl-carousel button.owl-dot {
    border: 1px solid white;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 50%;
}

.main-spotlight-carousel .main-carousel .owl-theme .owl-dots {
    position: absolute;
    display: flex;
    justify-content: end;
    width: 100%;
    top: 80px;
    z-index: 28;
    left: -70px;
}

.main-spotlight-carousel.revert .main-carousel .owl-theme .owl-dots {
    justify-content: start;
    left: initial;
    padding-left: 70px;
}


/** end spotlight */

.owl-carousel .owl-stage {
    display: flex;
}


/** Event */

.event-bg {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.icon-event {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 10px;
    margin-right: 15px;
}

.icon-event-large {
    padding: 20px;
}

.icon-calendar {
    background-image: url(../images/icons/calendar.svg);
}

.icon-location {
    background-image: url(../images/icons/location.svg);
}

.image-list-event {
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 50%;
}

.img-lets-connect {
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 50%;
}

.image-event {
    width: 100%;
    background-size: cover;
    border-radius: 50%;
}

.list-event-mt {
    margin-top: -60px;
}


/** End event */


/** connected */

#edit-interested--wrapper .fieldset-wrapper #edit-interested .option {
    max-width: initial;
    width: 90px;
    margin-top: 0;
}

#edit-interested--wrapper .fieldset-wrapper #edit-interested {
    width: 90%;
    display: flex;
    justify-content: center;
}

#edit-interested--wrapper .label-interested {
    font-size: 21px;
}


/** end connected */


/** simple page */

.simple-icons .icon {
    max-width: 150px;
}

.simple-icons {
    margin-top: 30px;
}


/** end simple page */


/** footer */

.required-links {
    font-size: 16px;
}

.required-links .space {
    padding-right: 3px;
    padding-left: 3px;
}

.required-links li {
    float: left;
    list-style: none;
    padding-top: 5px;
}

.required-links {
    padding: 0;
    margin: 0;
}

.footer-second a,
.footer-second span {
    font-size: 15px;
    text-decoration: underline;
}

footer.ut-footer .ut-menu--list,
ul.ut-menu--list-bold a {
    font-size: 24px;
    font-weight: bold;
    text-transform: initial;
}

footer.ut-footer a {
    color: #f1f2f4;
}

footer.ut-footer a:hover span {
    text-decoration: underline;
}

footer.ut-footer {
    background-color: #333f48;
    color: #f1f2f4;
    padding-bottom: 0;
}


/** end footer */


/** social links */

.social-links {
    padding: 0;
    margin: 0;
}

.social-links li img {
    height: 32px;
}

.social-links li {
    padding-right: 6px;
    list-style: none;
    display: inline-block;
}


/** social links */


/** Still can't find */

.still-cant-find .container-title {
    padding-top: 250px;
}

.still-cant-find {
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: right top;
    margin-top: -90px;
}


/** End still can't find */


/** request infomation */

.request-infomation-section {
    background: #bf5700;
}


/** end request infomation */

.subscribe img {
    width: 32px;
    padding-right: 10px;
}

#block-address {
    margin-top: 50px;
}


/** program finder */

.program-filter-keyword {
    position: absolute;
    top: -100px;
    left: 0;
}

.search-icon {
    height: 30px;
    top: 7px;
    right: 0;
    width: 46px;
    fill: #bf5700;
}

#edit-keyword-search-show {
    border-radius: 5px;
}

.course-label {
    font-size: 15px;
    text-transform: uppercase;
}

.course-img {
    object-fit: cover;
}

.course-title {
    font-size: 33px;
}

.course-img-wp {
    height: 260px;
}

.course-filter .form-search {
    width: 100%;
}

.bg-course-dark {
    background-color: #008896;
}

[type="checkbox"]:focus+label::before,
[type="radio"]:focus+label::before {
    outline: none;
}

[type="checkbox"]+label::before,
[type="radio"]+label::before {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

.filter-group .filter-btn-collapsible {
    color: #bf5700;
    cursor: pointer;
}

.filter-group .filter-group-wp {
    font-size: 21px;
    font-weight: 500;
    border-bottom: 1px solid #333f48;
    margin-bottom: 15px;
}

.filter-group .filter-group-wp {
    display: flex;
    justify-content: space-between;
}

.filter-group .form-checkboxes .form-item .filter-des {
    font-size: 15px;
}

.filter-group .form-checkboxes .form-item .filter-label {
    flex: 1;
}

.filter-group .form-checkboxes .form-item label {
    display: flex;
    margin-top: 10px;
    padding-bottom: 5px;
}

.border-top-dark {
    border-top: 1px solid #333f48;
}

.border-left-dark {
    border-left: 1px solid #333f48;
}

.border-right-dark a {
    color: #f1f2f4;
}

.border-right-dark {
    border-right: 1px solid #333f48;
}

.border-bottom-dark {
    border-bottom: 1px solid #333f48;
}

.row-course-item-border-left {
    border-left: 1px solid #333f48;
}

.icon-filter {
    padding: 13px;
    background-repeat: no-repeat;
    margin-left: 10px;
    cursor: pointer;
}

.icon-filter-open {
    background-image: url("../images/icons/open-filter.svg");
}

.icon-filter-close {
    background-image: url("../images/icons/close-filter.svg");
}

.course-title,
.course-taxonomy {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/** end program finder */


/** learn from best */

.learn-from-the-best .wp-image-top {
    display: flex;
    justify-content: center;
    margin: auto;
}

.learn-from-the-best-icons {
    /*margin-top: -90px;*/
    margin-top: 50px;
}


/** learn from best */


/** list events */

.event-item {
    border-top: 2px solid #c8c9cb;
    padding-top: 30px;
}

.event-title {
    z-index: 5;
}


/** end list events */


/** faq */

.faq-header .h3 {
    margin-bottom: 0;
}

.faq-header {
    cursor: pointer;
    background-color: #cecabc;
    border-bottom: 1px solid #b75700;
    margin-top: 47px;
    padding: 28px 46px 28px 46px;
}

.arrow-faq-down {
    background-image: url(../images/icons/arrow-down.svg);
}

.arrow-faq-left {
    background-image: url(../images/icons/arrow-left.svg);
}

.arrow-faq {
    cursor: pointer;
    padding: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


/** end faq */

.scroll-to-top svg {
    width: 36px;
    height: 36px;
    transform: rotate(180deg);
}

.scroll-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background: #fff;
    padding: 10px;
    border: 1px solid #b75700;
}

form#user-login-form,
form#user-pass {
    max-width: 400px;
    margin: auto auto 50px;
}

.bg-dark {
    background-color: #333f48 !important;
}

.messages.messages--error {
    display: none;
}

@media only screen and (min-width: 768px) {
    .hero-background-mobile {
        background-position-x: 100%;
    }
    .image-bottom img,
    .image-top img,
    .image-middle {
        width: 200px !important;
    }
    .image-middle {
        height: 200px !important;
    }
}

@media screen and (min-width: 900px) {
    ul.subnav {
        padding-right: 0;
    }
}

@media only screen and (min-width: 992px) {
    .content-hero-home-page {
        min-height: 730px;
    }
}

@media only screen and (max-width: 900px) {
    .list-event-mt {
        margin-top: 0;
    }
    .out-mission {
        margin-top: 0;
    }
    .title-who-we-are .image-top {
        margin-left: inherit;
    }
    .learn-from-the-best-icons {
        margin-top: 0;
    }
    .position-sm-relative {
        position: relative !important;
    }
    .heading-with-three-images-background {
        background-position-x: 900000px;
    }
}

.equal-height-container,
.equal-height-items {}

.owl-item.active {
    position: relative;
    z-index: 1;
}

.uta-image-circles {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    .bg-spotlight-content-revert,
    .bg-spotlight-content {
        background-image: none;
    }
    .contact-us-title .image-bottom>div {
        width: 100px;
        height: 100px;
    }
    .h-sm-auto {
        height: initial !important;
    }
    .getting-started-fifth-carousel5 .main-carousel .owl-theme .custom-nav .owl-prev {
        left: -30px;
    }
    .title-who-we-are .image-top {
        width: 100px;
        height: 100px;
    }
    .getting-started-fifth-carousel5 .main-carousel .owl-theme .custom-nav .owl-next {
        right: -30px;
    }
    .three-icon-container {
        margin-top: initial;
    }
    .list-leadership {
        margin-top: 0;
    }
    .program-filter-keyword {
        position: relative;
        min-width: initial;
        top: initial;
        left: initial;
        margin-bottom: 20px;
    }
    .title-base .content,
    .title-program .content {
        padding-bottom: 0;
    }
    .modal-menu.primary-menu {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 55px;
    }
    .still-cant-find {
        background-size: contain;
        background-position: center 120px;
    }
    .wp-bg-why-uta img {
        width: 95%;
    }
    .image-bottom img,
    .image-top img,
    .image-middle img {
        width: 100px;
    }
    .bg-why-uta {
        width: 90%;
        top: -30px;
        right: -5%;
        left: initial;
    }
    .line-img-uta {
        min-height: initial;
    }
    .wp-image-with-text .h1 {
        padding-top: 50px;
    }
    .top-areas-of-study .image-top {
        width: 90%;
    }
    .bg-top-area-study {
        width: 90%;
        top: -30px;
        right: 0;
        left: initial;
    }
    .main-spotlight-carousel.revert .main-carousel .owl-theme .owl-dots {
        padding-left: initial;
    }
    .main-spotlight-carousel.revert .main-carousel .owl-theme .owl-dots,
    .main-spotlight-carousel .main-carousel .owl-theme .owl-dots {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        bottom: 22px;
        z-index: 28;
        top: initial;
        left: initial;
    }
    .main-spotlight-carousel .main-carousel .owl-theme .custom-nav {
        bottom: 55px;
        top: initial;
    }
    .spotlight-content {
        padding-bottom: 70px;
    }
    .h2 {
        font-size: 20px;
    }
    .spotlight {
        background: #bf5700;
    }
    .testimonials .main-carousel .owl-theme .custom-nav {
        top: 22%;
    }
    .testimonials-gst .main-carousel .owl-theme .custom-nav {
        top: 16%;
    }
    .testimonials .main-carousel .owl-theme .custom-nav .owl-prev {
        left: -10px;
    }
    .testimonials .main-carousel .owl-theme .custom-nav .owl-next {
        right: -10px;
    }
    .primary-menu-content {
        padding-top: 10px;
    }
    .heading-with-three-images .image-middle {
        width: 120px;
        height: 120px;
    }
    ul.subnav ul li a.is-active,
    ul.subnav ul li a:hover,
    ul.subnav li a,
    ul.subnav li a.is-active,
    ul.subnav li a:hover {
        padding-bottom: 35px;
        font-size: 25px;
    }
}