@font-face {
    font-family: “Proxima Nova”;
    src: url(“https://info.grokker.com/rs/743-AWQ-437/images/ProximaNova-Regular.woff2”) format(“woff2”), url(“https://info.grokker.com/rs/743-AWQ-437/images/ProximaNova-Regular.woff”) format(“woff”);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: “Proxima Nova”;
    src: url(“https://info.grokker.com/rs/743-AWQ-437/images/ProximaNova-Bold.woff2”) format(“woff2"), 
 url(“https://info.grokker.com/rs/743-AWQ-437/images/ProximaNova-Bold.wofff”) format(“woff”);
    font-style: normal;
    font-weight: bold;
}