@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');
* {
    font-family: 'Inter', sans-serif;
}

html {
    scrollbar-width: none;
}

body {
    background: #fff;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

div#full-img img {
    width: 100%;
}


/*  typography */

h1 {
    font-size: 58px;
    font-weight: 700;
    line-height: 70.19px;
    margin: 0;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
}

section p {
    line-height: 28px;
}

.section-5 li {
    line-height: 28px;
    padding: 1.75rem;
}

h2 span,
h2 {
    font-size: 45px;
    text-align: center;
}


/* general */

.flex-container {
    display: flex;
    width: 94%;
    max-width: 1160px;
    margin: 0 auto;
    vertical-align: middle;
    align-items: center;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

section {
    width: 90vw;
    margin: 0 auto;
    max-width: 1160px;
}

.container_inner {
    margin: 0 auto;
    max-width: 1160px;
    width: 100%;
}

section .img-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.overlay {
    vertical-align: middle;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-1 .flex-container {
    flex-wrap: wrap;
}

.section-1 .img-container {
    flex: 1 0 105px;
}

.section-1 img {
    width: fit-content;
    height: auto;
    margin: 0 auto;
    min-width: 90px;
}

.section-3 img {
    width: fit-content;
    height: auto;
    max-width: 90vw;
}

div#logo {
    padding: 25px 0px;
    width: 95%;
    margin: 0 auto;
    top: 0;
    position: absolute;
}

#logo img {
    max-width: 200px;
    height: auto;
}

#footer img {
    max-width: 200px;
    height: auto;
}


/*  banner */

.banner .flex-container {
    padding: 3rem 3rem 0;
    max-width: 1600px;
    margin: 0 auto;
}

.overlay h1 {
    font-size: 54px;
    color: #262827;
    line-height: 1.05em;
    display: inline-block;
    position: relative;
    font-weight: bold;
    text-align: left;
    text-shadow: none;
}

.overlay p {
    font: normal 300 21px/30px 'Inter', sans-serif !important;
    font-family: 'Inter', Helvetica, Arial, sans-serif !important;
    margin: 10px 0px 30px 0px;
    color: #262827;
}

.banner {
    min-height: 735px;
}

header {
    background: rgb(255, 255, 255, 0.65);
    padding: 3rem 3rem 2rem 3em;
}

header h1 {
    margin: 0;
}

.banner-button {
    font-weight: 600;
    line-height: 24px;
    line-height: 24px;
    margin-left: 3rem;
    margin-top: -2rem;
}

.banner-button p {
    position: relative;
    display: flex;
    align-items: center;
}

.banner span {
    position: relative;
    margin: 0 0 0 80px;
    font-weight: 600;
}

.banner-button span:before {
    content: "";
    display: block;
    width: 78px;
    height: 2.5px;
    background: #000;
    top: 47%;
    position: absolute;
    right: 0%;
    left: -52%;
}

.btn-banner,
.popup-btn {
    border-radius: 120px !important;
    padding: 16px 45px 17px !important;
    font-family: 'Inter', sans-serif !important;
    font-size: 21px !important;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border: 0;
    background-color: #0da2d4;
    color: #fff !important;
    text-decoration: none;
    -webkit-border-radius: 2px;
    white-space: normal;
    border-radius: 2px;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -ms-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
    -webkit-appearance: none;
}

.close-btn {
    border-radius: 120px !important;
    padding: 10px !important;
    height: 45px;
    width: 45px;
    font-family: 'Inter', sans-serif !important;
    font-size: 21px !important;
    position: absolute;
    top: 0px;
    right: 0;
    font-weight: 400;
    vertical-align: top;
    cursor: pointer;
    border: 0;
    background-color: #0da2d4;
    color: #fff !important;
    text-decoration: none;
    -webkit-border-radius: 2px;
    white-space: normal;
    border-radius: 2px;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -ms-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
    -webkit-appearance: none;
}


/* section 1 */

.img-container {
    width: calc((100% / 5) - 0.5rem);
}

.section-5 .column-1,
.section-5 .column-2 {
    border: 0;
    border-radius: 20px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    max-width: 550px;
}

.column-2 span {
    color: #ffffff;
}

.section-5 h5 {
    margin: 0;
    padding: 1.25rem;
}

.section-5 .column-2 {
    margin-bottom: -1rem;
}

.section-5 .column-2 h5 {
    background: #009DD1;
    color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 2rem;
}

.section-5 ul {
    list-style: none;
    padding: 0;
}

h2.orange:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #f68f1e;
    width: 5px;
    height: 100%;
    border-radius: 3px;
}

h2.orangeb:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #f68f1e;
    width: 5px;
    height: 100%;
    border-radius: 3px;
}

.section-7 .column-1 h2,
.section-7 .column-1 p,
.section-7 .column-1 span {
    color: #ffffff;
    text-align: center;
    margin-top: 0px;
}

h2.orange,
h2.orangeb {
    line-height: 1.15em;
    font-weight: 400;
    font-size: 45px;
    padding-left: 30px;
}

.quote {
    padding: 3rem 2rem 3rem;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    width: 80%;
}

.section-6 .quote {
    background: none;
}

.quote p {
    color: #ffffff;
}

@media (max-width: 800px) {
    .banner {
        min-height: unset !important;
    }
    header {
        margin-top: 10vh !important;
    }
    .banner .flex-container {
        padding: 3rem 1rem 1rem;
    }
    .banner-button {
        margin-left: 5%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 40px !important;
    }
    .section-5 li span {
        font-size: 18px!important;
    }
    .img-container {
        padding: 10px 0px;
    }
    .section-5 li,
    section p {
        line-height: 28px;
        text-align: center;
        padding: 10px;
    }
    p {
        font-size: 14px;
    }
    .banner-button p {
        white-space: nowrap;
    }
    .banner-button span:before {
        left: -83px;
    }
    .section-6 .speaker-1 .quote,
    .section-6 .speaker-2 .quote,
    .section-6 .speaker-3 .quote {
        margin: 1rem auto 2rem !important;
        display: block!important;
        height: auto!important;
    }
    h2 span,
    h2 {
        font-size: 30px!important;
    }
    div#logo .container_inner,
    div#footer .container_inner {
        text-align: center;
    }
    h2.orange,
    h2.orangeb {
        line-height: 1.15em;
        font-weight: 400;
        font-size: 25px;
        padding-left: 0px;
        height: auto!important;
    }
}