/* typography */

.name span {
    font-size: 24px;
    line-height: 28px;
}

.section-6 .flex-container {
    gap: 1.5rem;
    align-items: center;
    flex-wrap: nowrap !important;
    flex-direction: row !important;
}

.section-6 .speaker-1 .flex-container-col,
.section-6 .speaker-2 .flex-container-col,
.section-6 .speaker-3 .flex-container-col {
    width: 20%;
}

.section-6 .speaker-2 .flex-container {
    flex-direction: row-reverse !important;
}

.section-6 img {
    min-width: 122px;
    margin: 1rem auto 1rem;
}

.section-6 .speaker-1,
.speaker-2 .speaker-2,
.section-6 .speaker-3 {
    margin: 1rem auto 3rem;
    flex-wrap: nowrap;
}

.section-6 .speaker-1 .quote,
.section-6 .speaker-3 .quote {
    margin: 1rem 1.5rem 1rem 0;
}

.section-6 .speaker-2 .quote {
    margin: 1rem 0 1rem 1.5rem;
}

.quote {
    background: #d9d9d9;
    padding: 3rem 2rem 3rem;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    width: 80%;
}

.section-6 .pointer {
    background: url(https://4107466.fs1.hubspotusercontent-na1.net/hubfs/4107466/Polygon%201.svg);
    background-size: cover;
    background-position: center;
    position: absolute;
    right: -5%;
    z-index: -1;
    width: 70px;
    height: 70px;
    width: 90px;
}

.section-6 .speaker-2 .quote {
    flex-direction: row-reverse;
}

.section-6 .speaker-2 .pointer {
    left: -5%;
    transform: rotate(180deg);
}

@media (max-width: 950px) {
    .section-6 .speaker-1 .quote,
    .section-6 .speaker-3 .quote {
        margin: 1rem 3rem 1rem 0;
    }
    .section-6 .speaker-1 .pointer,
    .section-6 .speaker-3 .pointer {
        right: -10%;
    }
    .section-6 .speaker-2 .quote {
        margin: 1rem 0rem 1rem 3rem;
    }
    .section-6 .speaker-2 .pointer {
        left: -10%;
    }
}

@media (max-width: 480px) {
    .section-6 .flex-container,
    .section-6 .speaker-2 .flex-container {
        flex-direction: column !important;
    }
    .section-6 .speaker-1 .flex-container-col,
    .section-6 .speaker-2 .flex-container-col,
    .section-6 .speaker-3 .flex-container-col {
        width: 100%;
    }
    .section-6 .speaker-1 .quote,
    .section-6 .speaker-2 .quote,
    .section-6 .speaker-3 .quote {
        margin: 1rem auto 2rem !important;
    }
    .section-6 .pointer,
    .section-6 .speaker-2 .pointer {
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        bottom: -20%;
    }
}