.text-banner-container h1 {
    font-size: 43px;
    max-width: 700px;
    white-space: normal;
    margin: 0 !important;
}

.text-banner-container {
    max-width: 1495px;
    padding: 0 25px;
    margin: 2rem auto 0;
}

.text-banner-container .container_inner {
    background: #097D88;
    border-radius: 10px;
    max-width: 1495px;
    padding: 6rem 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1075px) {
    .text-banner-container .container_inner {
        gap: 2rem;
        padding: 4rem 5rem;
    }
}

@media screen and (max-width: 850px) {
    .text-banner-container h1 {
        font-size: 32px;
        white-space:
    }
    .text-banner-container .container_inner {
        justify-content: center;
    }
}

@media screen and (max-width: 350px) {
    .cta_button {
        font-size: 15px !important;
        padding: 0.6rem 3rem !important;
    }
}