.leadership .flex-container {
    gap: 1.5rem;
}

.leadership .card-inner-container {
    width: calc((100% / 5) - 0.5rem);
}

.cards_container_2 .cardicon img {
    max-width: 95%;
}

.divider-2 {
    width: 73px;
    height: 7px;
    margin: 46.5px auto;
    background-color: #89eabf;
    text-align: center;
}

.cards_container_2 .cardtext {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
}

.col33 {
    position: relative;
    width: auto;
}

.cardtext {
    opacity: 1;
}

.cardicon-img {
    opacity: 1;
}

.flex-container {
    display: flex;
}

a.card,
.col33>.card {
    height: 100%;
}

@media screen and (max-width:955px) {
    .leadership .card {
        justify-content: center;
    }
    .leadership .flex-container {
        flex-direction: column;
        justify-content: left;
        gap: 2rem;
    }
    .leadership .card-inner-container {
        width: 100%;
    }
    .leadership .card {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .leadership img {
        width: 50vw;
        height: auto;
        max-width: 270px !important;
    }
    .flex-container .col33 {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .leadership .card {
        flex-direction: column;
    }
}