#three-columns .container_inner {
    display: flex;
    justify-content: center;
}

.three-columns-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30rem;
    gap: 1rem;
    width: 100%;
    max-width: 1495px;
    flex-wrap: wrap;
    padding: 0 25px;
}

.stack-container {
    width: calc(100% / 3);
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: left !important;
    box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.1), 0px 4px 20px -2px rgba(50, 50, 71, 0.08);
    border-radius: 10px;
    padding: 3.5rem 2.5rem 0;
    flex: 1 0 300px;
    max-width: 500px;
    height: 400px;
}

#three-columns .column-text {
    text-align: left;
    margin-top: 2rem;
}

#three-columns .img-container {
    display: flex;
    text-align: left;
    align-items: center;
    margin-top: -1.5rem;
    margin-bottom: -1.5rem;
}

#three-columns h5,
#three-columns span {
    color: #425466 !important;
    line-height: 1.3 !important;
}

#three-columns h5 {
    margin-bottom: 1.2rem;
}

#three-columns svg {
    fill: #000000;
}

#three-columns .column-text p {
    margin-top: 3rem;
}

#three-columns .column-text p span {
    color: #000000 !important;
    font-size: 24px;
    font-weight: 800 !important;
}

#three-columns .stack-container:nth-child(1) img {
    width: 135px;
    height: auto;
    max-width: 100%;
    margin-top: -1rem;
}

#three-columns .stack-container:nth-child(2) img {
    width: 192px;
    height: auto;
    max-width: 100%;
}

#three-columns .stack-container:nth-child(3) .icon-side-img {
    width: 79px;
    height: auto;
    max-width: 100%;
}

#three-columns .stack-container:nth-child(3) .icon-img {
    width: 221px;
    height: auto;
    max-width: 100%;
}

@media screen and (max-width: 850px) {
    #three-columns h5,
    #three-columns p {
        text-align: left !important;
    }
    .three-columns-wrapper {
        justify-content: center;
        top: 20rem;
    }
}