.mktoForm select.mktoField {
    padding-top: 13.5px !important;
    padding-bottom: 13.5px !important;
}

.mktoForm .mktoFormRow:nth-of-type(11),
.mktoForm .mktoFormRow:nth-of-type(8) {
    margin-top: 2rem;
}