.mktoForm .mktoFormRow:nth-last-of-type(-n+4) .mktoFieldWrap {
    display: flex;
}

.mktoForm .mktoFormRow:nth-last-of-type(-n+4) .mktoLabel {
    padding: 0 !important;
    min-width: 91px !important;
}

.mktoForm .mktoRadioList,
.mktoForm .mktoCheckboxList {
    padding: 0 !important;
}

.mktoForm input[type="checkbox"],
.mktoForm input[type="radio"] {
    width: 1rem !important
}