#section2 {
    padding: ${section2-pad-top} 0 ${section2-pad-btm};
}

#section3 {
    padding: ${section3-pad-top} 0 ${section3-pad-btm};
}

#section4 {
    padding: ${section4-pad-top} 0 ${section4-pad-btm};
}

#section5 {
    padding: ${section5-pad-top} 0 ${section5-pad-btm};
}

#section6 {
    padding: ${section6-pad-top} 0 ${section6-pad-btm};
}

#section7 {
    padding: ${section7-pad-top} 0 ${section7-pad-btm};
}