#banner-form p {
    color: #000000;
}

#section2 p {
    color: #ffffff;
}

#section3 p {
    color: #000000
}

#section4 p {
    color: #000000
}

#section5 p {
    color: #ffffff;
}

#section6 p {
    color: #000000;
}

#section7 p {
    color: #000000;
}