.section {
    border: solid 2px red;
}


/* section 2 */

#section2 {
    background-color: blue;
    min-height: 250px;
}

#section2 h1 {
    font-size: 44px;
}

#section2 p {
    font-size: 18px;
}

#section2 h1,
#section2 p {
    color: #ffffff;
}

#section2 .section-content-images {
    position: relative;
}

#section2 .section-content-images img {
    position: absolute;
}

#section2 .section-content-images img:nth-child(1) {
    top: 0.5rem;
    left: 1rem;
}

#section2 .section-content-images img:nth-child(2) {
    top: 0.5rem;
    left: 13rem;
}


/* section 3 */

#section3 {
    padding-top: 5rem;
}