.section {
    border: solid 2px red;
}


/* section 2 */

#section2 {
    background-color: #154A3E;
    min-height: 250px;
}

#section2 h1 {
    font-size: 44px;
}

#section2 p {
    font-size: 18px;
}

#section2 h1,
#section2 p {
    color: #ffffff;
}

#section2 .section-content-images {
    position: relative;
}

#section2 .section-content-images img {
    position: absolute;
}

#section2 .section-content-images img:nth-child(1) {
    top: 0.5rem;
    left: 1rem;
}

#section2 .section-content-images img:nth-child(2) {
    top: 0.5rem;
    left: 13rem;
}


/* section 3 */

#section3 {
    background-color: #ffffff;
    padding-top: 5rem;
}


/* section 4 */

#section4 {
    background-color: #FFF1E6;
}


/* sectoin 5 */

#section5 {
    background-color: #196856;
}


/* section 6 */

#section6 {
    background-color: #ffffff;
}


/* section 7 */

#section7 {
    background-color: #FFF1E6;
}