   .eu .mktoForm input[type="text"],
   .eu .mktoForm input[type="url"],
   .eu .mktoForm input[type="email"],
   .eu .mktoForm input[type="tel"],
   .eu .mktoForm input[type="number"],
   .eu .mktoForm input[type="date"],
   .eu .mktoForm textarea.mktoField,
   .eu .mktoForm select.mktoField,
   .mktoForm input[type=text],
   .mktoForm input[type=url],
   .mktoForm input[type=email],
   .mktoForm input[type=tel],
   .mktoForm input[type=number],
   .mktoForm input[type=date],
   .mktoForm textarea.mktoField,
   .mktoForm select.mktoField {
       margin: 0;
       padding: 10px;
       background: #fff;
       width: initial !important;
       border: 2px solid #d0d0d0 !important;
       border-radius: 6px !important;
       color: #5d5d5d !important;
       min-height: 2.5rem;
       box-shadow: none !important;
       box-sizing: content-box !important;
       padding: 0.7rem 1.5rem !important;
   }