    /* logo section */
    
    #logos-sec li p {
        color: #fff;
        text-align: center;
        margin-top: 20px;
        font-weight: 600;
        font-size: 18px;
    }
    
    .logos-gallery li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* -- end of logo section */
    /* media queries */
    /* @media screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
        #logos-sec ul li:last-child {
            float: none;
        }
        #logos-sec ul {
            text-align: center;
        }
    }
    
    @media only screen and (max-width: 991px) {
        #logos-sec ul li {
            margin-right: 3%;
        }
    }
    
    @media only screen and (max-width: 767px) {
        #logos-sec ul {
            text-align: center;
        }
    }
    
    @media (max-width: 600px) {
        #logos-sec ul {
            flex-wrap: wrap;
        }
        #logos-sec ul li {
            width: 40%;
        }
    }
    
    @media only screen and (max-width: 448px) {
        #logos-sec ul li {
            width: 100%;
        }
    } */