    @font-face {
        font-family: 'AvenirNextLTPro-Regular';
        src: url('https://186-IZZ-202.mktoweb.com/rs/186-IZZ-202/images/avenirregular.eot'), url('https://186-IZZ-202.mktoweb.com/rs/186-IZZ-202/images/avenirregular.eot?#iefix') format('embedded-opentype'), url('https://186-IZZ-202.mktoweb.com/rs/186-IZZ-202/images/AvenirNextLTPro-Regular.ttf') format('truetype'), url('https://186-IZZ-202.mktoweb.com/rs/186-IZZ-202/images/AvenirNextLTPro-Regular.woff') format('woff'), url('https://186-IZZ-202.mktoweb.com/rs/186-IZZ-202/images/avenirregular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }