/* Add your custom CSS below */

.mktoAsterix {
    display: none !important;
}

.mktoGutter,
.mktoOffset {
    display: none !important;
    width: 0px !important;
}

.mktoForm .mktoFormRow {
    border: solid 0.1px transparent;
}

.mktoButtonRow {
    width: 100% !important;
}

div .mktoFieldDescriptor {
    margin-bottom: 0px!important;
}

button {
    border-color: white!important;
    background-color: white!important;
    display: block!important;
    width: 100%!important;
    padding: 13.98px 25.96px 13.98px!important;
    color: #0d32d3!important;
    border-radius: 1000px!important;
    overflow: hidden!important;
    font-size: 15px!important;
    font-weight: 500!important;
}

.mktoButton {
    border-color: white!important;
    background-color: white!important;
    display: block!important;
    width: 100%!important;
    padding: 13.98px 25.96px 13.98px!important;
    color: #0d32d3!important;
    border-radius: 1000px!important;
    overflow: hidden!important;
    font-size: 15px!important;
    font-weight: 500!important;
}

.mktoForm .mktoError {
    position: absolute !important;
    z-index: 99 !important;
    color: #bf0000 !important;
}

.mktoError {
    right: auto !important;
    bottom: auto !important;
}

.mktoForm .mktoError .mktoErrorArrowWrap {
    width: 16px !important;
    height: 8px !important;
    overflow: hidden !important;
    position: absolute !important;
    top: 0 !important;
    left: 5px !important;
    z-index: 100 !important;
}

.mktoForm .mktoError .mktoErrorMsg {
    display: block !important;
    margin-top: 4px !important;
    background-color: #e51b00 !important;
    background-image: -webkit-linear-gradient(#e51b00 43%, #ba1600 100%) !important;
    background-image: -moz-linear-gradient(#e51b00 43%, #ba1600 100%) !important;
    background-image: linear-gradient(#e51b00 43%, #ba1600 100%) !important;
    background-image: -ms-linear-gradient(#e51b00 43%, #ba1600 100%) !important;
    border: 1px solid #9f1300 !important;
    -webkit-border-radius: 6px !important;
    border-radius: 6px !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.65) 0 2px 7px, inset #ff3c3c 0 1px 0px !important;
    box-shadow: rgba(0, 0, 0, 0.65) 0 2px 7px, inset #ff3c3c 0 1px 0px !important;
    color: #f3f3f3 !important;
    font-size: 1em !important;
    line-height: 1.2em !important;
    max-width: 20em !important;
    padding: 0.4em 0.6em !important;
    text-shadow: #901100 0 -1px 0 !important;
}

.mktoButtonRow>span {
    margin-left: 0px !important;
}

.mktoCheckboxList {
    width: 45px !important;
    padding-bottom: 15px !important;
}

.mktoFieldWrap .mktoLogicalField input[type="checkbox"] {
    background-color: #fff;
}

input,
textarea {
    -o-appearance: button;
    -ms-appearance: button;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

.mktoForm .mktoLabel {
    font-family: 'MetricWeb-Regular', sans-serif !important;
    font-size: 14px;
    font-weight: 400;
}

.mktoForm .mktoHtmlText span {
    font-size: 14px!important;
}

.mktoHtmlText.mktoHasWidth {
    padding-left: 10px;
    padding-right: 10px;
}