@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
.mktoForm .mktoOffset {
    display: none !important
}

.mktoForm {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    overflow: hidden;
}

.mktoForm .mktoFormRow {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.mktoForm input[type=checkbox]+label:before {
    box-shadow: none;
    font-size: 23px;
    margin-top: -0.3em;
    color: #477cb5 !important;
    border: solid 1px #477cb5 !important;
}

.mktoForm input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #ffffff;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.mktoForm input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #ffffff;
    background-color: green;
}

.mktoForm input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.mktoForm input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
    color: green;
    cursor: not-allowed;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    background: #e48025 !important;
    border: solid 1px #e48025 !important;
    font-size: 18px !important;
    text-transform: uppercase;
    padding: 1rem 2rem !important;
    margin-top: 2rem;
}

@media (max-width: 480px) {
    .mktoForm input[type=checkbox]+label:before,
    .mktoForm input[type=radio]+label:before {
        margin-top: 0.5rem;
        margin-left: -1.5rem;
    }
    .mktoForm .mktoFormRow .mktoFormCol {
        width: 30%;
        margin: 0 0.2rem;
        min-width: 150px;
    }
}