* {
    font-family: Helvetica, sans-serif;
}

#mktoForm_1127 {
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 1px 1px 2px rgb(91 101 130 / 10%);
}

.mktoForm {
    width: unset !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    max-width: 1240px;
    padding: 50px;
}

.mktoForm h5 {
    font-size: 1em;
}

.label-break {
    font-size: 0.95em !important;
    margin-left: 35px !important;
    width: fit-content !important;
}

.mktoForm .mktoOffset {
    display: none!important;
}

.mktoForm .mktoLabel {
    display: none;
}

.mktoForm fieldset {
    border: 0!important;
}

.mktoForm fieldset:nth-of-type(1) .mktoFormRow {
    width: 100%;
}

.mktoForm fieldset legend {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    margin: 0 0 2rem !important;
}

::-webkit-input-placeholder {
    color: #00487A!important;
    font-weight: bold;
}

::-moz-placeholder {
    color: #00487A!important;
    font-weight: bold;
}

:-ms-input-placeholder {
    color: #00487A!important;
    font-weight: bold;
}

:-moz-placeholder {
    color: #00487A!important;
    font-weight: bold;
}

.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
    padding: 15px!important;
    width: 95%!important;
    background: #fcfcfc!important;
    border-radius: 2px!important;
    border: 1px solid #cccccc!important;
}

.mktoForm .mktoGutter {
    display: none!important;
}

.mktoForm .mktoFormCol {
    width: 100%!important;
}

.mktoLogicalField.mktoCheckboxList.mktoHasWidth {
    width: 100%!important;
}

.mktoForm .mktoFieldWrap {
    width: 100%!important;
}


/* first three rows in one line */

.mktoForm .mktoFormRow:nth-of-type(-n+3) {
    width: calc((100% / 3) - 1rem);
}

@media (max-width: 900px) {
    .mktoForm .mktoFormRow:nth-of-type(-n+3) {
        width: 100% !important;
    }
}

.mktoForm fieldset {
    margin: 3rem 0 -1rem !important;
}


/* 2nd fieldset with two columns layout */

.mktoForm .mktoFormRow:nth-of-type(5) fieldset {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between;
    gap: 1rem 1rem;
}

.mktoForm .mktoFormRow:nth-of-type(5) fieldset .mktoFormRow {
    width: calc((100% / 2) - 0.5rem) !important;
}

@media (max-width: 1100px) {
    .mktoForm .mktoFormRow:nth-of-type(5) fieldset .mktoFormRow {
        width: 100% !important;
    }
}

.mktoForm .mktoRadioList>label,
.mktoForm .mktoCheckboxList>label {
    margin-left: 2em;
    margin-top: 0!important;
    font-weight: bold!important;
    color: #00487A!important;
    font-size: 1.25em!important;
    width: fit-content !important;
    margin-bottom: 0!important;
}

.mktoHtmlText.mktoHasWidth {
    width: 100%!important;
    color: #333333!important;
    font-size: 1.15em!important;
    font-weight: 300!important;
    margin-top: 0px!important;
    margin-bottom: 15px!important;
}

.formdescription {
    margin-left: 2.4em!important;
}

.mktoForm .mktoFormCol {
    min-height: auto!important;
}

.mktoForm .mktoRadioList>input,
.mktoForm .mktoCheckboxList>input {
    margin-top: 3px!important;
    padding: 0;
}

.mktoButton {
    letter-spacing: 1px!important;
    font-size: 15px!important;
    background-image: none!important;
    background-color: #4a90e2!important;
    border: 0!important;
    color: #fff!important;
    padding: 15px 45px!important;
    font-weight: 600!important;
    border-radius: 3px!important;
    width: unset !important;
}

.mktoButtonRow {
    text-align: center!important;
    padding-top: 3rem !important;
    width: 100%;
}

.mktoForm .mktoButtonWrap {
    margin: 0 auto !important;
}

@media (max-width: 650px) {
    .mktoForm input[type=text],
    .mktoForm input[type=url],
    .mktoForm input[type=email],
    .mktoForm input[type=tel],
    .mktoForm input[type=number],
    .mktoForm input[type=date],
    .mktoForm textarea.mktoField,
    .mktoForm select.mktoField {
        padding: 15px!important;
        width: 100%!important;
        min-height: 40px !important;
    }
    .mktoForm {
        padding: 15px!important;
        display: block!important;
    }
}