label {
    white-space: nowrap;
}

.smartcapture-controls {
    display: flex;
    margin-top: 3rem;
    justify-content: flex-start;
    align-items: center;
}

.select-toggle {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.form-row form .stylingblock-content-wrapper:nth-child(4) .stylingblock-content-wrapper,
.form-row form .stylingblock-content-wrapper:nth-child(8) .stylingblock-content-wrapper,
.form-row form .stylingblock-content-wrapper:nth-child(10) .stylingblock-content-wrapper {
    padding: 0;
}

.form-row form .stylingblock-content-wrapper:nth-child(3),
.form-row form .stylingblock-content-wrapper:nth-child(4),
.form-row form .stylingblock-content-wrapper:nth-child(7),
.form-row form .stylingblock-content-wrapper:nth-child(8),
.form-row form .stylingblock-content-wrapper:nth-child(9),
.form-row form .stylingblock-content-wrapper:nth-child(10) {
    width: 100%;
}

select,
option {
    font-family: Arial, Helvetica, sans-serif;
}

select {
    padding: 0.5rem;
}