.services-list li:after {
    content: "";
    background-image: url('../assets/arrow-down-solid.svg');
    background-size: 20px 20px;
    display: block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    float: right;
    border: solid;
    border-radius: 50%;
}

.open:after {
    transform: rotate(180deg);
    filter: invert(1);
    background-color: white;
    border: solid 2px white !important;
    transition: all 0.1s;
}