/* tow circles */

.dot1 {
    width: 45vh;
    max-width: 465px;
    max-height: 465px;
    height: 39vh;
    background-color: #54BCAB;
    border-radius: 50%;
    position: absolute;
    bottom: 1rem;
    opacity: 0.8;
    right: -5%;
    z-index: 2;
}

.dot2 {
    width: 12vh;
    height: 12vh;
    background-color: #F9B348;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    opacity: 0.8;
    right: 62%;
    bottom: 8rem;
    z-index: 1;
}

@media (max-width: 1368px) {
    .dot2 {
        right: 72%;
    }
}

@media(max-width: 1125px) {
    .dot2 {
        right: 43%;
    }
}

@media(max-width: 961px) {
    .dot2 {
        right: 52%;
    }
}

@media(max-width: 789px) {
    .dot2 {
        right: 64%;
    }
}

.form-container {
    z-index: 3;
}

.services-list li:after {
    content: "";
    background-image: url('../assets/arrow-down-solid.svg');
    background-size: 23px 23px;
    background-position: center;
    display: block;
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    float: right;
    border: solid 2px #124559;
    border-radius: 50%;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.open:after {
    background-image: url('../assets/arrow-white.svg') !important;
    background-color: #124559;
    border: solid 2px #124559 !important;
    transition: all 0.1s;
}

.item-title,
.btn,
.services-list li::after,
.arrow-toggle {
    cursor: pointer;
}