    @media (max-width: 1147px) {
        header {
            height: 110rem;
        }
        main {
            top: 138vh !important;
        }
        main .inner-container {
            width: fit-content !important;
        }
        .section-1,
        .section-2,
        .section-3 {
            width: 85vw !important;
        }
        .services-list {
            margin-left: -1.5rem;
        }
    }
    
    @media (max-width: 1125px) {
        header {
            height: 110rem !important;
        }
        main {
            top: 164vh !important
        }
    }
    
    @media (max-width: 740px) {
        .banner .box-inner {
            padding: 3rem 3rem 6rem;
        }
    }
    
    @media (max-width: 680px) {
        .inner-container {
            width: 95vw !important;
        }
    }
    
    @media (max-width: 580px) {
        .menu-box .item,
        .menu-box .open,
        .menu-box .closed {
            /* width: 24.47% !important; */
            width: calc((100% / 4) - 0.15rem) !important;
        }
        .hidden-content {
            width: 80% !important;
        }
    }
    
    @media (max-width: 484px) {
        .flex {
            flex: 100% !important;
        }
        header {
            height: 125rem !important;
        }
        main {
            top: 191vh !important;
        }
        .hidden-box {
            height: fit-content !important;
        }
        .box-inner {
            height: 27rem !important;
            padding: 2rem 2rem 7rem !important;
            margin: 2rem 1rem !important;
        }
        .mktoForm {
            display: flex !important;
            flex-direction: column !important;
        }
        .mktoForm textarea.mktoField {
            height: 4rem !important;
        }
        .services-list li {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
        }
    }
    
    @media (max-width: 400px) {
        .item-title {
            font-size: 14px !important;
        }
        .menu-box .active {
            font-size: 15px !important;
        }
        .box-inner h3 {
            font-size: 20px !important;
        }
        .box-inner li {
            font-size: 15px !important;
        }
        main h3 {
            font-size: 33px !important;
        }
        main p,
        main li {
            font-size: 15px !important;
        }
    }
    
    @media (max-width: 395px) {
        header {
            height: 127rem !important;
        }
        main {
            top: 195vh !important;
        }
    }
    
    @media (max-width: 340px) {
        header {
            height: 135rem !important;
        }
        main {
            top: 204vh !important;
        }
        .menu-box .box-inner {
            padding: 1.5rem 1.2rem 7rem !important;
        }
        .box-inner .btn {
            bottom: 1rem !important;
        }
        .menu-box h3,
        .menu-box .active {
            font-size: 14px !important;
        }
    }
    
    @media (max-width: 310px) {
        .box-inner li {
            font-size: 14px !important;
        }
    }