@media (max-width: 1147px) {
    header {
        height: 110rem;
    }
    main {
        top: 138vh !important;
    }
    main .inner-container {
        width: fit-content !important;
    }
    .section-1,
    .section-2,
    .section-3 {
        width: 85vw !important;
    }
    .services-list {
        margin-left: -1rem;
    }
}

@media (max-width: 1125px) {
    header {
        height: 110rem !important;
    }
    main {
        top: 164vh !important
    }
}

@media (max-width: 740px) {
    .banner .box-inner {
        padding: 3rem 3rem 6rem;
    }
}

@media (max-width: 680px) {
    .inner-container {
        width: 95vw !important;
    }
}