/* accordion banner */

.accordion {
    display: flex;
    position: relative;
}

.accordion .item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    height: 3rem;
}

.hidden-box {
    display: none;
}

.open .hidden-box {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background-color: lightblue;
}

.active {
    background-color: lightblue;
}