@import url('decoration.css');
@import url('typography.css');

/* general setup */

body {
    background: #fff;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none !important;
    overflow-x: hidden;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.flex {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.row {
    flex-direction: row;
}

.inner-container {
    width: 90%;
    margin: 0 auto;
}

.btn {
    margin: 0 auto;
    display: flex;
    font-weight: 700;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* end of general setup  */


/* buttons */

.btn,
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    background: #F15A24 !important;
    border: #F15A24 !important;
    color: #fff !important;
    border-radius: 25px !important;
    padding: 0.6rem 2rem !important;
    font-weight: 700 !important;
}

.btn-green {
    background: #124559 !important;
}

.btn a {
    color: #fff;
}


/* navbar */

navbar {
    width: 100%
}


/* header */

header {
    display: flex;
    flex-wrap: wrap;
    background-color: #124559;
    height: 100vh
}

header .inner-container {
    padding-top: 1.5rem;
}

header .col-1 .btn {
    margin-right: 100%;
    font-weight: 700;
}

.col-1,
.col-2 {
    width: 50%;
}


/* form */

.mktoForm {
    display: flex !important;
    justify-content: space-between !important
}

.mktoForm .mktoFormRow {
    width: calc(49% - 0.4rem) !important;
    margin: 0.8% 0.2rem;
}

.mktoForm input[type="text"],
.mktoForm input[type="url"],
.mktoForm input[type="email"],
.mktoForm input[type="tel"],
.mktoForm input[type="number"],
.mktoForm input[type="date"],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
    padding: 9px 12px !important;
}


/* end of header */


/* accordion banner */

.menu-box {
    display: flex;
    position: relative;
    gap: 0.2rem;
    margin-top: 2rem;
}

.menu-box .item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    margin: 1.5rem 0 0 0;
    padding: 0 2rem;
    background-color: #1B998B;
}

.hidden-box {
    display: none;
    top: 4.5rem;
}

.box-inner {
    background-color: #fff;
    margin: 2rem;
    border-radius: 15px;
    padding: 2rem 4rem;
}

.box-inner h2,
.box-inner ul {
    color: #124559 !important;
}

.box-inner ul {
    padding: 0;
    list-style: inside;
}

.open,
.closed,
.item {
    /* width: 25%; */
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.banner .open .hidden-box {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #54BCAB;
    width: 100% !important;
}

.active {
    background-color: #54BCAB !important;
    border-bottom: none !important;
    height: 4rem !important;
    margin-top: 0.5rem !important;
    border-top: solid 0.7rem #1B998B !important;
}


/* end of accordion banner */


/* toggling hidden content */

.hidden-content {
    display: none;
    transition: all 1s;
    float: left;
    width: 90%;
}

.expand,
.open .hidden-content {
    display: block;
    transition: all 1s;
}

.services-list li {
    width: 100%;
    float: left;
    margin: 0.5rem auto;
}


/* main */

main {
    position: absolute;
    top: 99vh;
    width: 100%;
    background-color: #F9B348;
}


/* sections */

.section-1,
.section-2,
.section-3 {
    width: 60vw;
    border: solid;
    margin-top: 2rem;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 1.5rem 2rem;
}

.arrow-container {
    margin: 0rem auto;
    position: relative;
}

.arrow-toggle {
    position: absolute;
    top: 0.6rem;
}

.toggled-content {
    display: none;
    transition: all 0.5s;
}

.untoggled {
    display: block;
    transition: all 1s;
}

.rotate {
    transform: rotate(180deg);
    transition: all 0.2s;
}