.mktoForm .mktoError {
    position: relative;
    left: 0;
    top: 0;
}

.mktoForm .mktoError .mktoErrorArrowWrap {
    display: none;
}

.mktoForm .mktoError .mktoErrorMsg {
    background: none;
    box-shadow: none;
    border: none;
    color: #000000;
    text-shadow: none !important;
}