    * {
        font-family: 'SnT';
    }
    
    @font-face {
        font-family: "SnT";
        src: url('http://content.kontron.com/rs/872-HYY-323/images/SnT-Regular.woff2') format('woff2');
        src: url('http://content.kontron.com/rs/872-HYY-323/images/SnT-Regular.eot') format('eot');
        src: url('http://content.kontron.com/rs/872-HYY-323/images/SnT-Regular.woff') format('woff');
        src: url('http://content.kontron.com/rs/872-HYY-323/images/SnT-Regular.ttf') format('truetype');
        src: url('http://content.kontron.com/rs/872-HYY-323/images/SnT-Regular.otf');
    }
    
    body {
        margin: 0;
        padding: 0px;
    }
    
    img {
        border: none;
    }
    
    .clear {
        clear: both;
    }
    
    .container_100 {
        width: 100%;
        margin: 0 auto;
    }
    
    .container_inner {
        width: 1300px;
        margin: 0 auto;
    }
    
    .mobilefull {
        width: 1300px;
        margin: 0 auto;
    }
    
    #bannerText3 p {
        font-size: 16px;
        line-height: 26px;
        color: #004169;
    }
    
    #Formthree {
        padding-top: 40px!important;
    }
    
    #offset {
        width: 1120px;
        margin: 0 auto;
    }
    
    #bannerText {
        width: 48%;
        float: left;
    }
    
    #bannerform {
        width: 48%;
        float: right;
    }
    
    .left {
        width: 47%;
        float: left;
    }
    
    .right {
        width: 47%;
        float: right;
    }
    
    #mktoForm_1005 .mktoForm .mktoButtonWrap.mktoGlow .mktoButton {
        text-transform: capitalize!important;
    }
    
    ul {
        padding-inline-start: 30px!important;
        margin-top: 0px!important;
    }
    
    #section7 .left {
        text-align: center!important;
    }
    
    #section7 p {
        color: #58585A;
        font-size: 16px;
        line-height: 26px;
    }
    
    #section8 p {
        color: #001254;
        font-size: 16px;
        line-height: 26px;
    }
    
    #section9 p {
        color: #001254;
        font-size: 16px;
        line-height: 26px;
    }
    
    #section11 p {
        color: #333333;
        font-size: 28px;
        line-height: 42px;
    }
    
    #section12 h3 {
        color: #005083;
        font-family: 'SnT';
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 15px;
    }
    
    #section12 p {
        color: #333333;
        font-size: 28px;
        line-height: 42px;
    }
    
    #section12 li {
        color: #333333;
        font-size: 28px;
        line-height: 42px;
    }
    
    #section16 h1 {
        margin-bottom: 15px!important;
    }
    
    #exampleVideo {
        padding: 35px 30px;
        background-image: url(https://info.blend.com/rs/287-UGB-469/images/videogradient.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
    
    .wpbtn {
        color: ##004169 font-size: 18px;
        line-height: 24px;
        text-decoration: none;
        font-family: 'SnT';
    }
    
    .wpbtn::after {
        content: url(https://info.blend.com/rs/287-UGB-469/images/Long.png);
        ;
    }
    
    #arrow::after {
        content: url(https://info.blend.com/rs/287-UGB-469/images/arrow-short.png);
    }
    
    div#section18 {
        margin-top: 50px;
    }
    
    .btnrow {
        margin-top: 50px;
    }
    
    .quoteleft {
        width: 25%;
        float: left;
    }
    
    .quoteright {
        width: 72%;
        float: left;
    }
    
    #Quote p {
        color: #263DD9;
        font-size: 48px;
        line-height: 64px;
        font-family: 'SnT';
        font-weight: bold;
        padding: 0px;
        margin: 0;
        padding-bottom: 30px;
    }
    
    #QuoteAuthor p {
        color: #4A578F;
        font-size: 28px;
        line-height: 36px;
        font-family: 'SnT';
        font-weight: bold;
        padding: 0px;
        margin: 0;
    }
    
    #QuoteAuthor .sm {
        color: #001254;
        font-size: 20px;
        line-height: 24px;
        padding: 0px;
        margin: 0;
        font-weight: 500;
    }
    
    .col33 {
        width: 29%;
        display: inline-block;
        text-align: center;
        vertical-align: top;
    }
    
    div#mid {
        margin-left: 6%;
        margin-right: 6%;
    }
    
    #resourcesh1 {
        margin-bottom: 60px;
    }
    
    .col33 h3 {
        color: #005083;
        font-size: 20px;
        line-height: 30px;
    }
    
    .col33 p {
        color: #005083;
        font-size: 16px;
        line-height: 26px;
    }
    
    #valutexth1 h1 {
        text-align: center;
        margin-bottom: 100px;
    }
    
    .wpbackground {
        background-color: #ffffff;
        padding: 15px 25px;
        height: 345px;
        width: 80%;
        text-align: left!important;
        margin-top: -50px;
        box-shadow: 0px 4px 4px 0px rgba(51, 51, 51, .25);
        z-index: 1!important;
        float: right;
        position: relative;
    }
    
    .wpbackground p {
        color: #004169;
        font-size: 16px;
        padding-bottom: 25px;
        margin-bottom: 0px;
        line-height: 26px;
        font-family: 'SnT';
    }
    
    .wpbackground h1 {
        color: #005083;
        font-size: 32px;
        line-height: 40px;
        font-weight: bold;
        font-family: 'SnT';
    }
    
    #tytext2 p {
        color: #333333;
        font-size: 16px;
        line-height: 26px;
        font-family: 'SnT';
    }
    
    #tytext2 a {
        color: #004169;
        text-decoration: none;
        border-bottom: 1px solid #F0D4EB;
    }
    
    #footer {
        border-top: #005083 2px solid;
        padding-top: 45px;
        padding-bottom: 95px;
    }
    
    #footerlogo {
        width: 140px;
    }
    
    #footer p {
        color: #005083;
        font-size: 16px;
        letter-spacing: 0.5px;
    }
    
    #footer .right a {
        color: #005083;
        margin-left: 22px;
        margin-right: 22px;
        text-decoration: none;
    }
    
    #footerlinks {
        text-align: right;
    }
    
    #footer .left {
        text-align: left;
    }
    
    .mktoForm label.mktoLabel {
        font-weight: 500!important;
        color: #000000!important;
        width: 100%!important;
        font-size: 18px!important;
        padding-bottom: 10px!important;
    }
    
    .mktoForm .mktoAsterix {
        display: none!important;
    }
    
    .mktoForm input[type=text],
    .mktoForm input[type=url],
    .mktoForm input[type=email],
    .mktoForm input[type=tel],
    .mktoForm input[type=number],
    .mktoForm input[type=date],
    .mktoForm textarea.mktoField,
    .mktoForm select.mktoField {
        padding: 20px!important;
        width: 100%!important;
        border: #B3B6C5 2px solid!important;
        border-radius: 5px!important;
    }
    
    .mktoForm .mktoGutter {
        float: left;
        height: 0px!important;
    }
    
    input {
        margin-bottom: 7px!important;
    }
    
    .mktoForm * {
        width: 100%!important;
    }
    
    .mktoButtonRow {
        margin-top: 40px!important;
    }
    
    .mktoButtonWrap {
        margin: 0px!important;
    }
    
    @media screen and (max-width: 950px) {
        .container_inner {
            width: 85%;
            margin: 0 auto;
        }
        #logo2 {
            padding-top: 0px!important;
            /* padding-bottom: 20px!important; */
            width: 250px!important;
            height: auto!important;
        }
        #logo3 {
            padding-top: 30px!important;
            padding-bottom: 20px!important;
            width: 22px!important;
            height: auto!important;
        }
        #logo {
            padding-top: 66px!important;
            padding-bottom: 70px!important;
        }
        #logo1 {
            width: 22px!important;
            height: auto!important;
        }
        .mobilefull {
            width: 100%!important;
            margin: 0 auto;
        }
        #section10 {
            background-size: 100% 100%!important;
        }
        div#mobilewide {
            width: 100%!important;
        }
        #section10 {
            padding-bottom: 60px!important;
            margin-top: 60px;
            background-image: none!important;
        }
        #exampleVideo {
            padding: 35px 0px!important;
        }
        .mixmingle {
            padding-left: 0px!important;
            padding-right: 0px!important;
        }
        #section18 .container_inner {
            width: 100%!important;
            margin: 0 auto;
        }
        .mktoForm,
        .mktoForm * {
            padding: 0px!important;
        }
        #resourcesh1 {
            width: 85%;
            margin: 0 auto;
        }
        #section11 .left {
            padding-top: 0px!important;
            padding-bottom: 0px!important;
        }
        #section11 .right {
            padding-top: 0px!important;
            padding-bottom: 0px!important;
        }
        .mktoMobileShow .mktoForm,
        .mktoForm * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            padding: 0px;
            width: 100%!important;
        }
        .mktoButtonRow {
            margin-top: 60px!important;
            text-align: center!important;
        }
        #bulletbg {
            width: 80%!important;
        }
        #exampleVideo img {
            width: 100%!important;
            height: auto!important;
        }
        #wpImg {
            width: 90%!important;
            width: auto;
            margin: 0 auto!important;
        }
        #ctaleftImg {
            width: 90%!important;
            width: auto;
            margin: 0 auto!important;
        }
        #whitepaperimg {
            width: 90%!important;
            width: auto;
            margin: 0 auto!important;
        }
        #section7 .left {
            text-align: center!important;
        }
        #section8 .right {
            text-align: center!important;
        }
        #section9 .left {
            text-align: center!important;
        }
        #section15 .right {
            text-align: center!important;
        }
        #offset h1 {
            font-size: 34px;
            line-height: 40px!important;
        }
        #offset li {
            font-size: 18px!important;
            line-height: 24px!important;
        }
        #offset p {
            font-size: 18px!important;
            line-height: 24px!important;
        }
        #Quote p {
            font-size: 28px!important;
            line-height: 35px!important;
        }
        .wpbackground {
            background-color: #ffffff;
            padding: 15px 25px;
            height: 345px;
            width: 75%;
            margin-top: -50px;
            box-shadow: 0px 4px 4px 0px rgba(51, 51, 51, .25);
            z-index: 1!important;
            float: none!important;
            margin-left: 5%!important;
            position: relative;
        }
        p {
            font-size: 16px!important;
            line-height: 26px!important;
        }
        h1 {
            font-size: 32px!important;
            line-height: 40px!important;
            margin-bottom: 15px!important;
        }
        #section7 p {
            font-size: 16px!important;
            line-height: 30px!important;
        }
        #section12 li {
            font-size: 16px!important;
            line-height: 30px!important;
        }
        p {
            font-size: 16px!important;
            line-height: 30px!important;
        }
        #section11 p {
            font-size: 18px!important;
            line-height: 24px!important;
        }
        .container_100 {
            width: 100%;
            overflow: hidden;
            margin: 0 auto;
        }
        #form1 {
            padding-top: 20px;
        }
        #section2 {
            background-size: 140% auto!important;
            padding-top: 45px;
            padding-bottom: 45px;
        }
        #logo {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        .btnrow {
            margin-top: 40px;
            text-align: center;
        }
        .col33 .mktoImg {
            display: block!important;
            width: 100%!important;
        }
        #bulletbg {
            padding: 40px 30px!important;
        }
        #footer .right a {
            color: #005083;
            margin-left: 10px;
            margin-right: 10px;
            text-decoration: none;
        }
        #offset {
            width: 88%;
            padding: 15px!important;
            margin: 0 auto;
        }
        #bannerText {
            width: 95%;
            margin: 0 auto;
            float: none;
        }
        #bannerform {
            width: 95%;
            margin: 0 auto;
            float: none;
        }
        .left {
            width: 95%;
            margin: 0 auto;
            float: none;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .right {
            width: 95%;
            margin: 0 auto;
            float: none;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .quoteleft {
            width: 95%;
            margin: 0 auto;
            float: none;
            text-align: center;
        }
        .quoteright {
            width: 95%;
            margin: 0 auto;
            float: none;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .col33 {
            width: 100%;
            margin: 0 auto;
            float: none;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        div#mid {
            margin-left: 0px;
            margin-right: 0px;
        }
        #footerlinks {
            text-align: center;
        }
        #footer .left {
            text-align: center;
        }
    }