.mktoForm {
    display: flex;
    flex-direction: column;
    max-width: 600px !important;
}

.mktoForm .mktoAsterix,
.mktoForm .mktoOffset,
.mktoForm .mktoGutter {
    display: none !important;
}

.mktoForm .mktoLabel {
    width: 100% !important;
    font-size: 13px;
    width: 175px !important;
}

.pex-form.mktoForm .mktoRequiredField label.mktoLabel::after {
    content: "*";
    float: right;
    color: #bf0000;
    padding-left: 5px;
    padding-right: 9px;
}

.mktoForm .mktoFormRow {
    width: 100%;
    display: flex !important;
    margin: 0 auto 0.3rem !important;
}

.mktoForm .mktoFormCol {
    width: 100%;
}

.mktoFieldWrap {
    width: 100% !important;
}

.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
.mktoForm select.mktoField,
.mktoForm textarea.mktoField {
    font-size: 1rem;
    width: 100% !important;
    min-width: 250px;
    padding: 0.4rem 1rem !important;
    border: 1px solid #a6a6a6;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: none !important;
    min-width: unset !important;
}

.pex-form.mktoForm .mktoButtonRow .mktoButtonWrap button.mktoButton,
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    box-shadow: none !important;
}