/* Add your custom CSS below */

form {
    margin: 0 auto;
    font-size: 18px;
}

.parent {
    position: relative;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mktoForm label,
.mktoForm .mktoHtmlText,
.mktoForm .mktoAsterix {
    color: #fff;
}

.mktoForm .mktoAsterix {
    padding: 0 1.5rem;
}

.mktoButton {
    background-color: #df7642 !important;
    background-image: none !important;
    border: none !important;
    padding: 1.3rem !important;
}


/* general flexing */

.mktoForm {
    display: flex !important;
    flex-wrap: wrap !important;
    width: 80vw !important;
    margin: 0 auto !important;
    justify-content: space-between;
    max-width: 1200px !important;
}


/* field wrap */

.mktoForm .mktoFieldWrap {
    display: flex !important;
    width: calc((100vw / 3) - 1rem);
}


/* row wrap */

.mktoForm .mktoFormRow {
    width: calc((100vw / 3) - 8vw);
    flex: 1 0 200px;
    max-width: 350px;
}

.mktoForm .mktoFormRow:nth-of-type(1) {
    width: 100%;
    padding: 0 1.5rem;
    max-width: unset !important;
    flex: unset;
    display: flex;
    justify-content: center;
}

.mktoForm .mktoFormRow:nth-of-type(1) .mktoFieldWrap {
    width: 100%;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}

.mktoForm .mktoFormRow:nth-of-type(1) .mktoLabel {
    order: 1 !important;
    width: 25% !important;
    min-width: 250px;
    margin: 1rem 0 0 0.3rem;
}

.mktoForm .mktoFormRow:nth-of-type(1) input {
    order: 2;
    margin: 1rem 0;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 2px 0 0 !important
}


/* label */

.mktoForm .mktoLabel {
    order: 2;
    width: 80% !important;
    margin-left: 3rem !important;
}


/* checkbox container */

.mktoForm .mktoLogicalField {
    order: 1;
    width: 5% !important;
    margin: 0 1rem;
}


/* button row */

.mktoForm .mktoButtonRow,
.mktoForm .mktoFormRow:nth-last-of-type(2) {
    width: 100%;
    display: flex;
    justify-content: center;
    min-width: 100%;
    margin-top: 1rem !important;
}

.mktoForm .mktoFormRow:nth-last-of-type(2) .mktoFieldWrap {
    width: 100% !important;
}


/* temp bug extra row hide */

.mktoForm .mktoFormRow:nth-of-type(2) .mktoFormCol:nth-of-type(2) {
    display: none;
}

@media (max-width: 600px) {
    .mktoForm {
        padding: 0 !important;
    }
    .mktoForm .mktoFieldWrap {
        width: 100% !important;
    }
}


/* custome checkbox */

input[type="checkbox"] {
    visibility: hidden;
}

label {
    cursor: pointer;
}

input[type="checkbox"]+label:before {
    border: 1px solid #333;
    content: "\00a0";
    display: inline-block;
    font: 20px;
    font-weight: bold !important;
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
    background: #ffffff;
}

input[type="checkbox"]:checked+label:before {
    background: #fff;
    color: #333;
    content: "\2713";
    text-align: center;
}

input[type="checkbox"]:checked+label:after {
    font-weight: bold;
}

input[type="checkbox"]:focus+label::before {
    outline: rgb(59, 153, 252) auto 5px;
}