body {
    background-color: lightblue;
}

.mktoForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.mktoForm .mktoFormRow {
    width: calc((100vw /3) - 10rem);
    flex-grow: 1;
    margin: 0 auto;
}