#video {
    background: linear-gradient(0deg, rgba(203, 231, 2, 1) 0%, rgba(203, 231, 2, 1) 40%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 100%);
    display:$ {
        videoshow
    }
    ;
    padding: $ {
        vid-mod-padding-top
    }
    px 0 $vid-mod-padding-bottom
}

px 0;
margin: $ {
    vid-mod-mg-top
}

px 0 $ {
    vid-mod-mg-bottom
}

px;

}