#mainForm-1 p {
    display: flex !important;
    justify-content: space-between !important;
    margin-bottom: 0.75rem !important;
}

#mainForm-1 label {
    width: 30% !important;
}

#mainForm-1 input {
    width: 70% !important;
    padding: 8px 5px Im !important;
}

#mainForm-1 p.submit {
    padding: 0.8rem !important;
    margin: 1rem auto !important;
}