.mktoForm .mktoRadioList>label,
.mktoForm .mktoCheckboxList>label {
    margin-left: 2em !important;
}

.mktoForm input[type=checkbox]+label:before,
.mktoForm input[type=radio]+label:before {
    margin-left: -2em !important;
}

.mktoForm.mktoLayoutAbove textarea.mktoField {
    padding: 15px 20px;
    box-shadow: none;
    font-size: 14px;
}

.mktoForm .mktoRequiredField label.mktoLabel::after {
    content: "*";
    color: #FF0000;
    margin-left: 3px;
}

.mktoForm .mktoRequiredField label.mktoLabel,
.mktoForm .mktoLabel {
    font-size: 14px;
    font-weight: 400 !important;
    margin-bottom: 0.8rem;
}

.mktoForm.mktoLayoutAbove textarea.mktoField {
    padding: 11px 20px;
    box-shadow: none;
    font-size: 14px;
}

.mktoForm .mktoRadioList>label,
.mktoForm .mktoCheckboxList>label {
    font-size: 14px;
}