/* footer */

.footer-wrapper {
    background: #3237b4;
    padding: 1rem 0;
}

.footer-wrapper .row-depth-1 {
    margin: 0 auto;
    max-width: 1400px;
    width: 90vw;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    width: 180px !important;
}

.footer-container ul {
    padding: 0;
}

.footer-container .social-icons {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.footer-container svg {
    fill: #ffffff;
    width: 20px;
}

.footer-container .menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.footer-container .menu a,
.footer-container li {
    color: #ffffff;
}

.footer-container a,
.footer-container li {
    font-size: 13px;
    font-weight: 400;
}

.footer-container .menu a:hover,
.footer-container .menu a:focus {
    color: #00c3b4;
}

@media (max-width: 680px) {
    .footer-container {
        flex-direction: column;
    }
}