.navbar-wrapper .icon svg {
    fill: #000 !important;
}

.toggle-icon-1,
.toggle-icon-2 {
    display: none;
}

.icon-wrapper span {
    background: none !important;
    position: absolute !important;
    top: 2rem;
    right: 2rem;
}

@media only screen and (max-width: 700px) {
    .toggle-icon-1 {
        display: block;
    }
}