@media only screen and (max-width: 767px) {
    .row-fluid [class*="span"] {
        display: unset;
    }
    .navbar-wrapper .widget-type-custom_widget {
        min-height: unset !important;
    }
}

@media only screen and (max-width: 700px) {
    .navbar-desktop {
        display: none !important;
    }
}

@media only screen and (min-width: 700px) {
    .navbar-mobile {
        display: none !important;
    }
}