@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
    font-family: 'Open Sans', sans-serif;
}

body {
    overflow-x: hidden;
    margin: 0;
}

.body-container-wrapper {
    height: 100vh;
    /* overflow: auto; */
}

.body-container .row-depth-1:nth-child(1) {
    margin: 0 auto;
    max-width: 1200px;
    width: 90vw;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 15.5px;
    font-weight: 700;
    white-space: nowrap;
}


/* headline and hero */

.hero-wrapper {
    padding: 2rem 0;
}

.headline h1 {
    font-size: 50px;
    font-weight: 500;
    font-style: normal;
}

.headline p {
    font-size: 20px;
}

.hero-container {
    display: flex !important;
    justify-content: center;
}

.hero-container img {
    max-height: 600px;
}


/* content flex columns */

.content-flex-group {
    padding: 2rem 0;
}

.content-flex-group img {
    border-bottom: solid 2px #7899fc;
    padding: 0 0 2rem 0;
}

.content-flex-group h2 {
    font-weight: 300;
    font-size: 44px;
}

.footer-container svg:hover,
.footer-container svg:focus {
    fill: #00c3b4;
    cursor: pointer;
}