@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
    font-family: 'Open Sans', sans-serif;
}

.body-container-wrapper {
    height: 100vh;
    overflow: auto;
}


/* navbar */

.body-container .row-depth-1:nth-child(1) {
    margin: 0 auto;
    max-width: 1200px;
    width: 90vw;
}

.navbar-wrapper {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar-wrapper .widget-type-custom_widget {
    min-height: unset !important;
}

.hs-menu-wrapper ul {
    display: flex;
    gap: 1rem;
    justify-content: end;
}

.hs-menu-wrapper ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 15.5px;
    font-weight: 700;
    white-space: nowrap;
}


/* navbar mobile */

.navbar-mobile {
    /* visibility: hidden; */
    display: unset !important;
    position: absolute;
    width: 100vw !important;
    margin: 0 auto !important;
    height: 100vh !important;
    background: #ffffff;
    top: 6rem;
    left: 0;
    right: 0;
}

.navbar-mobile .hs_cos_wrapper {
    width: 90vw;
    margin: 0 auto;
}

.navbar-mobile .hs-menu-wrapper ul {
    flex-direction: column;
    padding: 0;
}

.navbar-mobile a {
    font-size: 20px;
}

.navbar-mobile li {
    margin: 1rem 0;
}


/* headline and hero */

.hero-wrapper {
    padding: 2rem 0;
}

.headline h1 {
    font-size: 50px;
    font-weight: 500;
    font-style: normal;
}

.headline p {
    font-size: 20px;
}

.hero-container {
    display: flex !important;
    justify-content: center;
}

.hero-container img {
    max-height: 600px;
}


/* content flex columns */

.content-flex-group {
    padding: 2rem 0;
}

.content-flex-group img {
    border-bottom: solid 2px #7899fc;
    padding: 0 0 2rem 0;
}

.content-flex-group h2 {
    font-weight: 300;
    font-size: 44px;
}


/* toggle menu styling */

.navbar-wrapper .icon svg {
    fill: #000 !important;
}

.icon-wrapper span {
    background: none !important;
    position: absolute !important;
    top: 2rem;
    right: 2rem;
}