@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
.sticky-nav header {
    position: fixed;
    top: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    z-index: 9999
}

body header .container {
    padding: 0 35px !important
}

header {
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 0 !important;
    font-family: "Poppins", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 400
}

header .container {
    position: relative;
    padding: 0 35px !important
}

img {
    max-width: 100%;
}

@media screen and (max-width:1280px) {
    header .container {
        padding: 0 35px !important
    }
}

header .container .head-wrap {
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

@media screen and (max-width:1280px) {
    header .container .head-wrap {
        padding: 15px 0
    }
}

@media screen and (max-width:992px) {
    header .container .head-wrap {
        padding: 35px 0
    }
}

header .container .head-wrap .logo {
    width: 148px;
    position: relative;
    z-index: 9
}

header .container .head-wrap .menu-toggle {
    background-color: transparent;
    border: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 25px;
    right: 30px;
    cursor: pointer;
    z-index: 2;
    display: none
}

@media screen and (max-width:992px) {
    header .container .head-wrap .menu-toggle {
        display: block
    }
}

header .container .head-wrap .menu-toggle span {
    margin: 3px auto 4px;
    padding: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 12px;
    right: 0;
    border-radius: 0;
    height: 1px;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    width: 35px;
    background: #fff
}

@media screen and (max-width:992px) {
    header .container .head-wrap .menu-toggle span {
        background: #000
    }
}

header .container .head-wrap .menu-toggle span:nth-child(2) {
    top: 22px
}

header .container .head-wrap .menu-toggle span:last-child {
    top: 32px;
    margin-bottom: 0
}

header .container .head-wrap .menu-toggle span.toggle span {
    background: #fff
}

@media screen and (max-width:992px) {
    header .container .head-wrap .menu-head-menu-container-main {
        display: none;
        position: relative;
        width: 100%;
        background-color: #fff;
        z-index: -1
    }
}

.main-navigation {
    margin-left: auto;
    display: block
}

.main-navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative
}

.main-navigation ul li {
    margin: 0 20px;
    list-style: none;
    display: inline-block;
    padding: 15px 0
}

@media screen and (min-width:1140px) {
    .main-navigation ul li {
        margin: 0 38px
    }
}

@media screen and (max-width:992px) {
    .main-navigation ul li {
        display: block
    }
}

.main-navigation ul li.active a {
    border-bottom: solid 2px #123399
}

@media screen and (max-width:992px) {
    .main-navigation ul li.active a {
        border-bottom: 0
    }
}

@media screen and (max-width:992px) {
    .main-navigation ul li.menu-item-has-children .menu-arrow {
        position: absolute;
        right: 0;
        top: 15px;
        width: 15px;
        height: 28px;
        background-image: url("https://acquire.io/wp-content/themes/acquire/assets/images/iris/svg/arrow-green-mob.svg");
        background-position: right center;
        background-repeat: no-repeat;
        display: inline-block;
        background-size: 15px;
        z-index: -1
    }
}

@media screen and (max-width:992px) {
    .main-navigation ul li.menu-item-has-children .menu-arrow.active {
        top: 20px
    }
}

.main-navigation ul li.menu-item-has-children>a {
    pointer-events: none;
    border-bottom: solid 2px transparent
}

.main-navigation ul li.btn-primary {
    padding: 0;
    color: #fff;
    display: inline-block;
    border: 0;
    font-size: 16px;
    background-color: #123399;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    line-height: 1.3
}

.main-navigation ul li.btn-primary a {
    color: #fff;
    position: relative;
    font-size: 15px;
    border-bottom: 0;
    padding: 10px 20px;
    border-radius: 20px
}

.main-navigation ul li.btn-primary a:hover,
.main-navigation ul li.btn-primary a:active,
.main-navigation ul li.btn-primary a:focus {
    background-color: #001a6b;
    border-bottom: 0
}

.main-navigation ul li.btn-primary:hover,
.main-navigation ul li.btn-primary:active,
.main-navigation ul li.btn-primary:focus {
    background-color: #001a6b;
    border-bottom: 0
}

.main-navigation ul li:last-child {
    margin-right: 0
}

.main-navigation ul li:first-child {
    margin-left: 0
}

.main-navigation ul li a,
.main-navigation ul li button {
    padding: 5px 0;
    display: inline-block;
    font-size: 15px;
    color: #000;
    font-weight: 400;
    font-family: "Poppins", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    border-bottom: solid 2px transparent;
    text-decoration: none;
    background: transparent;
    border: 0;
    outline: 0
}

@media screen and (max-width:992px) {
    .main-navigation ul li a,
    .main-navigation ul li button {
        border-bottom: 0
    }
}

.main-navigation ul li a:hover,
.main-navigation ul li a:active,
.main-navigation ul li a:focus,
.main-navigation ul li button:hover,
.main-navigation ul li button:active,
.main-navigation ul li button:focus {
    border-bottom: solid 2px #123399
}

@media screen and (max-width:992px) {
    .main-navigation ul li a:hover,
    .main-navigation ul li a:active,
    .main-navigation ul li a:focus,
    .main-navigation ul li button:hover,
    .main-navigation ul li button:active,
    .main-navigation ul li button:focus {
        border-bottom: 0
    }
}

.main-navigation ul li .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    width: 540px;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 999;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 3px;
    border: 0
}

@media screen and (max-width:992px) {
    .main-navigation ul li .sub-menu {
        transition: inherit;
        -webkit-transition: inherit;
        display: none
    }
}

.main-navigation ul li .sub-menu li {
    margin: 0;
    display: block;
    width: 50%;
    border-bottom: 0;
    padding: 0
}

.main-navigation ul li .sub-menu li:last-child {
    border-bottom: 0
}

.main-navigation ul li .sub-menu li a {
    padding: 14px 15px;
    display: inline-block;
    border-left: solid 2px transparent;
    -webkit-box-shadow: 0 1px 6px 0 rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 6px 0 rgba(255, 255, 255, 0.1);
    border-bottom: 0;
    line-height: 1.5;
    text-transform: capitalize;
    display: block
}

.main-navigation ul li .sub-menu li a:hover,
.main-navigation ul li .sub-menu li a:active,
.main-navigation ul li .sub-menu li a:focus {
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 0;
    border-left: solid 2px #123399;
    color: #123399;
    text-decoration: none
}

@media screen and (max-width:992px) {
    .main-navigation ul li .sub-menu li a:hover,
    .main-navigation ul li .sub-menu li a:active,
    .main-navigation ul li .sub-menu li a:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 0;
        border-left: 0
    }
}

.main-navigation ul li .sub-menu li a span.menu-item-description {
    font-size: 10px;
    color: #000;
    display: block;
    text-transform: initial
}

.main-navigation ul li .sub-menu li.current-menu-item>a {
    color: #123399;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 0;
    border-left: solid 2px #123399
}

@media screen and (max-width:992px) {
    .main-navigation ul li .sub-menu li.current-menu-item>a {
        border-left: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }
}

.main-navigation ul li:hover .sub-menu {
    visibility: visible;
    opacity: 1
}

.main-navigation ul li:hover .sub-menu.current-menu-item>a {
    color: #123399;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 0;
    border-left: solid 2px #123399
}

.main-navigation ul li.current-menu-item>a {
    border-bottom: solid 2px #123399
}

.main-navigation ul li.current-menu-parent>a {
    border-bottom: solid 2px #123399
}

@media screen and (max-width:992px) {
    .main-navigation ul li.current-menu-parent>a {
        border-bottom-color: transparent
    }
}

.main-navigation ul li.current-menu-item.btn-primary a {
    border-bottom: 0
}

.menu-open header .container .menu-head-menu-container-main {
    display: block;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    padding-top: 120px;
    z-index: 1;
    transition: all .9s linear;
    -webkit-transition: all .9s linear;
    -moz-transition: all .9s linear;
    -o-transition: all .9s linear;
    overflow: hidden
}

.menu-open header .container .menu-head-menu-container-main {
    display: block
}

@media screen and (max-width:992px) {
    .menu-open header .container .menu-head-menu-container-main {
        padding-left: 35px;
        padding-right: 35px;
        box-sizing: border-box
    }
}

.menu-open header .container .menu-head-menu-container-main .menu li {
    text-align: center;
    padding: 10px 0
}

@media screen and (max-width:992px) {
    .menu-open header .container .menu-head-menu-container-main .menu li {
        text-align: left;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: solid 1px #ebebeb;
        position: relative
    }
}

@media screen and (max-width:992px) {
    .menu-open header .container .menu-head-menu-container-main .menu li.btn-primary {
        display: inline-block;
        padding: 0 25px;
        margin: 25px 0
    }
}

@media screen and (max-width:992px) {
    .menu-open header .container .menu-head-menu-container-main .menu li.btn-primary a {
        color: #fff;
        font-size: 17px
    }
}

.menu-open header .container .menu-head-menu-container-main .menu li a,
.menu-open header .container .menu-head-menu-container-main .menu li button {
    color: #fff;
    text-decoration: none
}

@media screen and (max-width:992px) {
    .menu-open header .container .menu-head-menu-container-main .menu li a,
    .menu-open header .container .menu-head-menu-container-main .menu li button {
        color: #000;
        font-size: 25px;
        font-weight: 300;
        padding: 15px 0;
        width: 100%;
        position: relative;
        z-index: 2;
        pointer-events: inherit
    }
}

.menu-open header .container .menu-head-menu-container-main .menu li a:hover,
.menu-open header .container .menu-head-menu-container-main .menu li button:hover {
    text-decoration: none;
    color: #000
}

header .container .menu-toggle.toggle span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 20px
}

header .container .menu-toggle.toggle span:nth-child(2) {
    opacity: 0;
    visibility: hidden
}

header .container .menu-toggle.toggle span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 20px
}

.menu-open header .container .menu-head-menu-container-main .menu li.open .sub-menu {
    position: relative;
    left: inherit;
    visibility: visible;
    opacity: 1;
    box-shadow: none;
    margin-left: 35px;
    display: block;
    border: 0
}

.menu-open header .container .menu-head-menu-container-main .menu li.open .sub-menu li {
    border-bottom: 0;
    padding: 0;
    display: block;
    width: 100%
}

.menu-open header .container .menu-head-menu-container-main .menu li.open .sub-menu li a {
    font-size: 20px;
    padding: 0;
    margin-bottom: 10px
}

.main-navigation ul li.menu-item-has-children.open .menu-arrow {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    width: 28px
}

.menu-open header .container .menu-head-menu-container-main .menu-head-menu-container {
    overflow: auto;
    height: calc(100vh - 120px)
}

body .upperstrip-dark {
    background: #123399;
    height: 40px;
    line-height: 40px
}

@media screen and (max-width:992px) {
    body .upperstrip-dark {
        line-height: 1;
        z-index: 99999 !important
    }
}

body .upperstrip-dark .innerupperstrip {
    padding: 4px 0;
    text-align: center;
    background: #123399;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 99;
    height: 40px
}

body .upperstrip-dark .innerupperstrip img.logo-strip {
    max-width: 20px;
    max-height: 20px
}

@media screen and (max-width:992px) {
    body .upperstrip-dark .innerupperstrip {
        display: inline-block
    }
}

body .upperstrip-dark .innerupperstrip>img.logo-strip {
    max-width: 20px;
    max-height: 20px
}

@media screen and (max-width:992px) {
    body .upperstrip-dark .innerupperstrip>img {
        display: none
    }
}

body .upperstrip-dark .innerupperstrip p {
    color: #fff;
    text-align: center;
    font-size: 14px;
    display: inline;
    padding: 0 5px
}

@media screen and (max-width:992px) {
    body .upperstrip-dark .innerupperstrip p {
        font-size: 10px;
        line-height: 1
    }
}

body .upperstrip-dark .innerupperstrip a {
    color: #fff;
    font-size: 14px;
    text-decoration: none
}

@media screen and (max-width:992px) {
    body .upperstrip-dark .innerupperstrip a {
        font-size: 10px;
        line-height: 18px
    }
}

body .upperstrip-dark .innerupperstrip a:hover {
    color: #fff;
    text-decoration: none
}

@media screen and (max-width:992px) {
    body .upperstrip-dark .innerupperstrip a img {
        max-width: 10px;
        max-height: 10px
    }
}

.main-navigation ul li.menu-item-has-children>button {
    pointer-events: none
}

footer {
    background-color: #fff;
    font-family: "Poppins", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    position: relative;
    z-index: 1
}

footer h6 {
    font-family: "Poppins", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #123399;
    margin-bottom: 5px;
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s
}

footer ul {
    padding-left: 0;
    list-style: none
}

footer ul li {
    font-family: "Poppins", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #123399;
    line-height: 2;
    margin-bottom: 3px
}

footer ul li a {
    color: #123399;
    text-decoration: none;
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s
}

footer ul li a:hover,
footer ul li a:active,
footer ul li a:focus {
    color: #000;
    text-decoration: none
}

footer .footer-top {
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    padding: 40px 0 30px
}

@media screen and (max-width:992px) {
    footer .footer-top {
        -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3)
    }
}

footer .footer-top .container {
    position: relative
}

footer .footer-top .container .footer-wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

footer .footer-top .container .footer-wrap .footer-block {
    width: 16.66%
}

@media screen and (max-width:768px) {
    footer .footer-top .container .footer-wrap .footer-block {
        width: 50%
    }
}

@media screen and (max-width:768px) {
    footer .footer-top .container .footer-wrap .footer-block.f-lds {
        order: 2
    }
}

@media screen and (max-width:768px) {
    footer .footer-top .container .footer-wrap .footer-block.f-features {
        order: 1
    }
}

@media screen and (max-width:768px) {
    footer .footer-top .container .footer-wrap .footer-block.f-resources {
        order: 3
    }
}

@media screen and (max-width:768px) {
    footer .footer-top .container .footer-wrap .footer-block.f-developers {
        order: 4
    }
}

@media screen and (max-width:768px) {
    footer .footer-top .container .footer-wrap .footer-block.f-company {
        order: 5
    }
}

footer .footer-top .container .footer-wrap .footer-block .f-logo {
    margin-bottom: 50px
}

@media screen and (max-width:768px) {
    footer .footer-top .container .footer-wrap .footer-block .f-logo.mob-hide {
        visibility: hidden;
        opacity: 0
    }
}

@media screen and (max-width:992px) {
    footer .footer-top .container .footer-wrap .footer-block .f-logo {
        margin-bottom: 30px
    }
}

footer .footer-top .container .footer-wrap .footer-block .f-download {
    margin-bottom: 50px
}

@media screen and (max-width:992px) {
    footer .footer-top .container .footer-wrap .footer-block .f-download {
        margin-bottom: 10px
    }
}

footer .footer-top .container .footer-wrap .footer-block .f-download p {
    font-family: "Poppins", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #123399;
    line-height: 2;
    margin-bottom: 3px
}

footer .footer-top .container .footer-wrap .footer-block .f-download ul {
    display: flex;
    align-items: center
}

footer .footer-top .container .footer-wrap .footer-block .f-download ul li {
    margin-right: 15px;
    font-size: 16px
}

footer .footer-top .container .footer-wrap .footer-block .social-icons ul {
    display: flex;
    align-items: center
}

footer .footer-top .container .footer-wrap .footer-block .social-icons ul li {
    margin-right: 15px;
    font-size: 16px
}

footer .footer-top .container .certified-block {
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 10px
}

@media screen and (max-width:992px) {
    footer .footer-top .container .certified-block {
        text-align: left !important;
        position: inherit;
        bottom: inherit;
        right: inherit;
        padding-top: 15px
    }
}

footer .footer-top .container .certified-block a {
    margin-left: 3px
}

@media screen and (min-width:992px) {
    footer .footer-top .container .certified-block a img {
        min-height: 40px;
        min-width: 40px
    }
}

footer .footer-bottom {
    padding: 36px 0
}

@media screen and (max-width:767px) {
    footer .footer-bottom .row.d-flex {
        display: block !important
    }
}

@media screen and (max-width:767px) {
    footer .footer-bottom .row.d-flex .copyright {
        margin-bottom: 10px;
        display: block
    }
}

footer .footer-bottom .row.d-flex .copyright p {
    font-family: "Poppins", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #123399;
    line-height: 1;
    margin-bottom: 0
}

footer .row {
    display: flex;
    justify-content: space-between;
}

footer .footer-bottom .row.d-flex .copyright p span {
    font-size: 6px
}

footer .footer-bottom .row.d-flex ul.fb-links {
    display: flex;
    align-items: center
}

@media screen and (max-width:576px) {
    footer .footer-bottom .row.d-flex ul.fb-links {
        flex-flow: wrap
    }
}

footer .row>* {
    padding-left: 0;
    padding-right: 0;
}

footer a {
    text-decoration: none;
}

footer .footer-bottom .row.d-flex ul.fb-links li {
    font-family: "Poppins", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #123399;
    line-height: 1.2;
    margin-right: 15px;
}

@media screen and (max-width:992px) {
    footer .footer-bottom .row.d-flex ul.fb-links li {
        margin-right: 20px;
        font-size: 11px
    }
}

@media screen and (max-width:576px) {
    footer .footer-bottom .row.d-flex ul.fb-links li {
        margin-right: 0;
        font-size: 11px;
        width: 50%
    }
}

footer .footer-bottom .row.d-flex ul.fb-links li a {
    color: #123399
}

footer .footer-bottom .row.d-flex ul.fb-links li a:hover,
footer .footer-bottom .row.d-flex ul.fb-links li a:active,
footer .footer-bottom .row.d-flex ul.fb-links li a:focus {
    color: #000
}

@media screen and (max-width:992px) {
    footer .footer-bottom {
        padding: 25px 0
    }
}

footer ul.f-links li a:hover h6 {
    color: #00ddae
}

@media screen and (max-width:992px) {
    .f-lds,
    .f-features,
    .f-resources {
        margin-bottom: 20px
    }
}

.f-logo.mobile-show {
    display: none
}

@media screen and (max-width:768px) {
    .f-logo.mobile-show {
        display: block
    }
}

footer .footer-top .container .certified-block {
    bottom: -26px
}

footer .footer-top .container .certified-block ul li {
    margin-left: 3px;
    display: inline-block
}

footer .footer-top .container .certified-block ul li img {
    min-height: 40px;
    min-width: 40px
}

@media(max-width:992px) {
    footer .footer-top .container .certified-block {
        bottom: 0
    }
}

@media screen and (min-width: 1920px) {
    .body-container::after {
        left: -70%;
    }
}

@media screen and (min-width: 1600px) {
    .body-container::after {
        left: -67%;
    }
}

.body-container::after {
    content: "";
    position: absolute;
    left: -72%;
    top: -157px;
    z-index: -1;
    width: 100%;
    height: 1050px;
    background-color: #e4f8f8;
    transform: ske250wx(128deg);
    -webkit-transform: skewx(128deg);
    -moz-transform: skewx(128deg);
    -ms-transform: skewx(128deg);
    -o-transform: skewx(128deg);
}

.body-container,
.container,
.container-iris {
    max-width: 1250px;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 35px;
    padding-right: 35px;
    width: 100% !important;
    box-sizing: border-box;
    float: unset !important;
}