/* typography */


/*

h1 - banner
h2 - section headers
h3 - center text - smaller
h4 - clients logos
h4 - carousel cards headers

*/

h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 70.8px;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.25;
}

h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 43.5px;
}

h4 {
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
}

h5 {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
}

p {
    font-size: 17px;
    font-weight: 400;
}

.section2 p {
    font-size: 16px;
    line-height: 1.83;
}

.section3 p,
.section4 p {
    font-size: 18px;
    line-height: 1.9;
}

.section4 h2 {
    font-size: 54px;
    line-height: 1.2;
}

.section6 h2 {
    font-size: 54px;
    line-height: 1.2;
}

.section7 h2 {
    font-size: 54px;
    line-height: 1.2;
}

.section8 h2 {
    font-size: 54px;
    line-height: 1.2;
}

.section9 h2 {
    font-size: 54px;
    line-height: 1.2;
}

.bannerform p {
    line-height: 1.9;
}


/* end of typography */

.body-container::after {
    background-color: #F7EBF3 !important;
}


/* general setup */

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

section {
    border: solid 5px pink;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    border: solid 1px red;
    width: 50%;
}


/* Section 1 partners logos */

.partnersicons h4 {
    text-align: right;
}

.partnersicons .grid-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    /* grid-template-rows: repeat(2, 1fr); */
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
    /* border: solid 1px red; */
}

.partnersicons .img-container {
    margin: 1rem;
    /* border: solid 1px red; */
    /* width: calc((100% / 7)); */
    min-height: 50px;
    display: flex;
    justify-content: center;
}

.partnersicons img {
    max-width: 100px;
    max-height: 35px;
    object-fit: contain;
}


/* end of Section 1 partenrs logos */


/*  Section 2 center text*/

.section2 {
    align-items: center;
    text-align: center;
}

.section2 img {
    max-width: 100px;
    height: auto;
}


/*  end of Section 2 center text*/


/* Section 9 center cta */

.section9 {
    align-items: center;
    text-align: center;
}


/* end of Section 9 center cta */