    @media (max-width: 1147px) {
        main .inner-container {
            width: fit-content !important;
        }
        .section-1,
        .section-2,
        .section-3 {
            width: 85vw !important;
        }
        .services-list {
            margin-left: -1.5rem;
        }
    }
    
    @media (max-width: 960px) {
        .menu-box {
            margin-top: 3rem !important;
        }
        .menu-box .item-title {
            height: 4.5rem !important;
            margin: 0.3rem 0 0 0 !important;
        }
        .menu-box .active2 {
            height: 6rem !important;
            margin-top: -1rem !important;
        }
    }
    
    @media (max-width: 900px) {
        #footer .inner-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .left-footer-sec {
            flex-direction: column;
            width: 51%;
            border-right: 2px solid;
            padding-right: 34px;
        }
        .right-footer-sec {
            float: right;
            padding-top: 0;
            width: 46%;
        }
        .right-footer-sec .col-md-8 {
            width: 80% !important;
            margin: 0 auto 0 65px;
        }
        .left-footer {
            margin: 0 !important;
        }
        .col-md-8 {
            width: unset !important;
            display: flex;
            flex-direction: column;
        }
        .getintouch-sec {
            display: none;
        }
        #footer #bottom {
            display: inline-block !important;
            width: 100%;
            margin: 37px auto 0;
            text-align: center;
        }
    }
    
    @media (max-width: 1000px) {
        .inner-container {
            width: 96vw !important;
        }
    }
    
    @media (max-width: 740px) {
        .banner .box-inner {
            padding: 3rem 3rem 6rem;
        }
        .banner .menu-box .active2 {
            font-size: 15px !important;
        }
    }
    
    @media (max-width: 680px) {
        .inner-container {
            width: 95vw !important;
            margin: 0 auto;
            padding: 0 !important;
        }
    }
    
    @media (max-width: 580px) {
        .menu-box .item,
        .menu-box .open,
        .menu-box .closed {
            width: calc((100% / 4) - 0.15rem) !important;
        }
        .hidden-content {
            width: 80% !important;
        }
        .banner .menu-box .active2 {
            height: 6.5rem !important;
            margin-top: -2rem !important;
        }
        .menu-box .item-title {
            height: 5.5rem !important;
            margin: -0.7rem 0 0 0 !important;
            padding: 0 1rem !important;
        }
    }
    
    @media (max-width: 484px) {
        .flex {
            flex: 100% !important;
        }
        main {
            top: 191vh !important;
        }
        .hidden-box {
            height: fit-content !important;
        }
        .box-inner {
            padding: 2rem 2rem 7rem !important;
            margin: 2rem 1rem !important;
        }
        .mktoForm {
            display: flex !important;
            flex-direction: column !important;
        }
        .mktoForm textarea.mktoField {
            height: 4rem !important;
        }
        .services-list li {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            float: none !important;
        }
        .services-list li::after {
            float: none !important;
            margin-left: auto;
            width: 25px;
            height: 25px;
            background-size: 17px 17px;
        }
        #footer .inner-container {
            flex-direction: column !important;
            margin: 0 15px;
            width: fit-content !important;
        }
        .left-footer-sec {
            border-right: none;
            width: 76%;
        }
        .left-footer-sec,
        .right-footer-sec {
            width: 100%;
        }
        .left-footer ul {
            margin: 0;
        }
        .right-footer {
            display: flex;
            margin: 0 !important;
        }
        #footer .col-md-8 {
            margin-left: 0 !important;
        }
    }
    
    @media (max-width: 405px) {
        .box-inner {
            height: 44rem !important;
        }
        .item-title {
            font-size: 14px !important;
        }
        .menu-box .active {
            font-size: 15px !important;
        }
        .box-inner h3 {
            font-size: 20px !important;
        }
        .box-inner li {
            font-size: 15px !important;
        }
        main h3 {
            font-size: 33px !important;
        }
        main p,
        main li {
            font-size: 15px !important;
        }
    }
    
    @media (max-width: 395px) {
        main {
            top: 195vh !important;
        }
    }
    
    @media (max-width: 340px) {
        main {
            top: 204vh !important;
        }
        .menu-box .box-inner {
            padding: 1.5rem 1.2rem 7rem !important;
        }
        .box-inner .btn {
            bottom: 1rem !important;
        }
        .menu-box h3,
        .menu-box .active {
            font-size: 14px !important;
        }
    }
    
    @media (max-width: 320px) {
        .box-inner li {
            font-size: 14px !important;
        }
        .banner .menu-box .active2 {
            font-size: 13px !important;
        }
    }