.mktoForm {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 95vw !important;
    align-items: center;
}

.mktoForm .mktoFieldWrap {
    display: flex;
    flex-direction: column;
}

.mktoForm .mktoFormRow,
.mktoForm .mktoButtonRow {
    width: 100%;
}

.mktoForm .mktoFormRow:nth-of-type(1) .mktoFormCol {
    margin-bottom: -0.2rem !important;
}

.mktoForm span,
.mktoForm strong {
    padding: 0 !important;
}

.mktoForm .mktoGutter {
    height: 0.3rem !important;
}

.mktoForm h3 {
    font-size: 14px;
    color: #333333;
    line-height: 150%;
    font-weight: normal;
    padding: 0 !important;
}

.mktoForm .mktoRequiredField .mktoAsterix {
    display: none;
}

.mktoForm .mktoLabel {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    color: #5d5d5d;
}

.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
    margin: 0;
    padding: 10px;
    background: #fff;
    width: 100%;
    border: 2px solid #d0d0d0 !important;
    border-radius: 3px;
    color: #5d5d5d !important;
    min-height: 2.5rem;
}

.mktoForm input[type=text]:active,
.mktoForm input[type=url]:active,
.mktoForm input[type=email]:active,
.mktoForm input[type=tel]:active,
.mktoForm input[type=number]:active,
.mktoForm input[type=date]:active,
.mktoForm select.mktoField:active,
.mktoForm textarea.mktoField:active,
.mktoForm input[type=text]:focus,
.mktoForm input[type=url]:focus,
.mktoForm input[type=email]:focus,
.mktoForm input[type=tel]:focus,
.mktoForm input[type=number]:focus,
.mktoForm input[type=date]:focus,
.mktoForm select.mktoField:focus,
.mktoForm textarea.mktoField:focus {
    border: 1px solid #5d5d5d !important;
    outline: none;
}


/* error msg */

.mktoForm .mktoError .mktoErrorMsg {
    padding: 0.7rem;
    text-shadow: none !important;
    color: #000000 !important;
    background: rgba(255, 255, 255, 0.6) !important;
    border: solid 0.5px #666666 !important;
    box-shadow: rgb(0 0 0 / 65%) 0 2px 7px, inset #f3eded 0 1px 0px;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.mktoForm input.mktoInvalid {
    border: solid 1px #dc1836 !important;
}

.mktoForm .mktoFormRow:nth-of-type(4) .mktoErrorMsg {
    display: flex;
    flex-wrap: wrap;
}

.mktoForm .mktoError {
    position: relative !important;
    right: unset !important;
    left: unset !important;
    bottom: unset !important;
    font-size: 15px;
    margin-bottom: 1rem;
}

.mktoForm .mktoError .mktoErrorMsg {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    color: #dc1836 !important;
    text-shadow: none !important;
    padding: 0 !important;
}

.mktoForm .mktoError .mktoErrorArrowWrap {
    display: none;
}


/* checkboxes  */

.mktoForm .mktoFieldWrap {
    margin-top: 1rem;
}

.mktoForm .mktoRadioList>input,
.mktoForm .mktoCheckboxList>input {
    height: 24px !important;
    margin: -1.9rem 6rem 0 -17rem !important;
    width: 100% !important;
}

.mktoForm .mktoRadioList>label,
.mktoForm .mktoCheckboxList>label {
    font-size: 13px;
    margin: -1.6rem 0 3rem 2.5rem !important;
    color: #5d5d5d;
}

@media (max-width: 480px) {
    .mktoForm .mktoRadioList>input,
    .mktoForm .mktoCheckboxList>input {
        margin: -1.9rem 6rem 0 -37vw !important;
        width: 100% !important;
    }
}

.mktoForm .mktoRadioList>input,
.mktoForm .mktoCheckboxList>input {
    accent-color: #5d5d5d;
}

.mktoForm .mktoFormRow:nth-of-type(17) .mktoFormCol {
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
}


/* diclaimer text */

.mktoForm .mktoFormRow:nth-of-type(19) .mktoFormCol {
    margin-top: -3rem;
}


/* button */

.mktoForm .mktoButtonWrap.mktoSimple {
    margin-left: 10px !important;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    margin-top: 1rem;
    background: #dc1836 !important;
    color: #ffffff !important;
    padding: 12px 25px !important;
    border-radius: 3px !important;
    font-size: 16px !important;
    border: none !important;
}


/* mediaqueries */

@media (max-width: 800px) {
    .mktoForm {
        width: initial !important;
    }
    .mktoFormCol {
        float: none !important;
    }
    .mktoFieldWrap,
    .mktoForm select.mktoField,
    #Company,
    .mktoForm input[type=text],
    .mktoForm input[type=url],
    .mktoForm input[type=email],
    .mktoForm input[type=tel],
    .mktoForm input[type=number],
    .mktoForm input[type=date],
    .mktoForm textarea.mktoField,
    .mktoForm .mktoHtmlText {
        width: 80vw !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
}

@media (max-width:480px) {
    .mktoForm .mktoFormCol .mktoLabel {
        margin-bottom: 0.5rem;
    }
}