#form .mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    white-space: nowrap;
}

.mktoForm .mktoFormRow:last-of-type .mktoFormCol {
    width: calc(95% - 290px) !important;
    position: absolute;
    bottom: 2rem;
    right: 2.5rem;
}

.mktoForm .mktoButtonRow {
    width: 35% !important;
    min-width: 180px;
    position: absolute;
    bottom: 1.5rem;
    left: 3rem;
}