/* typography */

h4 {
    font-size: 18px;
}

.container-3 h5 {
    font-size: 16px;
}


/* -- typography -- */


/* section 2 */

.container-2 {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #deecf2;
    justify-content: space-between;
}

.flex-container {
    width: 60%;
    margin: 0 40px 0 0;
}

.img-container {
    width: 35%;
    display: flex;
    justify-content: center;
}

.top-img {
    width: auto;
    object-fit: contain;
    max-width: 300px;
}


/* -- section 3 */

.container-3 {
    margin: 60px auto 40px;
    width: 90%;
}

.items-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.item {
    width: calc((100% / 3) - 80px);
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 250px;
}

.img-wrapper {
    height: 200px;
    width: 200px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    margin: 0 auto 12px;
}

.item img {
    height: 100%;
    width: auto;
    margin: 0;
}

.dropdown-selector {
    margin-top: 20px;
    display: flex;
    width: 150px;
    flex-direction: row;
    justify-content: center;
}

.dropdown-selector label {
    margin: 5px 10px 0 0;
}


/* section 4 with form */

.container-4 {
    width: 90%;
    background-color: #deecf2;
    display: flex;
    margin: 90px auto 50px;
}

@media (max-width: 856px) {
    .container-4 {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .container-4 .flex-container,
    .container-4 .form-container {
        width: 100% !important;
        margin: 0 auto;
        padding: 0;
    }
    .container-4 .form-container input {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .container-4 .form-container .form-checkbox {
        margin: -25px 0 0 38px;
    }
    .container-4 .form-container .disclaimer {
        margin: -29px 0 0 58px;
        width: 80%;
    }
}

.container-4 .flex-container {
    width: 50%;
    padding: 100px 110px 10px;
}

.container-4 .form-container {
    width: 50%;
    padding: 40px 0;
}

.submit-form label {
    visibility: hidden;
    margin-bottom: 0;
}

.form-group {
    position: relative;
}


/* form asterics */

.asterisk_input::after {
    content: " *";
    color: #e32;
    position: absolute;
    left: 90px;
    top: 24px;
    padding: 8px;
}

.form-group.form-group:nth-child(1n+2) .asterisk_input::after {
    left: 80px;
}

.form-group.form-group:nth-child(7) .asterisk_input::after {
    left: 40px;
}

.form-group.form-group:nth-child(1n+8) .asterisk_input::after {
    left: 148px;
}

@media (max-width: 856px) {
    .form-group.form-group:nth-child(1n+1) .asterisk_input::after {
        left: 125px;
    }
    .form-group.form-group:nth-child(7) .asterisk_input::after {
        left: 75px;
    }
    .form-group.form-group:nth-child(1n+8) .asterisk_input::after {
        left: 180px;
    }
}

.form-container input {
    width: 90%;
    padding-left: 10px;
    font-size: 15px;
    color: #8d8989;
    text-transform: uppercase;
    height: 35px;
    border: none;
}

.container-4 .form-container label:nth-last-of-type(1) {
    display: none;
}

.form-container .form-checkbox {
    width: 10px;
}

.form-container .disclaimer {
    font-size: 14px;
    display: flex;
    margin: -33px 0 0 14px;
    width: 88%;
}

#submit-button {
    width: 120px;
    height: 40px;
    margin-top: 10px;
    border-radius: 2px;
    font-weight: bold;
    padding: 0;
    color: #ffffff;
    background-color: #4298b5;
    text-transform: none;
}

@media (max-width: 1067px) {
    .container-2,
    .flex-container {
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }
    .img-container {
        margin: 20px auto;
    }
    .img-wrapper {
        margin-bottom: 15px;
    }
}

@media (max-width: 795px) {
    .item {
        width: 100%;
    }
}

@media (max-width: 350px) {
    .item {
        padding: 10px;
    }
}