html {
    background-color: #ffffff;
}

body {
    font-family: myriad-pro, sans-serif;
    font-weight: 3rmal;
    color: #434343;
    background-color: #ffffff;
    max-width: 1450px;
    margin: 0 auto;
}

a {
    color: #0c3b5d;
    text-decoration: underline;
}

.container {
    padding: 40px 80px 20px 80px;
}

a:hover {
    color: #0c3b5d;
}


/* text colors */

.white a {
    color: #ffffff;
}

.white {
    color: #ffffff;
}

.teal {
    color: #3d8d9f;
}

.navy {
    color: #013a5a;
}

.gray {
    color: #58595b;
}

.tealbg {
    background-color: #3d8d9f;
}


/* header */

.site-header * {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.site-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: #fff;
}

.site-header li {
    margin-left: 0;
    font-size: 18px;
}

.site-header .container {
    padding-top: 0;
    padding-bottom: 0;
}

.site-header .container {
    background: #ffffff;
}

.site-header .flex {
    display: -webkit-flex;
    display: flex;
}

.site-header svg {
    display: block;
}

@media (min-width: 1024px) {
    .site-header__nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .site-header>.container {
        padding-top: 0;
        padding-bottom: 0;
    }
    .site-header__nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.site-header .container {
    width: 100%;
    margin: 0 auto;
}


/* navbar */

.menu-bar {
    display: flex;
    align-items: center;
}

@media (min-width: 1024px) {
    .nav-items {
        list-style: none;
        justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        padding-top: 0 !important;
        padding-bottom: 0;
        margin-bottom: 0;
        align-items: center;
    }
    .nav-items>li {
        list-style: none;
        margin-left: -8px;
        padding-bottom: 0;
    }
}

.nav-items>li {
    list-style: none;
}

.site-header ul li:before {
    content: "";
    font-size: 20pt;
}

.site-header a {
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.site-header a,
.site-header a:hover {
    color: #013a5a;
}

.site-header__nav .nav-items>li {
    padding: 0 20px;
    position: relative;
    padding-bottom: 0;
}

@media (max-width: 1024px) {
    body {
        padding-top: 64px !important;
    }
}

@media (min-width: 1024px) {
    .site-header__nav .nav-items>li>a {
        padding: 32px 0;
        white-space: nowrap;
    }
}

.site-header a:hover {
    text-decoration: none;
}

.site-header__nav .nav-items>li>a {
    position: relative;
    font-weight: 600;
    font-family: "myriad-pro", sans-serif;
}

.site-header__nav a {
    font-weight: 600;
}

.site-header__nav .nav-items>li>a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 5px;
    -webkit-transform: translateX(-50%) scale(0, 1);
    transform: translateX(-50%) scale(0, 1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    background: #7bb7cb;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
}

.site-header__nav .nav-items>li:hover>a:before,
.site-header__nav .nav-items>li:focus-within>a:before {
    -webkit-transform: translateX(-50%) scale(1, 1);
    transform: translateX(-50%) scale(1, 1);
}

.site-header__nav .nav-items>li>.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    width: 300px;
    -webkit-box-shadow: 0px 30px 30px rgb(0 0 0 / 10%);
    box-shadow: 0px 30px 30px rgb(0 0 0 / 10%);
    background: #fff;
}

.site-header__nav .nav-items>li>.sub-menu:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    background: none;
    margin-top: -30px;
}

.site-header__nav .nav-items li.amigo-sub-menu .sub-menu li {
    position: static;
}

.site-header__nav .nav-items>li>.sub-menu li {
    margin-bottom: 6px;
}

.site-header__nav .nav-items>li>.sub-menu a {
    color: #013a5a;
    position: relative;
    z-index: 1;
}

.site-header .sub-menu-toggle {
    display: none;
}

.site-header__nav .nav-items>li.menu-item-has-children>.sub-menu>.menu-item-has-children>.sub-menu {
    display: none;
}

.site-header__nav .nav-items li.amigo-sub-menu .sub-menu:after {
    top: 10%;
    bottom: 10%;
}

.site-header__nav .nav-items li.amigo-sub-menu .sub-menu:after {
    content: "";
    position: absolute;
    background: url('https://img04.en25.com/EloquaImages/clients/TactileMedical/%7Ba171e5e6-3377-4be0-9d74-eeca01e33463%7D_amigo-blue.png') 100% 50% no-repeat;
    background-size: contain;
    top: 80px;
    right: 5%;
    left: 65%;
    bottom: 30px;
}

.site-header__nav .nav-items .amigo-hover--lower:after {
    background-image: url('https://img04.en25.com/EloquaImages/clients/TactileMedical/%7Be768ac9a-3ffd-4e43-9b9b-7ad2c478fdde%7D_amigo-lower.png');
}

.site-header__nav .nav-items .amigo-hover--upper:after {
    background-image: url('https://img04.en25.com/EloquaImages/clients/TactileMedical/%7Bd94c7024-1e6a-4bcb-a6d7-cf693f27c86d%7D_amigo-upper.png');
}

.site-header__nav .nav-items .amigo-hover--head:after {
    background-image: url('https://img04.en25.com/EloquaImages/clients/TactileMedical/%7Bc37b9c2b-2076-4da2-abca-e164c4a6c1e4%7D_amigo-head.png');
}

.site-header .sub-menu-toggle {
    display: none;
}

.site-header__nav .nav-items>li:hover>.sub-menu,
.site-header__nav .nav-items>li:focus-within>.sub-menu {
    opacity: 1;
    pointer-events: all
}

.amigo-hover>a,
.sub-menu li>a {
    display: inline-block;
}

.site-header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80px;
    height: 34px;
    position: relative;
    z-index: 100;
}

.site-header__nav .nav-items>li:hover>a:before,
.site-header__nav .nav-items>li:focus-within>a:before {
    -webkit-transform: translateX(-50%) scale(1, 1);
    transform: translateX(-50%) scale(1, 1)
}

.site-header__nav .nav-items li.amigo-sub-menu .sub-menu:after {
    content: "";
    position: absolute;
    background: url('https://img04.en25.com/EloquaImages/clients/TactileMedical/%7Ba171e5e6-3377-4be0-9d74-eeca01e33463%7D_amigo-blue.png') 100% 50% no-repeat;
    background-size: contain;
    top: 80px;
    right: 5%;
    left: 65%;
    bottom: 30px
}

@media(min-width: 1024px) {
    .site-header__nav .nav-items li.amigo-sub-menu .sub-menu:after {
        top: 10%;
        bottom: 10%
    }
}

.site-header__nav .nav-items li.amigo-sub-menu .sub-menu li {
    position: static
}

.site-header__nav .nav-items .amigo-hover:after {
    content: "";
    position: absolute;
    top: 80px;
    right: 5%;
    left: 65%;
    bottom: 30px;
    background: 100% 50% no-repeat;
    background-size: contain;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out
}

@media(min-width: 1024px) {
    .site-header__nav .nav-items .amigo-hover:after {
        top: 10%;
        bottom: 10%
    }
}

.site-header__nav .nav-items .amigo-hover:hover:after {
    opacity: 1
}

.site-header__nav .nav-items .amigo-hover--upper:after {
    background-image: url('https://img04.en25.com/EloquaImages/clients/TactileMedical/%7Bd94c7024-1e6a-4bcb-a6d7-cf693f27c86d%7D_amigo-upper.png')
}

.site-header__nav .nav-items .amigo-hover--lower:after {
    background-image: url('https://img04.en25.com/EloquaImages/clients/TactileMedical/%7Be768ac9a-3ffd-4e43-9b9b-7ad2c478fdde%7D_amigo-lower.png')
}

.site-header__nav .nav-items .amigo-hover--head:after {
    background-image: url('https://img04.en25.com/EloquaImages/clients/TactileMedical/%7Bc37b9c2b-2076-4da2-abca-e164c4a6c1e4%7D_amigo-head.png')
}

.site-header__nav .nav-items>li>.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    width: 300px;
    -webkit-box-shadow: 0px 30px 30px rgba(0, 0, 0, .1);
    box-shadow: 0px 30px 30px rgba(0, 0, 0, .1);
    background: #fff
}

.site-header__nav .nav-items>li>.sub-menu:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    background: none;
    margin-top: -30px
}

.site-header__nav .nav-items>li>.sub-menu li {
    margin-bottom: 6px
}

.site-header__nav .nav-items>li>.sub-menu li.current-menu-item a:after,
.site-header__nav .nav-items>li>.sub-menu li.current-menu-ancestor a:after {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
}

.site-header__nav .nav-items>li>.sub-menu a {
    color: #013a5a;
    position: relative;
    z-index: 1
}

.site-header__nav .nav-items>li>.sub-menu a:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: -3px;
    right: -3px;
    height: 7px;
    background: rgba(123, 183, 203, .35);
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: -1
}

.site-header__nav .nav-items>li>.sub-menu a:hover {
    color: #013a5a
}

.site-header__nav .nav-items>li>.sub-menu a:hover:after {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
}

.site-header__nav .nav-items>li>.sub-menu .sub-menu li {
    padding-left: 15px
}

.site-header__nav .nav-items>li:nth-last-child(2) .sub-menu {
    left: auto;
    right: 0
}

.mobile-menu-button {
    display: block;
    position: relative;
    width: 35px;
    height: 25px;
    z-index: 9;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px)
}

.mobile-menu-button:focus {
    outline: none
}

@media(min-width: 1024px) {
    .mobile-menu-button {
        display: none
    }
}

.mobile-menu-button:before,
.mobile-menu-button:after {
    content: "";
    width: 32px;
    margin-left: -16px;
    height: 2px;
    position: absolute;
    left: 50%;
    background: #7bb7cb;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out
}

.mobile-menu-button span {
    position: absolute;
    left: 50%;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    top: 100%;
    display: block;
    font-size: 11px;
    letter-spacing: .05em;
    text-align: center;
    line-height: 1;
    height: auto;
    font-weight: 700;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.mobile-menu-button:after {
    -webkit-transform: translateY(6px);
    transform: translateY(6px)
}

.mobile-menu-button.open:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%;
    margin-top: -1px;
    width: 22px;
    margin-left: -11px
}

.mobile-menu-button.open:after {
    -webkit-transform: rotate(-45deg) translateY(0);
    transform: rotate(-45deg) translateY(0);
    bottom: 50%;
    margin-bottom: -1px;
    width: 22px;
    margin-left: -11px
}

.mobile-copyright {
    display: none
}

@media(max-width: 1023px) {
    li.mobile-copyright {
        display: block;
        font-size: 12px;
        line-height: 17px;
        padding: 10px 20px !important;
        margin: auto 0 0 0
    }
    li.mobile-copyright span {
        display: block;
        width: 100%;
        border-top: 1px solid #cbc8c7;
        padding-top: 10px;
        padding-bottom: 30px;
        color: #48484e
    }
    .site-header .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .site-header.bg--blue .mobile-menu-button span {
        color: #013a5a
    }
    .mobile-menu-open .site-header.bg--blue .mobile-menu-button span {
        color: #013a5a
    }
    .mobile-menu-open .site-header.bg--blue .logo svg * {
        fill: #013a5a
    }
    .site-header.bg--blue ul a {
        color: #013a5a
    }
    .site-header__nav .nav-items>.menu-item-has-children>.sub-menu .sub-menu-toggle {
        display: none
    }
    .site-header__nav .sub-menu-toggle {
        width: 35px;
        height: 35px;
        background: #013a5a;
        border: none;
        display: block;
        position: absolute;
        top: 5px;
        right: 20px;
        cursor: pointer;
        z-index: 100000;
    }
    .site-header__nav .sub-menu-toggle:before,
    .site-header__nav .sub-menu-toggle:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 3px;
        height: 3px;
        background: #fff;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
    .site-header__nav .sub-menu-toggle:before {
        width: 14px
    }
    .site-header__nav .sub-menu-toggle:after {
        height: 14px;
        -webkit-transition: 200ms ease-in-out;
        transition: 200ms ease-in-out
    }
    .site-header__nav .menu--open {
        padding-bottom: 5px !important
    }
    .site-header__nav .menu--open .sub-menu-toggle:after {
        -webkit-transform: translate(-50%, -50%) scale(1, 0);
        transform: translate(-50%, -50%) scale(1, 0)
    }
    .site-header__nav .nav-items {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f2f2f2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        -webkit-transition: -webkit-transform 200ms ease-in-out;
        transition: -webkit-transform 200ms ease-in-out;
        transition: transform 200ms ease-in-out;
        transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
        will-change: transform;
        padding: 0;
        padding-top: 70px;
        display: flex;
        flex-flow: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        max-height: 100vh;
        overflow: auto
    }
    .site-header__nav .nav-items>* {
        width: 100%
    }
    .site-header__nav .nav-items.open {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    .site-header__nav .nav-items li {
        padding: 0;
        position: relative;
        margin-bottom: 0 !important
    }
    .site-header__nav .nav-items li a:before {
        display: none
    }
    .site-header__nav .nav-items li .sub-menu {
        position: static;
        opacity: 1;
        -webkit-box-shadow: none;
        box-shadow: none;
        background: #fff;
        width: 100%;
        padding: 20px 0;
        display: none
    }
    .site-header__nav .nav-items li .sub-menu>li:last-child>a {
        margin-bottom: 0
    }
    .site-header__nav .nav-items>li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .site-header__nav .nav-items li a {
        font-weight: 600;
        display: block;
        margin-bottom: 10px;
        padding: 0 40px
    }
    .site-header__nav .nav-items>li>a {
        text-transform: uppercase;
        letter-spacing: .05em;
        padding: 5px 20px;
        line-height: 35px;
        margin-bottom: 0
    }
    .site-header__nav .nav-items>li .sub-menu>li {
        padding: 0 120px 0 20px
    }
    .site-header__nav .nav-items>li .sub-menu>li>a {
        padding: 0;
        display: inline-block
    }
}

@media(min-width: 1024px) {
    .site-header .logo {
        width: 126px;
        height: 54px
    }
}

.site-header .logo svg {
    display: block;
    width: 100%;
    height: auto
}

.site-header .logo svg * {
    fill: #ffffff
}

.site-header>.container {
    padding-top: 15px;
    padding-bottom: 15px
}

@media(min-width: 1024px) {
    .site-header>.container {
        padding-top: 0;
        padding-bottom: 0
    }
}

@media (max-width: 1023px) {
    .site-header.bg--blue .logo.open svg * {
        fill: #013a5a;
    }
    .site-header.bg--blue .mobile-menu-button.open span {
        color: #013a5a;
    }
}

.site-header .container {
    transition: 250ms background;
}

.site-header .logo svg path {
    transition: 250ms fill;
}

.site-header .logo svg .tactile-letter {
    fill: #013a5a;
}

.site-header .logo svg .medical-letter {
    fill: #65656a;
}

@media (min-width: 1024px) {
    .site-header__nav>.menu-bar>.nav-items>li>.sub-menu {
        display: block !important;
    }
}

.menu-item-has-children::marker {
    content: none;
    height: 0;
    width: 0
}

.site-header ul li.menu-item-has-children>.sub-menu>li:before {
    content: none;
}

.menu-bar>ul.nav-items>li:before {
    content: none;
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1450px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 20px 32px 10px 32px;
    }
}


/* footer */

.site-footer ul,
.site-footer ul li {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.site-footer .container {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 100%;
    line-height: unset;
    padding: 0 65px;
}

.site-footer p {
    font-size: 100%;
    line-height: unset;
}

.site-footer ul li:before {
    content: "";
}

.site-footer .container {
    background: #032b3f;
    color: #cbc8c7;
    overflow: hidden;
    margin-top: 0;
}

@media (min-width: 768px) {
    .site-footer .footer-columns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 120px;
        padding: 35px 0 0;
    }
}

.site-footer .footer-columns {
    padding: 65px 0 0;
    position: relative;
}

.site-footer .footer-columns:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 132px;
    height: 15px;
    background: url('https://img04.en25.com/EloquaImages/clients/TactileMedical/%7B84488dab-55e3-414f-92f4-0438072f8935%7D_brand-bar.png') 50% no-repeat;
    background-size: contain;
}

.site-footer .footer-columns__column {
    font-size: 16px;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.site-footer .col-md-2:nth-child(2) {
    margin: 0 auto;
}

.site-footer .healing-right-at-home {
    margin-bottom: 35px;
}

.site-footer .social-menu {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.site-footer ul {
    list-style: none;
    margin-left: 0;
}

.site-footer .social-menu li:not(:last-child) {
    margin-right: 7px;
}

.site-footer .footer-columns__column li {
    margin-bottom: 10px;
}

.site-footer .social-menu a {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    overflow: hidden;
    font-size: 7px;
    line-height: 40px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -99999px;
    overflow: hidden;
    text-decoration: none;
}

.site-footer .social-menu li.facebook a {
    background-image: url('https://img04.en25.com/EloquaImages/clients/TactileMedical/%7B03899dc4-3c13-4361-8b55-39fca0cb073d%7D_social-facebook.png');
}

.site-footer .social-menu li.twitter a {
    background-image: url('https://img04.en25.com/EloquaImages/clients/TactileMedical/%7B1743c361-2fea-4675-9787-bb4830a32fc6%7D_social-twitter.png');
}

.site-footer .social-menu li.linkedin a {
    background-image: url('https://img04.en25.com/EloquaImages/clients/TactileMedical/%7B0defba42-b0c5-4958-8af0-155eaf74b4fe%7D_social-linkedin.png');
}

.site-footer .social-menu li.youtube a {
    background-image: url('https://img04.en25.com/EloquaImages/clients/TactileMedical/%7Bf10b99b6-eb0d-4a70-8f72-97dfb29d9934%7D_social-youtube.png');
}

@media (min-width: 768px) {
    .site-footer .bbb {
        width: 185px;
    }
}

.site-footer .bbb {
    width: 112px;
    height: 85px;
    background: url('https://img04.en25.com/EloquaImages/clients/TactileMedical/%7Bd3098b93-e869-41f3-9c30-0673a3d80afb%7D_bbb.png') 50% no-repeat;
    background-size: contain;
}

.ui-front .site-header ul,
.ui-front .site-footer ul {
    margin: 0;
}

.site-footer ul {
    list-style: none;
    margin-left: 0;
}

.site-footer a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

@media (max-width: 767px) {
    .site-footer .footer-columns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media (max-width: 767px) {
    .site-footer .footer-columns__column {
        width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
}

.site-footer .footer-columns__column--main {
    -ms-flex-preferred-size: 200%;
    flex-basis: 200%;
}

.resource-menu a {
    white-space: nowrap;
}

footer hr {
    border-top: 1px solid #4298b5;
}

@media (max-width: 780px) {
    .sm-section {
        justify-content: flex-start !important;
        margin-top: 15px;
    }
    .col-md-2 {
        margin: initial;
        padding: 0;
    }
}