html,
body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

form,
#formtext {
    /* display: none; */
}

.row-1,
.row-2,
.icons-container,
footer .section {
    max-width: 2000px;
}

.flex,
nav ul {
    display: flex;
}

.flex section,
nav ul,
footer .section,
footer .container {
    width: 75vw;
    margin: 0 auto;
}


/* fonts and font colors */

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

form {
    font-family: "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

nav,
nav li,
nav a {
    font-size: 0.87rem;
    color: #ffffff;
}

@media (max-width: 870px) {
    nav,
    nav li,
    nav a {
        font-size: 0.72rem;
    }
}

h3 {
    font-size: 1rem;
    color: #464341;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-weight: 400 !important;
}

.left li a:hover {
    font-weight: normal !important;
}

.button-item {
    display: inline-block;
    padding: 0;
    height: 2.8rem;
}

.button-item:hover {
    background-color: #dadada;
}

.icons-container h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #464341;
    font-size: 2.21rem;
    line-height: 1.2;
    font-weight: 400;
}

footer h2 {
    font-size: 0.87rem;
    color: #807552;
}

footer a {
    font-size: 0.75rem;
    color: #464341;
}

footer p {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    color: #766C4C;
    font-size: 1rem;
}

.threecolumns a {
    font-size: 0.75rem;
}

.threecolumns a:hover,
.threecolumns a:focus,
.threecolumns a:active {
    color: #807552;
    font-weight: normal !important;
    transition: all 0.3s;
}

.threecolumns li {
    line-height: 1.5;
}


/* end fonts and font colors */


/* navabr */

nav {
    background-color: #376886;
}

nav ul li {
    list-style: none;
}

li:hover,
a:hover {
    cursor: pointer;
}

.navbar-1,
.navbar-2 {
    margin: 0 auto;
    display: flex;
    justify-items: flex-start;
    gap: 1.27rem;
}

.navbar-1 {
    padding: 0.7rem 0;
}

.row-1,
.row-2 {
    width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.col-1 {
    width: 70%;
}

.col-2 {
    width: 30%;
}

.col-2,
.col-2 ul {
    display: flex;
    justify-content: right;
    align-items: center;
    line-height: 2rem;
}

.nav-button {
    background-color: #1e5772;
    padding: 0.2rem 1.2rem;
}

.nav-button:hover,
.nav-button:focus {
    background: rgba(0, 0, 0, 0.6);
}

.nav-button img {
    margin-top: 0.5rem;
    height: 1rem;
}

.row-2 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.top-logo {
    height: 2.7rem;
}

.row-2 h1 {
    font-size: 1.75rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.25;
    font-weight: 400;
}

@media (max-width:400px) {
    nav .row-2 {
        display: block;
    }
    .row-2 h1 {
        font-size: 1rem;
    }
    .row-2 .col-2 {
        text-align: right;
        width: 100%;
        background-color: #376886;
    }
}


/* end of navbar */


/* form */

.form-section {
    background-color: #1e546e;
    width: 100vw !important;
    box-shadow: -3px 6px 4px #aaa;
}

form {
    margin: 0 auto;
    width: 75vw;
    background-color: #ffffff;
    padding: 1rem;
}

#formtext {
    background-color: lightblue;
    width: 100vw;
}

#formtext .section {
    border: solid 1px black;
    width: 75vw;
}

.right,
input {
    margin: 0 auto;
    width: 100%;
}


/* --------- end of form */


/* icons container */

.icons-container {
    margin-top: 2rem;
    padding-top: 2rem;
}

.icons-container ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    gap: 1.5rem;
}

.icons-container ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
}

.icons-container ul li {
    display: flex;
    width: calc((80vw / 4) - 4rem);
    min-width: 170px;
    margin-top: 2rem;
}

@media (max-width: 800px) {
    .icons-container ul li {
        width: calc((80vw / 2) - 5rem);
    }
    .icons-container ul li {
        min-width: 100px;
    }
}

.icons-container img {
    width: auto;
    margin-bottom: 1rem;
    height: 4.5rem;
    max-height: 170px;
}


/* --- end of icons container */


/* footer top section  */

footer .section {
    display: flex !important;
    width: 75vw !important;
    margin: 0 auto !important;
    margin-bottom: 1.5rem !important;
}

.york-schulich-logo {
    width: 20rem;
}

.left ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.left ul li {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0;
    margin-top: 0.6rem;
    background-color: #f3f3f3;
}

.button-item a {
    padding: 0.5rem 1rem;
}

.left ul li:nth-child(1n+2) img {
    width: 1.5rem;
    margin-right: 0.5rem;
}

.right li {
    white-space: nowrap;
}


/* social icons section bottom */

.section-bottom {
    background-color: #f3f3f3;
}

.visuallyhidden {
    visibility: hidden;
}

footer .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: top;
    padding: 0.3rem;
}

.social-icons {
    align-content: center;
    display: flex;
    gap: 1rem;
    position: relative;
}

.social-icons li {
    height: 1.7rem;
    width: 2rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.social-icons li a {
    width: 1.5rem;
    display: flex;
    padding: 0;
    justify-items: center;
}

.social-icons li:nth-child(1) img {
    width: 1rem;
}

.section-bottom {
    padding: 1rem 3rem;
}

.section-bottom .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-bottom p {
    display: flex;
    order: 1;
    min-width: 250px;
    margin-right: 1rem;
}

.section-bottom .social-icons {
    order: 2;
    min-width: 270px;
}

.section-bottom img:hover {
    filter: brightness(50%);
}

@media (max-width: 1085px) {
    .section-bottom p {
        order: 3;
    }
}

@media (max-width: 900px) {
    footer .section {
        display: flex;
        flex-wrap: wrap;
    }
    footer .left {
        width: 100% !important;
    }
    footer .right li {
        text-align: unset;
        margin-right: 1rem;
    }
    .threecolumns {
        display: flex !important;
        flex-wrap: wrap;
    }
    .col33 {
        text-align: left !important;
        width: 50% !important;
        min-width: 200px;
    }
}

@media (max-width: 700px) {
    footer .section {
        width: 90vw !important;
    }
    .york-schulich-logo {
        width: 100%;
    }
    #footersocial ul {
        display: inline;
        padding: 1rem;
    }
    #footersocial ul li {
        float: left;
        margin: 0.4rem;
    }
}


/* sections general width */

@media (max-width: 800px) {
    .row-1,
    .row-2,
    section,
    .form-section form,
    .icons-container,
    footer .section {
        width: 90vw !important;
    }
    .form-section {
        width: 100vw !important;
    }
}

@media (min-width: 2000px) {
    .row-1,
    .row-2,
    .icons-container,
    footer .section,
    footer .container {
        width: 50vw !important;
    }
}


/* toggle menu */

.toggle-menu-icon {
    display: none;
    position: absolute;
    top: 0;
    width: 3rem;
    padding: 3rem 6rem 0 0;
}

.toggle-closed {
    display: none;
}

.toggle-menu-icon span,
.toggle-menu-icon img {
    position: absolute;
    font-size: 1rem;
    top: 0.7rem;
    left: 0.8rem;
}

.toggle-menu-icon span {
    margin-left: 1.5rem;
}

input:hover~.row-2 .toggle-menu-icon,
.toggle-menu-icon:hover,
input:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
}

.toggle-check {
    display: none;
}

@media(max-width: 630px) {
    nav {
        position: sticky;
        top: 0;
        z-index: 2;
        background: #376886;
    }
    nav .row-1 {
        display: none;
        z-index: 1;
        height: 20vh;
        position: absolute;
        top: 4.3rem;
        opacity: 1;
        z-index: 1;
        background-color: #1e546e;
        margin: 0px -100%;
        padding: 0 100%;
    }
    .navbar-1 {
        padding: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        background-color: #1e546e;
        gap: 0;
        margin: 0 auto !important;
        position: relative;
    }
    .navbar-1 li {
        display: flex;
        flex: 1 1 40%;
    }
    .navbar-1 li a {
        padding: 1rem 5rem 1rem 1rem;
        text-align: left;
        font-size: 1rem;
        width: 100%;
        display: flex;
        min-width: 250px;
    }
    .navbar-1 li a:hover,
    .navbar-1 li a:focus {
        background: #1d3c4b;
    }
    nav .row-2 {
        margin-top: 0;
    }
    .toggle-menu-icon,
    .toggle-menu-icon img {
        margin-left: 0.3rem;
        display: inline-block;
        height: 1rem;
        width: auto;
    }
    .toggle-check {
        display: block;
        padding: 4rem;
        height: 5rem;
        position: absolute;
        left: 10rem;
        top: 0.1rem;
        transform: translateX(2);
        font-size: 7rem;
        width: 5rem;
        height: 50px;
        opacity: 0;
        z-index: 3;
    }
    .toggle-closed img {
        width: 0.8rem;
        height: auto;
        margin-top: 0.2rem;
    }
    input:checked+.row-1 {
        display: block;
        transition: all 0.5s;
    }
    input:checked~.row-2 .toggle-open {
        display: none;
    }
    input:checked~.row-2 .toggle-closed,
    input:checked~.row-2 .toggle-menu-icon {
        display: inline;
    }
}