form {
    display: none;
}

.flex {
    display: flex;
}

nav {
    width: 100vw;
    border: solid 5px red;
}


/* icons container */

.icons-container {
    background: lightgray;
}

.icons-container ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    flex-wrap: wrap;
    width: 90vw;
    margin: 0 auto;
    gap: 2rem;
}

.icons-container ul li {
    border: solid 1px blue;
    display: flex;
    width: calc((100vw / 4) - 5rem)
}


/* end of icons container */

img {
    width: 100px;
}


/* social icons section bottom */

.section-bottom {
    background-color: #f3f3f3;
}

.visuallyhidden {
    visibility: hidden;
}

footer .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-icons img {
    width: 25px;
}

.social-icons li:nth-child(1) img {
    width: 15px;
}

footer img {
    width: 50px;
}

.york-schulich-logo {
    width: 250px;
}