#socials {
  float: right;
  max-width: 159px;
  overflow: hidden;
}

/* Container 01
/* Header 
****************************/
#logo {
  padding-top: 15px;
  padding-left: 29px;
  width: 234px;
  display: inline-block;
  vertical-align: top;
}
.container01 #socials {
  padding: 0;
  margin-right: 38px;
}

.container01 ul {
  top: 100px;
  position: absolute;
  margin-left: 330px;
  width: 800px;
  list-style: none;
  color: #264447;
  display: block;
}
.container01 ul li {
  padding: 0 21px;
  display: inline-block;
  vertical-align: top;
  font-family: "FunnyFarm", serif;
}

.container01 ul li a {
  text-decoration: none;
  padding: 8px;
  font-size: 18px;
  line-height: 25px;
  color: #dddcc4;
}
.container01 ul li a:link {
  text-decoration: none;
  color: #dddcc4;
}
.container01 ul li a:visited {
  text-decoration: none;
  color: #dddcc4;
}
.container01 ul li a:hover {
  text-decoration: none;
  padding-bottom: 25px;
  line-height: 25px;
  background: #d8d8c1;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  color: #264447;
}

.container01 a.current {
  text-decoration: none;
  padding-bottom: 25px;
  line-height: 25px;
  background: #d8d8c1;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  color: #264447;
}
/* logo section */
.logos-gallery li img{
  width: 85%;
}

.logos-gallery li{
  display: flex;
  flex-direction: column;
  align-items: center;

}

li p{
  color: #fff;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

/* .platformHeading,.platformHeading h2{
  margin-bottom: 15px !important;
} */


.adobeBadge{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.adobeBadgeImg{
 width: 180px;
  margin: 20px 0px 0px 61px;

}

.adobeBadgeImg img{
  width: 100%;  
}


/* Container 02
/* Content 
****************************/
.robot {
  position: relative;
  z-index: 999;
  margin-top: -5px;
  width: 339px;
  float: left;
}
.robot2 {
  margin-top: 40px;
  width: 339px;
  float: left;
}
.content_block {
  position: absolute;
  margin-top: 50px;
  margin-left: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 30px;
  width: 658px;
  float: left;
  border: 1px solid #ab9d6b;
  background: rgba(242, 237, 215, 0.5);
}
.content_block_contact {
  position: absolute;
  margin-top: 50px;
  margin-left: 375px;
  padding: 30px 50px;
  width: 585px;
  float: left;
  border: 1px solid #ab9d6b;
  background: rgba(242, 237, 215, 0.5);
}
.content_block_contact2 {
  margin-top: 50px;
  padding: 30px 50px;
  margin-bottom: 50px;
  width: 600px;
  float: right;
  border: 1px solid #ab9d6b;
  background: rgba(242, 237, 215, 0.5);
}
.home {
  height: 356px;
  border-bottom: 0;
}
.home_copy {
  font-size: 14px;
  line-height: 19px;
}

.home_copy a {
  text-decoration: none;
  font-size: 14px;
  color: #264447;
}
.home_copy a:link {
  text-decoration: none;
  color: #264447;
}
.home_copy a:visited {
  text-decoration: none;
  color: #264447;
}
.home_copy a:hover {
  text-decoration: none;
  color: #d85a29;
}

#panel_tabs {
  top: 95px;
  margin-left: 424px;
  position: absolute;
}

#contact_info {
  float: left;
  font-size: 15px;
}

#contact_info a {
  text-decoration: none;
  font-size: 14px;
  color: #264447;
}
#contact_info a:link {
  text-decoration: none;
  color: #264447;
}
#contact_info a:visited {
  text-decoration: none;
  color: #264447;
}
#contact_info a:hover {
  text-decoration: none;
  color: #d85a29;
}

#contact_map {
  float: right;
  font-size: 15px;
}
#contact_map img {
  margin-left: -29px;
}

/* Container 03
/* Steps 
****************************/
.container03 ul.steps01 {
  list-style: none;
  display: block;
  width: 1100px;
}
.container03 ul.steps01 li:first-child {
  margin: 0 5px;
  float: left;
  width: 206px;
  height: 450px;
  background: url(art/panel_01.png);
}
.container03 ul.steps01 li {
  margin: 0 3px;
  float: left;
  width: 206px;
  height: 450px;
  background: url(art/panel_02.png);
}

.container03 ul.steps01 li h3 {
  font-family: "FunnyFarm", serif;
  font-size: 13px;
  padding-top: 15px;
  margin-bottom: 25px;
  line-height: 18px;
  text-align: center;
}
.container03 ul.steps01 li h3.red {
  color: #f2edd7;
}
.container03 ul.steps01 li h4 {
  font-family: "FunnyFarm", serif;
  font-size: 18px;
  margin: 0;
  margin-bottom: 5px;
  line-height: 21px;
  text-align: center;
}
.container03 ul.steps01 li #copy {
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 25px;
  padding-left: 25px;
  width: 151px;
  text-align: center;
  color: #f2edd7;
}
.container03 ul.steps01 #copy p {
  font-size: 11px;
}
#copy p.nohl {
  padding-top: 60px;
}

.container03 ul.steps02 {
  list-style: none;
  display: block;
  width: 1100px;
}
.container03 ul.steps02 li {
  margin: 0 1px;
  float: left;
  width: 267px;
  height: 450px;
  background: url(art/panel_03.png);
}

.container03 ul.steps02 li h3 {
  font-family: "FunnyFarm", serif;
  font-size: 19px;
  padding-top: 25px;
  margin-bottom: 25px;
  line-height: 34px;
  text-align: center;
  color: #f2edd7;
}
.container03 ul.steps02 li #copy {
  margin-top: 10px;
  padding: 35px;
  padding-top: 55px;
  width: 202px;
  text-align: center;
  color: #264447;
}
.container03 ul.steps02 #copy p {
  font-size: 12px;
}
#copy p.hlshort {
  padding-top: 45px;
}

.container03_m #one_panel {
  margin: 10px;
  margin-left: 75px;
  width: 924px;
  height: 240px;
  padding: 29px;
  border: 1px solid #ab9d6b;
  background: rgba(242, 237, 215, 0.4);
}
.container03_m #one_panel ul {
  list-style: none;
}
.container03_m #one_panel li {
  float: left;
  margin: 0 9px;
}

.container03_m ul.two_panels {
  list-style: none;
  padding-top: 35px;
  display: block;
  width: 1100px;
}
.container03_m ul.two_panels li {
  float: left;
  margin: 10px;
  width: 437px;
  height: 200px;
  padding: 38px;
  border: 1px solid #ab9d6b;
  background: rgba(242, 237, 215, 0.4);
}

.container03_m ul.two_panels a {
  text-decoration: none;
  font-size: 16px;
  color: #264447;
}
.container03_m ul.two_panels a:link {
  text-decoration: none;
  color: #264447;
}
.container03_m ul.two_panels a:visited {
  text-decoration: none;
  color: #264447;
}
.container03_m ul.two_panels a:hover {
  text-decoration: none;
  color: #d85a29;
}

.container03_m ul.two_panels #phone {
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}
.container03_m ul.two_panels #email {
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}
.container03_m ul.two_panels #map {
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
}

.container03_m ul.two_panels li h3 {
  font-family: "FunnyFarm", serif;
  font-size: 21px;
  margin-bottom: 25px;
  line-height: 21px;
  color: #d85a29;
  text-align: center;
}
.container03_m ul.two_panels li p {
  text-align: center;
  font-size: 22px;
  line-height: 27px;
}

.container03_m ul.four_panels {
  list-style: none;
  padding-top: 35px;
  margin-left: 32px;
  display: block;
  width: 1100px;
}
.container03_m ul.four_panels li {
  float: left;
  margin: 10px;
  width: 487px;
  height: 280px;
  border: 1px solid #ab9d6b;
  background: rgba(242, 237, 215, 0.7);
}

.container03_m ul.four_panels #row01 {
  padding: 5px 25px;
  width: 437px;
  height: 125px;
  background: rgba(242, 237, 215, 0.3);
}
.container03_m ul.four_panels #row01 h3 {
  font-family: "FunnyFarm", serif;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: -4px;
  line-height: 34px;
  color: #d85a29;
}
.container03_m ul.four_panels #row01 p {
  font-size: 18px;
  font-weight: strong;
}
.container03_m ul.four_panels #row01 p.less {
  margin-top: -10px;
  font-size: 14px;
}
.container03_m ul.four_panels #row02 {
  padding: 5px 25px;
  width: 437px;
  height: 139px;
  border-top: 1px solid #ab9d6b;
}
.container03_m ul.four_panels #row02 p {
  font-size: 12px;
  min-height: 50px;
}
.container03_m ul.four_panels #row01 img {
  margin-top: -80px;
}
.container03_m ul.four_panels #row01 img.top {
  margin-top: -80px;
}
.container03_m ul.four_panels #row02 img {
  float: right;
}

/* Container 04
/* Footer 
****************************/
.container04 .container ul {
  list-style: none;
  color: #264447;
  padding-top: 35px;
  display: block;
  width: 1100px;
}
.container04 .container ul li {
  padding: 0 85px;
  text-align: left;
  vertical-align: top;
  display: inline-block;
  line-height: 26px;
}
.container04 .container ul li:first-child {
  padding-left: 0;
}
.container04 .container ul li:nth-child(2) {
  text-align: center;
  border-right: 2px solid #a6b59d;
  border-left: 2px solid #a6b59d;
}
.container04 .container ul li:last-child {
  padding-right: 0;
}

.container04 .container ul h3 {
  margin: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
}

/* Container 05
/* Footer 
****************************/
.container05 #socials {
  padding: 0;
  margin-top: -42px;
  margin-right: 100px;
}
/* Container 06
/* Blog 
****************************/
.container06 .container {
  padding-top: 80px;
}
#blog-tab {
  float: left;
}
.content_block_blog1 {
  position: absolute;
  margin-left: 300px;
  padding: 30px 50px;
  width: 620px;
  float: left;
  border: 1px solid #ab9d6b;
  background: rgba(242, 237, 215, 0.5);
}
.content_block_blog2 {
  position: absolute;
  margin-top: 450px;
  margin-left: 300px;
  padding: 30px 50px;
  width: 620px;
  float: left;
  border: 1px solid #ab9d6b;
  background: rgba(242, 237, 215, 0.5);
}
.content_block_blog3 {
  position: absolute;
  margin-top: 900px;
  margin-left: 300px;
  padding: 30px 50px;
  width: 620px;
  float: left;
  border: 1px solid #ab9d6b;
  background: rgba(242, 237, 215, 0.5);
}
.content_block_blog4 {
  position: absolute;
  margin-top: 1350px;
  margin-left: 300px;
  padding: 30px 50px;
  width: 620px;
  float: left;
  border: 1px solid #ab9d6b;
  background: rgba(242, 237, 215, 0.5);
}
#readmore_btn {
  margin-top: 20px;
  float: left;
}
.left50 {
  margin-left: 50px;
}
