defaults {
    color: #E71356, #7D44FF, #AB99FF, #250058
}

buttons {
    color: #E71356, #7D44FF, #AB99FF, #250058, #ED1A5D
}

footer {
    background-color: #EEECF2, #E71356, #7D44FF, #AB99FF, #250058, #55506A;
}

headline {
    color: #07002B, #5C00DC, #55506A, #E71356, #7D44FF, #AB99FF, #250058
}