.mktoForm {
    width: 99% !important;
    max-width: 700px !important;
    margin: 0 auto !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mktoForm .mktoOffset,
.mktoForm .mkoGutter,
.mktoForm .mktoAsterix,
.mktoForm fieldset legend {
    display: none !important
}

.mktoForm .mktoFormRow {
    display: flex !important;
}

.mktoForm .mktoFormRow {
    width: 100%;
}

.mktoForm .mktoFormRow:nth-of-type(1),
.mktoForm .mktoFormRow:nth-of-type(2) {
    width: 48% !important;
}

.mktoForm .mktoLabel {
    width: 90% !important;
    font-size: 21px !important;
    color: #042a2d !important;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
    font-weight: 400 !important;
}

.mktoForm.mktoLayoutAbove .mktoRequiredField .mktoAsterix {
    color: #042a2d !important;
}

.mktoForm input[type="text"],
.mktoForm input[type="url"],
.mktoForm input[type="email"],
.mktoForm input[type="tel"],
.mktoForm input[type="number"],
.mktoForm input[type="date"],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
    color: #097d94 !important;
    background: 0 0;
    border-bottom: 1px solid #097d94 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border: 0;
    display: block;
    height: 30px;
    outline: none;
    font-size: 21px;
    font-weight: 200 !important;
}

.mktoForm input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #097d94 !important;
}

.mktoForm input::-moz-placeholder {
    /* Firefox 19+ */
    color: #097d94 !important;
}

.mktoForm input:-ms-input-placeholder {
    /* IE 10+ */
    color: #097d94 !important;
}

.mktoForm input:-moz-placeholder {
    /* Firefox 18- */
    color: #097d94 !important;
}

.mktoForm .mktoFormCol,
.mktoForm .mktoFieldWrap,
.mktoForm input,
.mktoForm textarea.mktoField,
.mktoForm select.mktoField,
.mktoForm .mktoButtonRow {
    width: 100% !important;
    padding-left: 0 !important;
}

.mktoForm textarea.mktoField {
    height: 70px !important;
    min-height: 40px !important;
}

.mktoForm input,
.mktoForm select.mktoField,
.mktoForm textarea.mktoField {
    background: #ffffff !important;
    color: #097d94 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    font-size: 21px !important;
}

.mktoForm .mktoFieldWrap {
    margin: 0 auto !important
}

.mktoForm .mktoButtonWrap.mktoSimple {
    margin: 2rem 0 0 !important;
}

.mktoForm .mktoButtonRow {
    display: flex;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    background-color: #097d94 !important;
    background-image: none !important;
    border: 3px solid #097d94 !important;
    padding: 13px 30px !important;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 600;
}

.mktoForm .mktoHtmlText {
    color: #717980 !important;
    font-size: 16px;
    width: 100% !important;
    margin-top: 1.5rem;
}

.mktoForm a {
    color: #097d94 !important;
    text-decoration: none;
}

.mktoForm fieldset {
    border: none;
}

.mktoForm fieldset .mktoLabel {
    font-size: 16px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.mktoForm fieldset .mktoFieldWrap {
    float: none !important;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.mktoForm fieldset .mktoRadioList,
.mktoForm fieldset .mktoCheckboxList {
    width: 105px !important;
}

#LblcommunicationsPreferences {
    visibility: hidden !important;
}

#LblprivacyNotice {
    margin-left: -45px !important;
}

@media (max-width: 500px) {
    .mktoForm .mktoFormRow:nth-of-type(1),
    .mktoForm .mktoFormRow:nth-of-type(2) {
        width: 100% !important
    }
}