/* @import url('http://example.com/example_style.css'); */


/***********************************************/


/* CSS @imports must be at the top of the file */


/* Add them above this section                 */


/***********************************************/


/*****************************************/


/* Start your style declarations here    */


/*****************************************/

@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
.header-text {
    font-family: 'Sora', sans-serif;
}

.header-text hr {
    width: 8rem;
    opacity: 0.5;
    border: 0 none;
    height: 0.2rem;
    background-color: #334155;
}

.row-fluid {
    display: flex;
    justify-content: center;
}

.header-container .row-number-2 {
    width: 960px;
    max-width: 100vw;
    margin: 0 auto;
}

.header-container .row-number-2 .row-fluid {
    justify-content: left !important;
}

.header-container .span12 {
    margin: -0.6rem 0 -0.6rem 0rem;
    padding-left: 1rem;
}


/* banner text width image */

.banner .row-number-2 {
    width: 960px;
    margin: 0 auto;
    max-width: 100vw;
}

.banner .span5,
.banner .span7 {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 0 !important;
    width: 50%;
}

.banner .span7 {
    justify-content: center;
    padding-left: 4rem;
}


/* content */

ul,
ol {
    list-style: none !important;
}

.main-container .row-number-2,
.main-container .row-number-4 {
    width: 960px;
    margin: 0 auto;
    max-width: 100%;
}

.main-container .row-number-2 .row-fluid,
.main-container .row-number-4 .row-fluid {
    padding: 0 1rem;
}

.main-container .row-number-2 .row-fluid {
    max-width: 90%;
}

.row-number-3 ul li::before {
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1rem;
    top: 0.9em;
    position: relative;
}

ol li::marker {
    content: "▶";
}


/* dan moore image */

.main-container .row-number-4 .row-fluid {
    justify-content: left;
}

.dan-moore .row-number-5 .row-fluid {
    display: flex;
    align-items: center;
}

.dan-moore h4,
.dan-moore p {
    margin: 0;
    line-height: 1.3;
}


/* external styling for footer icons */

.footer-container .row-number-7 .row-fluid {
    display: flex;
    align-items: center;
    height: 2rem;
}

.footer-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
}

.footer-icons {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.5rem;
    padding: 0;
}

.footer-icons svg {
    width: 25px;
    height: 25px;
}

.footer-icons li::before {
    display: none;
}

a {
    text-decoration: none;
}


/* media queries */

@media screen and (max-width: 767px) {
    .main-container {
        display: flex !important;
        flex-wrap: wrap;
        width: unset !important;
        padding: 0 1rem !important;
    }
    .main-container .row-number-2 {
        padding: 0 !important;
    }
    .main-container .row-number-2 .row-fluid {
        flex-wrap: wrap;
    }
    .row-number-3 .row-fluid {
        display: flex;
        flex-wrap: wrap;
    }
    .row-number-4 {
        margin: 0 auto;
    }
    .row-fluid .span5 {
        margin-top: 2rem;
        display: flex !important;
    }
}

@media screen and (max-width: 600px) {
    .header-container .span12 {
        padding-left: 0.4rem;
    }
    .footer-group {
        padding: 0 1rem !important;
    }
}

@media screen and (max-width: 525px) {
    .row-number-6 .span12 {
        padding: 3.5rem 0 3.2rem !important;
    }
    .footer-group {
        flex-direction: column;
        align-items: center;
        gap: 0.1rem;
    }
    .footer-group .row-number-8 {
        order: 3;
    }
    .footer-container .row-number-7 .row-fluid {
        text-align: center;
        line-height: 20px;
        margin-top: 0.2rem;
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width:600px) {
    .banner .span5 {
        width: 50%
    }
    .banner .span7 {
        padding: 0;
        width: 100%;
    }
    .main-container {
        padding: 0 !important;
    }
    .main-container .row-number-2 .row-fluid {
        max-width: 90% !important;
    }
}

@media screen and (max-width: 400px) {
    .banner .row-fluid {
        flex-wrap: wrap;
    }
    .banner .row-number-2 {
        width: 90vw;
    }
}