.form-container {
    width: 750px;
    background-color: #F2F3E9;
    border-color: #adadad;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.mktoForm {
    text-align: left;
    width: 95%!important;
    margin: 0 auto 30px;
}

.mktoForm .mktoFormRow {
    width: 100%;
}

.mktoForm .mktoFieldWrap {
    width: 100%;
}

.mktoForm .mktoGutter {
    display: none;
}

.mktoForm .mktoFormCol {
    width: 100%;
}

.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
    padding: .4375rem .75rem!important;
    width: 100%!important;
    color: #16325C!important;
    border-color: #adadad!important;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif!important;
    background: #FFFFFF!important;
    font-size: 14px!important;
    border-radius: 4px!important;
    border: 1px solid #898f94!important;
}

.mktoForm .mktoLabel {
    float: left;
    line-height: 1.2em;
    padding-top: 0.3em;
    width: 100%!important;
    color: #000000!important;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif!important;
    font-size: 16px!important;
}

.mktoForm .mktoRequiredField label.mktoLabel {
    font-weight: normal!important;
}

.mktoButtonRow {
    width: 100%;
}

span.mktoButtonWrap.mktoSimple {
    margin-left: 0!important;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    background: #eb0000!important;
    width: 100%!important;
    color: #F2F3E9!important;
    border-color: #eb0000!important;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif!important;
    font-size: 16px!important;
    border-radius: 4px!important;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:hover {
    background: #56b569!important;
    border-color: #56b569!important;
}

textarea {
    height: 120px;
}

.mktoForm>.mktoFormRow fieldset {
    border: none;
}

.mktoForm>.mktoFormRow,
.mktoForm>.mktoButtonRow,
.mktoForm>.mktoFormRow fieldset legend {
    display: none !
}

.mktoForm>.mktoButtonRow button[type="button"] {
    margin-right: 10px;
    margin-bottom: 10px;
}

.mktoForm .mktoCheckboxList>.mktoError {
    right: auto !important;
    bottom: -54px !important;
}