.mktoForm {
    background: #dbd6d2;
    width: 100% !important;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mktoForm .mktoLabel {
    font-weight: bold;
    font-size: 14px;
    padding-left: 0.5rem;
    white-space: nowrap;
    margin-bottom: 0.5rem;
}

.mktoForm .mktoFormRow:nth-child(5) .mktoLabel {
    padding-left: 0;
    margin-bottom: 0.8rem;
}

.mktoForm .mktoOffset {
    display: none;
}

.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
.mktoForm textarea.mktoField {
    width: calc((350px - 2rem)) !important;
    margin: 0.5rem;
    border: none !important;
    padding: 10px 25px 10px 15px;
}

.mktoForm select.mktoField,
#Company {
    width: calc(700px - 3rem) !important;
    padding: 10px 25px 10px 15px;
    border: none !important;
}

.mktoForm .mktoRequiredField .mktoAsterix {
    display: none;
}

.mktoForm .mktoRequiredField label.mktoLabel:after {
    content: "*";
    color: #000000;
}

.mktoForm .mktoButtonRow {
    align-self: end;
}

.mktoForm .mktoRound {
    margin: 0 auto !important
}

.mktoForm .mktoButtonWrap.mktoRound .mktoButton {
    background: #003349 !important;
    border: none !important;
    padding: 13px 42px !important;
    margin: 1rem 1.4rem 2rem 0 !important;
    font-size: 14px;
}

.mktoForm .mktoButtonWrap.mktoRound .mktoButton:hover,
.mktoForm .mktoButtonWrap.mktoRound .mktoButton:active {
    background: #039db8 !important;
    cursor: pointer;
}