/* general styling */

.wrapper {
    width: 75vw;
    margin: 0 auto;
    max-width: 1200px;
}

.flex-container {
    display: flex;
}

img {
    width: 100%;
    height: auto;
}


/* typography */

* {
    padding: 0;
    border: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-family: 'Source Sans Pro', sans-serif !important;
}

h1,
h2,
aside,
aside button a {
    font-family: 'Poppins', sans-serif !important;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px
}

h3 {
    font-size: 14px;
}

aside p {
    font-size: 12px;
}

p,
li {
    line-height: 25px;
    color: #141414;
    font-size: 14px;
}

article li {
    font-size: 13px;
}

.statement br {
    line-height: 20px;
}

footer .row-1 p {
    color: #000000;
}

h1,
h2,
article li::marker {
    color: #0047bb;
}

aside p,
aside button a,
aside h3 {
    color: #ffffff;
    text-decoration: none;
}

aside h3,
aside p {
    line-height: 15px;
    text-align: center;
}

footer .row-2 p {
    color: #9aa1a4;
    font-size: 18px;
    letter-spacing: 0.25rem;
}

footer .row-4 p {
    font-size: 8px;
    line-height: 12px;
    text-align: center;
}


/* -- end of typography */


/* -- end of general styling -- */


/* logo */

.logo-container {
    display: flex;
    justify-content: center;
    width: 180px;
    margin: 0 auto;
    margin: 1rem auto;
}


/* -- end of logo */


/* banner */

.banner {
    display: flex;
    width: fit-content;
    margin-bottom: 2rem;
}

.banner img {
    max-width: 1600px;
    border-radius: 15px;
}


/* -- end of  banner */


/* -- end of statement  */


/* main*/

main {
    width: calc(100% - 17rem);
    /* padding-right: 2rem; */
}


/* -- end of main -- */


/* statement  */

.statement {
    display: flex;
    margin-bottom: 1rem;
}

.statement h1 {
    margin-top: 1rem;
}


/* articles */

main article:nth-child(2n+2) {
    flex-direction: row-reverse;
    display: flex;
}

main article .img-container {
    padding-right: 2rem;
}

article .img-container,
.article-context {
    width: calc((100% / 2));
}

.article-context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0.5rem;
}

article.flex-container {
    padding: 2.5rem 0;
}

article.flex-container:nth-of-type(1n+2) {
    border-top: solid 2px #c3c3c3;
}

article ul {
    margin-top: 0.5rem;
}

article li {
    margin-left: 1.5rem;
    line-height: 17px;
    margin-top: 0.5rem;
    max-width: 200px;
}


/* aside */

aside {
    float: right;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.aside-container-1,
.aside-container-2 {
    width: 240px;
    height: 270px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    vertical-align: top;
    padding: 2rem 1rem;
}

.aside-container-1 {
    background: url('http://815-GYF-786.mktoweb.com/rs/815-GYF-786/images/aside-1.png');
    background-size: cover;
}

.aside-container-2 {
    background: url('http://815-GYF-786.mktoweb.com/rs/815-GYF-786/images/aside-1.png');
    background-size: cover;
}


/* aside button */

aside button {
    background-color: #231f20;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    margin-top: 0.7rem;
    border: solid 2px #231f20;
}

aside button:hover,
aside button:focus {
    border: solid 2px #ffffff;
    transition: all 0.1s;
}

aside button:active {
    transition: all 0.1s;
    transform: scale(0.95);
    box-shadow: 1px 1px 1px #525151;
}


/* -- end of aside button */


/* -- end of aside */


/* footer */

footer {
    text-align: center;
}

footer .row-1 p {
    font-weight: 800;
    margin: 1rem auto;
}

footer .row-2 p {
    text-transform: uppercase;
    margin: 1rem auto;
    padding: 1rem 0;
    border-bottom: solid 2px #c3c3c3;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem auto;
}

footer .icons-container li {
    width: 25px;
    height: 100%;
    border-radius: 50%;
    border: solid 2px #5b5c91;
    height: 25px;
    max-width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25px;
}

.icons-container img:nth-child(1) {
    margin-top: 0.6rem;
}

.icons-container img {
    width: 0.6rem;
}


/* -- end of footer -- */


/* media queries */

@media (max-width: 920px) {
    main {
        padding-right: 0rem;
    }
}

@media (max-width: 860px) {
    aside {
        float: none;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 2rem;
    }
    main {
        width: 100%;
        padding-right: 0;
    }
    article,
    main article:nth-child(2n+2) {
        flex-direction: column;
    }
    article .img-container,
    .article-context {
        width: 100%;
    }
    .article-context {
        margin-top: 1rem;
    }
}

@media (max-width:420px) {
    aside {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


/* -- end of media queries */