.mktoForm {
    width: 100% !important;
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mktoForm .mktoLabel,
.mktoForm .mktoAsterix,
.mktoForm .mktoGutter,
.mktoForm .mktoOffset {
    display: none;
}

.mktoForm .mktoFormRow {
    width: 100% !important;
}

.mktoForm .mktoFormRow:nth-of-type(1),
.mktoForm .mktoFormRow:nth-of-type(2),
.mktoForm .mktoFormRow:nth-of-type(3),
.mktoForm .mktoFormRow:nth-of-type(4) {
    width: 49% !important;
}

.mktoForm select option,
.mktoForm input[type="text"],
.mktoForm input[type="url"],
.mktoForm input[type="email"],
.mktoForm input[type="tel"],
.mktoForm input[type="number"],
.mktoForm input[type="date"],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
    padding: 13px 15px !important;
    min-height: 2.5rem !important;
}

.mktoForm select.mktoField,
.mktoForm select option,
.mktoForm input[type="text"]::placeholder,
.mktoForm input[type="url"]::placeholder,
.mktoForm input[type="email"]::placeholder,
.mktoForm input[type="tel"]::placeholder,
.mktoForm input[type="number"]::placeholder,
.mktoForm input[type="date"]::placeholder,
.mktoForm textarea.mktoField::placeholder,
.mktoForm select.mktoField::placeholder {
    color: #124559 !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    font-family: 'Poppins', sans-serif;
    mix-blend-mode: darken;
}

.mktoButton {
    margin-top: 1rem !important;
}

.mktoForm .mktoFormCol,
.mktoForm .mktoFieldWrap {
    width: 100%;
}

.mktoForm input[type="text"],
.mktoForm input[type="url"],
.mktoForm input[type="email"],
.mktoForm input[type="tel"],
.mktoForm input[type="number"],
.mktoForm input[type="date"],
.mktoForm textarea.mktoField,
.mktoFolect.mktoField {
    width: 100% !important;
}

.mktoForm .mktoButtonRow,
.mktoForm .mktoButtonWrap {
    margin: 0 auto;
}

@media (max-width: 500px) {
    .mktoForm .mktoFormRow:nth-of-type(1),
    .mktoForm .mktoFormRow:nth-of-type(2),
    .mktoForm .mktoFormRow:nth-of-type(3),
    .mktoForm .mktoFormRow:nth-of-type(4) {
        width: 100% !important;
    }
}

@media (max-width:768px) {
    .form-container .mktoForm select option,
    #form .mktoForm select,
    #form .mktoForm input[type="url"],
    #form .mktoForm input[type="text"],
    #form .mktoForm input[type="date"],
    #form .mktoForm input[type="tel"],
    #form .mktoForm input[type="email"],
    #form .mktoForm input[type="number"],
    #form .mktoForm textarea.mktoField,
    .form-container .mktoForm select.mktoFieldr {
        font-size: 18px !important;
    }
}