.careers-banner,
#banner {
    background: #F9B347;
}
.careers-banner#banner::before {
    content: none;
    position: absolute;
    left: 0;
    top: -20px;
    overflow: visible;
    width: 100%;
    height: 500px;
    background: none;
    background-image: url(../images/careers-bg.svg);
    z-index: 2;
    -webkit-transform: skewY(0);
    -moz-transform: skewY(0);
    -ms-transform: skewY(0);
    -o-transform: skewY(0);
    transform: skewY(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: initial;
    background-repeat: no-repeat;
    background-position: center;
}

#banner {
    position: unset;
}

.about-us-title {
    z-index: 100;
}

#careersh1 h1 {
    box-shadow: 7px 8px 0px -1px rgb(208 147 55) !important;
    box-shadow: 7px 8px 0px -1px #00000033 !important;
}

#titlesec{
    margin-top: -160px;
}
#titlesec .topbg {
    background-image: url('../images/careers-bg.svg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #F9B347;
    width: 100%;
}

#titlesec .topbg .container {
    min-height: 360px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    flex-direction: column;
    width: 100%;
}

#titlesec h1 {
    font-weight: bold;
    padding-top: 40px;
}

.titlesec h1 {
    padding-bottom: 20px;
    border-bottom: 7px solid #F9B347;
}

.blue-bg {
    background-color: #124559;
    color: #ffffff
}

.yellow-bg {
    background-color: #F9B347;
}

.orange-bg {
    background-color: #F15924;
    color: #ffffff;
}

.titlesec h1 {
    display: inline-block;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
}

.mb30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

#statement h1 {
    border-color: #F15924;
}

#points {
    background-color: #124559;
}
#points .subheadbold{
    font-size: 20px;
}
#points .container {
    position: relative;
}

#points .col-lg-4 .inner {
    background-color: #54BCAA;
    padding: 20px;
    color: #ffffff;
    height: 295px;
    min-height: 295px;
}

#points .col-lg-4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#points .topcol{
    margin-bottom: 40px;
}

.btwnline {
    display: flex;
    height: 20px;
    align-items: center;
    margin: 10px 0;
    position: absolute;
    width: 97%;
    z-index: 1;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#culture {
    position: relative;
}

#culture .container {
    position: relative;
    z-index: 10;
}

.btmsvg {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
}
.topsvg{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #124559;
}

.btmsvg svg {
    width: 100% !important;
    height: auto !important;
}
.topsvg svg{
    width: 100% !important;
    height: auto !important;
}

.funmac {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 30px;
}

#cul-slideshow {
    background-color: #F9B347;
    padding-top: 20px;
    position: relative;
}
#cul-slideshow .container{
    position: relative;
    z-index: 10;
}

#cul-slideshow .carousel-inner {
    background-color: transparent;
}

.paddingt {
    padding-top: 60px;
}

#orangebxs .orange-bg {
    padding: 20px;
    height: 370px;
    min-height: 370px;
    transition: 250ms box-shadow;
}
#orangebxs .orange-bg:hover {
    box-shadow: 0 0 15px #b7791a;
}

#orangebxs {
    margin-top: 10px;
    margin-bottom: 50px;
}

#orangebxs .col-md-3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#orangebxs h3 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
}

.slider {
    background-image: none;
    background-size: cover;
}

.certified-service {
    background-color: #F15924 !important;
}

.certified-service .common-heading h2 {
    background-color: #F15924 !important;
    font-weight: 300;
}

.inner-slide {
    background-color: #124559;
    display: flex;
    align-items: self-start;
    padding: 90px;
}

.inner-slide img {
    max-width: 100%;
    height: auto;
}

.main-slider-div p {
    padding-top: 0;
    padding-bottom: 0;
    float: unset;
    text-align: left;
}

.main-slider-div {
    position: relative;
    margin: 0 auto;
    padding: 0 0;
    width: 100%;
}

#myCarousel2 .main-slider-div img {
    width: 100%;
    height: auto;
}

.certified-service .common-heading:before {
    background-color: #fff;
}

.dquote {
    position: absolute;
    left: 90px;
    top: 20px;
    pointer-events: none;
}

.dquote.btm {
    left: unset;
    top: unset;
    bottom: 20px;
    right: 90px;
}

.content-div {
    margin-left: 0;
    padding-left: 0;
}

.logo-slider {
    background-color: transparent;
}

.inner-slide img {
    border: 0;
    border-color: transparent;
    background-color: transparent;
    width: 100%;
}

.logo-slider {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.inner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#points #inner1 {
    background-image: url('../images/careers/box-bg1.svg');
}

#points #inner2 {
    background-image: url('../images/careers/box-bg2.svg');
}

#points #inner3 {
    background-image: url('../images/careers/box-bg3.svg');
}

#points #inner4 {
    background-image: url('../images/careers/box-bg4.svg');
}

#points #inner5 {
    background-image: url('../images/careers/box-bg5.svg');
}

#points #inner6 {
    background-image: url('../images/careers/box-bg6.svg');
}

#statement{
    color: #000000;
}

.subheading {
    padding-top: 20px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

#employees .common-heading:before {
    height: 1px;
}

#resumeform {
    padding-bottom: 60px;
    background-color: #54BCAA;
    position: relative;
}

#resumeform .container {
    position: relative;
    z-index: 10;
}

.common-heading h2 {
    font-weight: 300;
}

#resumeform .common-heading h2 {
    background-color: #54BCAA;
}

.mktoForm input,
.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
    outline: transparent !important;
}
#points{
    margin-top: -70px;
}
@media only screen and (min-width: 1510px){
    #titlesec .topbg .container{
        min-height: 460px;
        margin-top: 100px;
    }
    #points{
        margin-top: -110px;
    }
    .topbg{
        display: flex;
    }
    .careers-banner > .container{
        position: relative;
    }
    .posbastop{
        position: absolute;
        width: 100%;
        right: 0;
        z-index: 10000;
    }
}

.logo-slider{
    min-width: 220px !important;
    padding-top: 5px !important;
}
@media only screen and (max-width: 991px) {
    .certified-service {
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .certified-service .container {
        background-color: #124559 !important;
        padding-bottom: 80px;
    }

    .certified-service .common-heading {
        margin-top: 0;
        margin-bottom: 0;
        background: #F15924 !important;
        padding-top: 50px;
        padding-bottom: 5px;
    }

    .certified-service .common-heading h2 {
        background-color: #F15924 !important;
    }

    .inner-slide {
        padding: 100px 30px;
        padding-bottom: 60px;
    }
    #titlesec h1{
        padding-top: 100px;
    }
    #points{
        margin-top: -40px;
    }
    .logo-slider.right{
        margin-top: 0;
        min-width: 170px;
    }
    #orangebxs .orange-bg{
        min-height: unset;
        height: unset;
    }
    #employees .carousel-control span{
        margin-top: -25px;
    }
}
@media only screen and (max-width: 700px){
    .inner-slide {
        padding: 70px 30px;
        padding-bottom: 50px;
    }
    .certified-service .container{
        padding-bottom: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .btwnline {
        display: none;
    }
    #points .topcol{
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 990px){
    .row .right {
        margin-top: 0;
    }
    .funmac {
        padding-top: 20px;
    }
    .dquote{
        left: 30px;
    }
    .dquote.btm{
        left: unset;
    right: 30px;
    bottom: 0;
    }
    .inner-slide{
        height: 390px;
    }
    .carousel-inner{
        height: 390px;
    }
}

@media only screen and (max-width: 720px){
    .inner-slide{
        height: 410px;
    }
    .carousel-inner{
        height: 410px;
    }
}

@media only screen and (max-width: 700px){
    .dquote{
        position: relative;
        left: unset;
        right: unset;
    top: 50px;
    }
    .dquote.btm{
        left: unset;
        right: unset;
        bottom: unset;
        top: unset;
    }
    .inner-slide{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .logo-slider{
        width: 100% !important;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 0;
    }
    .inner-slide img{
        width: 240px;
        min-width: 100px;
    }
    .logo-slider{
        margin-top: 0 !important;
        padding-left: 0;
        padding-top: 0 !important;
    }
    .content-div{
        padding-right: 0;
    }
    .carousel-inner, .inner-slide{
        height: unset;
    }
    .dquote.btm{
        position: absolute;
    left: unset;
    right: 30px;
    bottom: 0;
    }
    .dquote{
        position: absolute;
    left: 30px;
    }
    .logo-slider.right{
        margin-top: 60px !important;
    }
}

@media only screen and (max-width: 568px) {
    #banner h1 {
        line-height: unset;
    }
    #careersh1 h1{
        font-size: 45px !important;
    }

    #titlesec {
        margin-top: -100px;
    }

    #titlesec h1 {
        margin-top: 80px;
    }

    .col-xs-6 {
        width: 100%;
    }

    .row .col-xs-6 {
        margin-bottom: 20px;
    }

    .row .col-xs-6:last-child {
        margin-bottom: 0;
    }

    .dquote {
        position: relative;
        left: unset;
        right: unset;
        top: unset;
        margin-top: 30px;
        width: 50px;
    }

    .dquote.btm {
        position: relative;
        bottom: unset;
        left: unset;
        right: unset;
        margin-top: 0;
    }

    .inner-slide {
        padding: 30px 20px;
    }

    .inner-slide img {
        border: 0;
        border-color: transparent;
        background-color: transparent;
    }

    .logo-slider,
    .content-div {
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .row .right {
        margin-top: 20px;
    }

    .funmac {
        padding-top: 20px;
    }

    .common-heading h2 {
        font-size: 18px !important;
    }

    #resumeform .btmsvg .yellow-bg {
        height: 70px;
    }
    #points {
        margin-top: -20px;
    }
    .logo-slider.right{
        min-width:unset !important
    }
    .dquote.btm{
        position: absolute;
    left: unset;
    right: 30px;
    bottom: 0;
    }
    .dquote{
        position: absolute;
    left: 30px;
    }
    .logo-slider.right{
        margin-top: 60px !important;
    }
    .inner-slide{
        padding-bottom: 50px;
    }
}

#employees .content-div{
    text-align: left;
}


@media only screen and (max-width: 965px){
    #points .col-lg-4 .inner{
        height: 310px;
        min-height: 310px;
    }
}

@media only screen and (max-width: 935px){
    #points .col-lg-4 .inner{
        height: 330px;
        min-height: 330px;
    }
}
@media only screen and (max-width: 875px){
    #points .col-lg-4 .inner{
        height: 360px;
        min-height: 360px;
    }
}
@media only screen and (max-width: 795px){
    #points .col-lg-4 .inner{
        height: 380px;
        min-height: 380px;
    }
}

@media only screen and (max-width: 766px){
    #points .col-lg-4 .inner{
        height: 320px;
        min-height: 320px;
    }
}

@media only screen and (max-width: 585px){
    #points .col-lg-4 .inner{
        height: 348px;
        min-height: 348px;
    }
}
@media only screen and (max-width: 568px){
    #points .col-lg-4 .inner{
        height: unset;
        min-height: unset;
    }
}

.subheadbold{
    font-weight: bold;
}

.numtitle{
    padding-bottom: 10px;
}

@media only screen and (min-width: 990px){
    .inner-slide{
        height: 390px;
    }
}