/* font is 

h1 - Sofia Pro
*/


/* h1 color */

h1 {
    color: #2d3f49;
}

button {
    background-color: #90d121;
}

footer {
    background-color: #303e47;
}

grey-section-bg {
    background-color: #f8f9f9;
}