.mktoForm {
    width: unset !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
    padding: 0 !important;
}

.mktoForm .mktoOffset,
.mktoForm .mktoGutter {
    display: none !important;
}

.mktoForm .mktoLabel {
    position: absolute;
    top: -2rem;
    left: 0;
    visibility: hidden;
}

.mktoForm .mktoRadioList,
.mktoForm .mktoCheckboxList {
    width: unset !important;
}

.mktoForm .mktoFormRow {
    width: calc((100% / 2) - 1rem);
    max-width: 100% !important;
}

.mktoForm .mktoFormCol,
.mktoForm .mktoFieldWrap {
    width: 100% !important;
}

.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
    width: 100% !important;
    padding: 1.6rem !important;
    font: normal normal 300 30px/35px FS Albert Pro;
    color: #333333;
}

.mktoForm input[type=text]::placeholder,
.mktoForm input[type=url]::placeholder,
.mktoForm input[type=email]::placeholder,
.mktoForm input[type=tel]::placeholder,
.mktoForm input[type=number]::placeholder,
.mktoForm input[type=date]::placeholder,
.mktoForm textarea.mktoField::placeholder,
.mktoForm select.mktoField::placeholder,
.mktoForm select.mktoField {
    font: normal normal 300 30px/35px FS Albert Pro;
    color: #DADADA;
}


/* dynamic field from .js */

.checkbox-container {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font: normal normal normal 20px/30px FS Albert Pro;
    color: #333333;
}

.checkbox-container .mktoLabel {
    visibility: visible !important;
}

.checkbox-container .mktoHtmlText {
    width: 70% !important;
    margin-left: 2.3rem;
}

.checkbox-container input {
    width: 1.2rem;
    height: 1.2rem;
}

.checkbox-container .mktoLabel {
    visibility: visible;
    font: normal normal normal 20px/30px FS Albert Pro;
    color: #333333;
    width: 70% !important;
    position: relative !important;
}

.removable {
    display: none;
}


/* form button */

.mktoForm .mktoButtonRow {
    width: 100% !important;
    justify-content: flex-start;
    margin-top: -3rem;
}

.mktoForm .mktoButtonWrap {
    margin: 0 !important;
}

.mktoForm .mktoButton,
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:active {
    background: #044ED7 !important;
    color: #ffffff !important;
    padding: 1.5rem 4.5rem !important;
    border-radius: 7px !important;
    font: normal normal normal 26px/30px FS Albert Pro !important;
}

.mktoForm button.mktoButton:disabled {
    opacity: 1 !important;
}

@media (max-width: 900px) {
    .mktoForm .mktoFormRow {
        flex: 1 0 350px;
    }
}

@media (max-width: 480px) {
    .mktoForm input[type=text],
    .mktoForm input[type=url],
    .mktoForm input[type=email],
    .mktoForm input[type=tel],
    .mktoForm input[type=number],
    .mktoForm input[type=date],
    .mktoForm textarea.mktoField,
    .mktoForm select.mktoField {
        height: unset !important;
    }
    .mktoForm select.mktoField {
        font: normal normal 300 30px/35px FS Albert Pro !important;
    }
}