/* Add your custom CSS below */

.mktoForm {
    max-width: 908px !important;
    margin: 0 auto;
    width: unset !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mktoForm .mktoOffset,
.mktoForm .mktoGutter,
.mktoForm .mktoAsterixx {
    display: none;
}

.mktoRequiredField::before {
    content: "*";
    position: absolute;
    left: -13px;
    top: 9px;
    font-size: 20px;
    color: #E76C24;
}

.mktoForm .mktoFormRow {
    width: calc((100% / 2) - 1rem);
    margin-bottom: 1.25rem;
}

.mktoForm .mktoFormCol,
.mktoForm .mktoFieldWrap {
    width: 100% !important;
}

.mktoForm .mktoLabel {
    visibility: hidden;
    float: none;
    position: absolute;
}

body,
form,
button,
input,
select,
textarea {
    color: #332E2D;
    font-family: 'Cooper Hewitt Web', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.4;
}

button,
input,
select,
textarea {
    background-color: #fff;
    border-radius: 0;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: .25em;
    padding: 0.375em;
    max-width: 100%;
    vertical-align: baseline;
}

button,
input {
    line-height: normal;
}

input,
textarea,
.mktoForm select.mktoField {
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    /* Removing the inner shadow on iOS inputs */
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, 0.1);
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
}

input:focus,
textarea:focus {
    background-color: #fff;
    border: 1px solid #c1c1c1;
    border: 1px solid rgba(51, 51, 51, 0.3);
    color: #333;
}

input:focus,
select:focus {
    outline: 2px solid #c1c1c1;
    outline: 2px solid rgba(51, 51, 51, 0.3);
}

button[disabled],
input[disabled],
select[disabled],
textarea[disabled] {
    cursor: default;
    opacity: .5;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    background-color: #E76C24;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-family: 'Cooper Hewitt Web', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 24px;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    background-color: #F89C1B;
    outline: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
    width: 100% !important;
    min-height: 36px !important;
    padding-left: 10px !important;
}

.mktoForm select.mktoField {
    padding-left: 5px !important;
}

.mktoForm textarea.mktoField {
    padding-top: 10px;
}

.mktoForm button.mktoButton {
    padding: 13px 17px !important;
}

.mktoForm .mktoHtmlText {
    width: 100% !important;
}

@media (max-width: 640px) {
    .mktoForm .mktoFormRow {
        width: 100% !important
    }
}