   @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
   body {
       -ms-overflow-style: none;
       /* Internet Explorer 10+ */
       scrollbar-width: none;
       font-weight: 400;
       font-size: 1.125rem;
       font-family: 'Roboto', sans-serif;
       overflow-x: hidden;
   }
   
   body::-webkit-scrollbar {
       display: none;
       /* Safari and Chrome */
   }
   
   footer ul {
       list-style: none;
   }
   
   a {
       text-decoration: none;
   }
   
   img {
       width: 100%;
       height: auto;
   }
   
   figcaption {
       background-color: #bdbdbd;
       padding: 1rem 1.25rem;
       font-size: 18px !important;
   }
   
   .navbar ul {
       display: flex;
       flex-direction: row;
       align-items: center;
       padding: 0;
       margin: 0.5rem 0;
       list-style: none;
   }
   
   .navbar img {
       width: 10rem;
       height: auto;
   }
   
   .banner {
       background-image: url('https://go.pardot.com/l/391962/2022-07-29/d1mvgk/391962/1659122180Vfl7boAa/rss_1_1_fritolay_lp_header.png');
       background-repeat: no-repeat;
       background-size: cover;
       background-position: 50% 10%;
       min-height: 30vh;
       display: flex;
       justify-content: center;
       align-content: center;
       flex-direction: column;
   }
   
   .header {
       max-width: 950px;
       margin: 0 auto;
       display: flex;
       padding-top: 1rem;
       padding-bottom: 1rem;
   }
   
   .checkmark .container {
       padding: 0.45rem 0;
   }
   
   main {
       flex-wrap: wrap;
       padding-top: 1rem;
       margin-top: 3rem;
       padding-bottom: 5rem;
   }
   
   main,
   .list-container {
       display: flex;
       flex-direction: row;
   }
   
   main .list-container {
       flex-wrap: wrap;
       margin-bottom: 2rem;
   }
   
   main .column-1,
   main .column-2 {
       padding: 0;
       margin-bottom: 0 !important;
       flex: 1 0 400px;
       max-width: 93vw;
   }
   
   .pad-top {
       margin-top: 1.5em;
   }
   
   .btn-pad {
       margin-top: 2em;
   }
   
   .testimonial-1,
   .testimonial-2 {
       font-size: 1.25rem;
   }
   
   .testimonial-1 .row {
       margin-right: 1.5rem !important;
   }
   
   .testimonial-1 {
       flex: 1 0 400px;
   }
   
   .testimonial {
       width: 80%;
       margin: 0 auto;
   }
   
   .checkmark {
       background-color: #da291c;
       color: #fff;
   }
   
   .value {
       background: #0a0607;
       color: #fafafa;
   }
   
   h3 {
       line-height: 200%;
   }
   
   h3,
   h4 {
       color: #da291c;
   }
   
   h5 {
       font-weight: 400;
       font-size: 20px;
   }
   
   p {
       margin-top: 0;
       margin-bottom: 0;
   }
   
   .button {
       background-color: #da291c;
       font-size: 14px;
       font-weight: 600;
       color: #fff;
       padding: 1rem 5rem;
       margin: 0 auto;
       border-radius: 3px;
   }
   
   .cta-section a:hover,
   .cta-section a:focus {
       color: #fff !important;
   }
   
   [type="submit"],
   button {
       -webkit-appearance: button;
       color: #fff !important;
       background-color: #da291c;
       text-transform: uppercase;
       padding: 7px 35px;
       border: none;
   }
   
   [type="submit"]:hover,
   button:hover {
       color: #da291c;
       background-color: #fafafa;
   }
   
   footer p {
       margin-bottom: 0.5rem;
   }
   
   .footer-red {
       text-decoration: none;
       color: #da291c;
       font-weight: 800;
   }
   
   .footer-red:hover {
       text-decoration: none;
       color: #fff;
       font-weight: 800;
   }
   
   .footer-white {
       text-decoration: none;
       color: #fff;
       font-weight: 600;
       font-size: 14px;
   }
   
   footer span {
       font-size: 14px;
   }
   
   .footer-white:hover {
       text-decoration: none;
       color: #da291c;
       font-weight: 600;
       font-size: 14px;
   }
   
   .region-footer {
       background-color: #111111;
   }
   
   .flex-container {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: left;
   }
   /* articles */
   
   .flex-row {
       width: 100%;
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       gap: 4rem;
       margin: 1.5rem 0 1rem;
   }
   
   .row-reverse {
       flex-direction: row-reverse !important;
   }
   
   main ul {
       list-style: disc;
       padding-left: 1rem !important;
       margin-top: 1rem;
   }
   /* end of articles */
   /* center cta */
   
   .cta-section {
       background: #dddddd;
       padding: 5rem 2.5rem;
       width: 100%;
       text-align: center;
       margin: 2rem 0;
   }
   
   .cta-section h5 {
       margin-bottom: 2.5rem;
   }
   /* end of center cta */
   /* form section */
   
   .form-section {
       background-color: #da291c;
       padding: 3rem 0 0rem;
   }
   
   .form-headline {
       color: #fff;
       text-align: center;
       font-size: 22px;
       margin-bottom: 1.5rem;
   }
   /* end of  form section */
   
   footer .row {
       justify-content: space-between;
       margin-bottom: 1rem;
   }
   
   footer .col-lg-3 {
       width: 20% !important;
       flex: 1 0 250px;
   }
   
   @media (max-width: 990px) {
       .checkmark .row {
           flex-wrap: wrap;
           flex-direction: column;
           align-items: center;
       }
       .checkmark-container {
           width: 50% !important;
       }
       .checkmark p {
           width: 100%;
           margin: 0.4rem auto;
           margin: 0 auto;
       }
   }
   
   @media only screen and (max-width: 767px) {
       .pd-m {
           padding-bottom: 20px;
       }
   }
   
   @media only screen and (max-width: 600px) {
       .checkmark-container {
           width: 80% !important;
       }
       .testimonial {
           width: 100%;
           margin: 0 auto;
       }
       .info-img,
       .info-img2 {
           width: 100%;
       }
   }
   
   @media only screen and (max-width: 483px) {
       .testimonial-1 {
           flex: auto !important;
       }
   }
   
   @media (max-width: 380px) {
       .button {
           padding: 1rem !important;
       }
   }