/* Add your custom CSS below */


/* USE THIS TO KEEP FORMS IN THEIR WRAPPERS */

form {
    width: 100% !important;
}

.mktoForm .mktoLabel {
    font-weight: bold !important;
    padding-bottom: 8px !important;
    width: 100% !important;
    text-transform: uppercase !important;
    color: #889EB0 !important;
}

.mktoForm {
    background-color: #EDF1F7 !important;
    padding: 13px 20px;
}

.mktoGutter {
    height: 0 !important;
}

.mktoAsterix {
    float: left !important;
    padding-left: 0 !important;
    padding-right: 8px !important;
}

.mktoField {
    transition: all .15s ease-in-out;
}

.mktoField:focus {
    border-color: #3DA699;
}

.mktoFieldWrap {
    margin-bottom: 16px !important;
}

.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
    height: 40px;
    border-radius: 4px;
    width: 100% !important;
    font-size: 14px !important;
}

.mktoFormCol,
.mktoFieldWrap {
    width: 100% !important;
}

.mktoButtonWrap.mktoRound .mktoButton {
    width: 100%;
    background-color: #3DA699 !important;
    border: none !important;
    background-image: none !important;
}

.mktoForm span {
    margin-left: 0 !important;
}

.mktoButtonWrap.mktoRound .mktoButton {
    margin-top: 16px;
    padding: .7em 1em !important;
}

#mktoForm_1002 {
    width: 100% !important;
}

.mktoButtonRow {
    width: 100%
}

.mktoHtmlText {
    width: 100% !important
}

#policy {
    margin-left: 4px
}

.mktoCheckboxList label {
    margin-top: 4px
}

.mktoCheckboxList {
    width: 100%!important;
}

.mktoOffset {
    display: none!important;
}

textarea,
input,
select {
    padding: 0.5em 0.7em !important;
    box-shadow: none !important;
}

.mktoForm input.mktoField.mktoInvalid,
.mktoForm select.mktoField.mktoInvalid,
.mktoForm textarea.mktoField.mktoInvalid,
.mktoForm div.mktoLogicalField.mktoInvalid {
    border: 2px solid #F47988 !important
}

.mktoForm input[type=text]:focus,
.mktoForm input[type=url]:focus,
.mktoForm input[type=email]:focus,
.mktoForm input[type=tel]:focus,
.mktoForm input[type=number]:focus,
.mktoForm input[type=date]:focus,
.mktoForm select.mktoField:focus,
.mktoForm textarea.mktoField:focus {
    border: 2px solid #31B3A4 !important
}

@media only screen and (max-width: 576px) {
    textarea,
    input,
    select {
        font-size: 13px !important;
    }
}

@media only screen and (max-width: 992px) {
    #form {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}