/* overriden default err message */

.mktoForm .mktoError {
    bottom: 63px !important;
    left: 0 !important
}

.mktoForm .mktoError .mktoErrorArrowWrap {
    display: none !important;
}

.mktoForm .mktoError .mktoErrorMsg {
    box-shadow: none !important;
    border-radius: 0 !important;
    max-width: 23rem !important;
}

.mktoForm .mktoError .mktoErrorMsg .mktoErrorDetail {
    width: 100vw !important;
}