button {
    cursor: pointer;
}

.btn-rect,
.mktoButtonWrap button.mktoButton,
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    font-size: 16px !important;
    color: #fff;
    background-color: #519d18;
    border-width: 0px!important;
    border-radius: 3px;
    text-transform: capitalize;
    padding: 0.65rem 0.9rem !important;
}

.btn-rect:hover,
.btn-rect:focus {
    background-color: #519d18;
}

.badge {
    text-transform: capitalize;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600!important;
    color: #fff;
    background-color: #519d18;
    border-width: 0px!important;
    padding: 0.4rem 0.85rem;
}

.badge:hover,
.badge:focus {
    background-color: #519d18;
}

footer .btn-rect {
    padding: 0.65rem 7rem !important;
    white-space: nowrap;
}