button {
    cursor: pointer;
}

.btn-rect {
    font-size: 16px;
    color: #fff;
    background-color: #519d18;
    border-width: 0px!important;
    border-radius: 3px;
    text-transform: capitalize;
    padding: 0.65rem 0.9rem;
}

.btn-rect:hover,
.btn-rect:focus {
    background-color: #519d18;
}

.badge {
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600!important;
    color: #fff;
    background-color: #519d18;
    border-width: 0px!important
}

.badge:hover,
.badge:focus {
    background-color: #519d18;
}