/* Add your custom CSS below */

form {
    width: 100% !important
}

.mktoForm {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1028px;
    padding: 1rem !important;
    margin: 0 auto !important;
}

.mktoForm .mktoLabel {
    float: none !important;
}

.mktoForm .mktoFormCol {
    border: none !important;
}

.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
    width: 100% !important;
    font-family: 'Work Sans', Arial, sans-serif;
    font-size: 14px;
}

.mktoForm input[type=text]:focus,
.mktoForm input[type=url]:focus,
.mktoForm input[type=email]:focus,
.mktoForm input[type=tel]:focus,
.mktoForm input[type=number]:focus,
.mktoForm input[type=date]:focus,
.mktoForm textarea.mktoField:focus,
.mktoForm select.mktoField:focus {
    border-color: rgba(0, 0, 0, 0.35);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.25);
    outline: 0 none;
}

.mktoForm input[type="text"],
.mktoForm input[type="url"],
.mktoForm input[type="email"],
.mktoForm input[type="tel"],
.mktoForm input[type="number"],
.mktoForm input[type="date"],
.mktoForm textarea.mktoField {
    padding-left: 12px !important;
}

.mktoForm select.mktoField {
    padding-left: 8px !important;
}

.mktoFormCol,
.mktoFieldWrap {
    width: 100% !important;
}

.mktoForm .mktoFormRow {
    clear: none !important;
    margin-bottom: 0px;
    width: calc((100% / 2) - 1rem) !important;
}

.mktoForm .mktoFormRow:nth-last-of-type(-n+4) {
    width: 100% !important;
}

select {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.mktoForm .mktoFieldDescriptor {
    margin-bottom: 35px !important;
}

.mktoForm .mktoGutter {
    height: 0px !important
}

.mktoForm label,
.mktoForm fieldset legend {
    color: #ffffff;
}

.mktoForm .mktoFieldWrap label[for="optIn"] {
    width: unset !important;
}

.mktoForm .mktoFormRow:nth-last-of-type(-n+4) legend {
    margin-bottom: 2rem;
    font-size: 14px;
}

.mktoForm .mktoOffset {
    float: left;
    height: 0px !important;
    width: 10px;
}

.mktoButtonRow {
    width: 100% !important;
    text-align: center !important;
    margin-top: 0px !important;
}

.mktoButtonWrap {
    margin-left: 0px !important;
    font-family: 'Work Sans', Arial, sans-serif
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    width: 100%;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    width: 100%;
    max-width: 230px;
    transition: all 0.3s ease 0s;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    background: #54bcab !important;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    border: 0 !important;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    padding: 10px 20px !important;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    font-size: 18px !important;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:hover {
    background: #1b998b !important;
}

.mktoForm.mktoLayoutAbove .mktoRadioList,
.mktoForm.mktoLayoutAbove .mktoCheckboxList {
    width: auto !important;
    clear: none !important;
}

.mktoForm textarea.mktoField {
    padding-top: 1em
}

.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
    height: 46px;
    border: 0px !important;
    background: #ffffff;
}

.mktoForm .mktoFormCol {
    min-height: initial !important
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #999999;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000 !important;
    opacity: 1;
    /* Firefox */
    font-family: 'Work Sans', Arial, sans-serif;
    !important;
    font-size: 14px !important;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000 !important;
    font-family: ''Work Sans', Arial, sans-serif; !important;
 font-size: 14px !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000 !important;
    font-family: 'Work Sans', Arial, sans-serif;
    !important;
    font-size: 14px !important;
}


/*Added for browser compatibility*/

[hidden] {
    display: none;
}

@media (max-width: 1200px) {
    form {
        width: 95% !important;
        margin: 0 auto !important
    }
}

@media (max-width: 768px) {
    .mktoFormRow {
        width: 100%;
        float: none;
    }
    .mktoForm .mktoFormRow:nth-child(odd) {
        float: none;
    }
    .mktoForm textarea.mktoField {
        height: initial !important
    }
    .mktoForm .mktoFormRow {
        clear: both !important;
        float: none;
    }
    .mktoForm input[type=url],
    .mktoForm input[type=text],
    .mktoForm input[type=date],
    .mktoForm input[type=tel],
    .mktoForm input[type=email],
    .mktoForm input[type=number],
    .mktoForm textarea.mktoField,
    .mktoForm select.mktoField,
    .mktoForm label,
    .mktoForm fieldset legend {
        font-size: 14px !important
    }
}

#successAndErrorMessages {
    text-align: center;
    font-size: 18px;
    font-family: 'Work Sans', Arial, sans-serif;
    color: #ffffff;
    font-weight: 400
}

.mktoAsterix {
    display: none !important;
}

.mktoForm .mktoCheckboxList {
    width: 20px !important;
    padding-top: 5px !important;
}

.mktoForm select {
    font-family: 'Work Sans', sans-serif !important;
    font-weight: normal !important;
}

.mktoForm .mktoFormRow:nth-child(11) {
    width: 100%;
}

@media(max-width: 720px) {
    .mktoForm .mktoCheckboxList {
        padding-top: 5px !important;
    }
    .mktoForm .mktoFormRow {
        width: 100% !important;
    }
}


/* custom checkbox */

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #ffffff;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #ffffff;
    background-color: green;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
    color: green;
    cursor: not-allowed;
}

@media (max-width: 480px) {
    .mktoForm .mktoFormRow:nth-last-of-type(-n+4) .mktoFieldWrap {
        display: flex !important;
        flex-direction: row-reverse !important;
        justify-content: flex-end;
    }
}