 .MyNelson_Access_Code,
 .MyNelson_Username,
 .myNelson_Digital_Resource_Name,
 .Online_Order_Confirmation,
 .Connect_School_Access_Code,
 .Connect_School_Digital_Resource_Name {
     display: none !important;
 }
 
 .first-name,
 .last-name {
     width: 48% !important;
 }
 
 .checkboxes {
     width: 100%;
     margin-top: 1rem !important;
     flex: unset !important;
 }
 
 .field-fullwidth {
     width: 100%;
 }
 
 .field-fullwidth label {
     visibility: hidden;
 }
 
 .checkboxes span.value {
     margin-left: 0 !important;
     margin-bottom: -2.5rem !important;
 }
 
 .conditional-dropdown option[selected=selected] {
     display: none !important;
 }
 
 @media (max-width:640px) {
     .first-name,
     .last-name {
         width: 100% !important;
     }
 }