article,aside,details,figcaption,figure,footer,header,hgroup,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

 .clearfix:after {visibility: hidden; display: block; font-size: 0; content:''; clear: both; height: 0; } 

 * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family:"Work Sans", sans-serif;}

 /* preHeader */
.preHeader{
    background: #54BCAA;
    color:#fff !important;
    padding: 20px 0px;
}
.preHeader p{
    margin: 0px;
    padding: 2px;
    font-size: 14px;
     color:#fff !important;
}

.preHeader p b{
    font-size: 16px;
}

.preHeader .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.registerBtn{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: #124559;
border-radius: 3px;
}
.registerBtn a{
    font-size: 20px;
    flex-grow: 1;
    color:#fff;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 15px;

}


 /* nav */
header{
    background-color:#124559;
    height: 80px;
}

header .wrapper, nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav ul li{
    display: flex;
}
nav ul li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    padding:20px;
    height: 80px;
    color:#fff;
}

.active{
    color: red;
    background: #fff;
}

/* mobile menu */
.menu{
    width: 48px;
    display: none;
}

input[type="checkbox"]{
    position: absolute;
    visibility: hidden;
}

.bar{
    height: 4px;
    width: 35px;
    margin: 5px;
    background: #fff;
    border-radius: 3px;
}


 /* base */

 ul{
     padding: 0px;
     margin: 0px;
 }

 li{
     list-style: none;
 }

 a{
     list-style: none;
 }

 img{
     width: 100%;
     display: block;
 }

 section{
     position: relative;
     z-index: 99;
     padding: 60px 0px;
} 

 .wrapper{
     width: 80%;
     margin: 0 auto;
     min-width: 300px;
     max-width: 1240px;
 }







/* footer */
#footer {
    background-color: #124559;
    padding-top: 84px;
    padding-bottom:30px;
    color: #fff;
    position: relative;
    z-index: 10000;
}

.row{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

.footerCopy{
   max-width: 550px;
}

.getintouch-sec p,
.getintouch-sec  p a{
    font-size: 13px !important;
}

.logo-footer{
    margin-bottom: 20px;
    max-width: 200px;
}
#footer a {
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.3px;
    line-height: 18px;
    text-decoration: none;
    display: block;
}
#footer p{
    color:#fff;
    margin-top: 0px;
}

#footer a:hover {
    color: #f15a25;
}

.right-footer-content{
    display: flex;
}

.right-footer {
    display: inline-block;
    margin-top: 0px !important;
    margin-left: 36px !important;
}

.left-footer {
    display: inline-block;
 
}

.right-footer ul,
.left-footer ul{
    margin: 0px;
    padding: 0px;
}

#footer #bottom{
    display: none;
}

.subnav{
        display:none;
    }


@media(max-width:1020px){
    .row,.right-footer-content{
        flex-direction: column;
    }
    .right-footer{
        margin-left: 0px !important;
    }
    .left-footer{
        margin-top: 10px;
    }
}



@media(max-width: 1190px){
    .subnav{
        display: block;
    }
    .menu{
        display: block !important;
    }

    nav{
        position: absolute;
        z-index: 9999999;
        top: 0px;
        right: 0px;
        left: 0px;
    }

     .mobileMenu{
        margin-left: 30px;
    }


    nav ul{
        transition: all 1s ease-in-out;
        top: 0px;
        z-index: 999;
        left: 0;
        right: 0;
        position: absolute;
        flex-direction: column !important;
        height: auto;
        background: #124559;
        display: none;
        border-bottom: 1px solid #124559;
    }

    nav ul li{
        width: 100%;
    }

    input[type="checkbox"]:checked ~ nav ul{
        display: flex !important;
    }

    nav ul li a{
        width: 100%;
        text-align: center;
        justify-content: center;
    }
}

@media(max-width: 880px){
    .hero div.wrapper{
        flex-direction: column-reverse;
    }
    div.col{
        width: 100%;
    }
    .heroImg{
        width: 50%;
        margin: 0 auto;
        min-width: 300px;
    }
    .preHeader div.wrapper{
        flex-direction: column;
        justify-content: center;
    }
    .preHeader div.wrapper .col p{
        text-align: center;
    }
    .col2 {
        justify-content: center !important;
        margin-top: 20px;
    }
}

@media(max-width: 830px){
    .row{
        flex-direction: column !important;
    }
    .box{
        width: 100% !important;
    }
    .SERVICES .wrapper .commonHeadingContainer {
        margin-bottom: 0px !important;
    }

    .copyBlock{
        flex-direction: column !important;
    }
    .copyBlockIcon{
        margin: 60px auto 30px !important;
        width: 125px !important;
    }
}
