body {
    overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: \201c \201d \2018 \2019;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
html input[type=button],

/* 1 */

input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,
figure {
    margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}


/* base */

h2 {
    font-size: 22px;
    /* commented out to remain consistent with rest of website
     line-height: 30px; */
    color: #124559;
    font-weight: 600;
}

p {
    margin-top: 30px;
    font-size: 16px;
    /* commented out to remain consistent with rest of website
     line-height: 25px; */
    color: #124559;
}

p a {
    font-weight: 600;
    color: #1a1a1a;
    text-decoration: underline;
}

p a:hover {
    color: #f15a24 !important;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
}

a {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

section {
    position: relative;
    z-index: 99;
    padding: 60px 0px;
}

.wrapper {
    /* width: 80%; */
    padding: 0px;
    margin: 0 auto;
    min-width: 300px;
    max-width: 1025px;
}

.twoColSec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col {
    width: 48%;
}


/* main */

main {
    background: #54BCAB !important;
    position: relative;
}

.target {
    position: absolute;
    z-index: 9;
    width: 40%;
    right: 30px;
    top: 5%;
}


/* banner */

h1 {
    font-size: 42px;
    line-height: 45px;
    font-weight: 600;
    color: #124559;
    margin-top: 12%;
}

.bannerSubHead {
    font-size: 21px;
    line-height: 29px;
}


/* linkSec */

.linksSec {
    background: #fff;
    padding: 20px 0px;
    margin-bottom: 90px;
}

.linksSec .wrapper,
.linksDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linksDiv {
    justify-content: center;
}

.linksSec .wrapper a {
    width: 25%;
    border-right: 2px solid #124559;
    padding: 10px 10px;
    transition: all 0.3s;
    text-decoration: none;
}

.linksSec .wrapper a:hover p,
.linksSec .wrapper a:hover {
    color: #f15a24;
}

.linksSec .wrapper a:last-child {
    border: none;
}

.linkText {
    font-weight: 600;
    margin: 0px;
    color: #124559;
    font-size: 13px;
    line-height: 18px;
}

.toggleLink {
    display: none !important;
    margin: 0 auto;
    width: 45px;
}

.toggleLink .bar {
    background-color: #124559;
}

.banner {
    margin-bottom: 70px;
}

.linksImg {
    margin-right: 10px;
}


/* what is a mac pack */

.whatIs {
    background: linear-gradient( 90deg, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 0) 85%);
}

.whatIs .wrapper,
.whatIsP2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.paragraph {
    width: 55%;
}

.robotImg {
    width: 25%;
    padding: 0px 40px;
    min-width: 200px;
}

.title {
    top: -90px;
    position: absolute;
    background: #f15a24;
    padding: 25px 30px;
}

.title h2 {
    color: #fff;
    line-height: 0px;
    margin: 0px;
}

.rings {
    position: absolute;
    left: -250px;
    top: -40px;
}


/* stats */

.stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
}

.stat {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.stat img {
    width: 30px;
    height: 30px;
}

.stat h3 {
    color: #124559;
    font-size: 15px;
    font-weight: 600;
    margin: 0px;
}

.stat p {
    color: #124559;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    margin: 5px 0px 0px 0px;
}


/* services */

.services {
    background: #fff;
    padding: 0px;
}

.service {
    margin: 15px 0px;
}

.oneThird {
    width: 40%;
}

.oneThirdContent {
    position: relative;
    padding: 20px;
}

.twoThird {
    width: 55%;
}

.list {
    position: relative;
}

.list li {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.list li p span {
    font-weight: 600;
}

.list li p {
    margin: 0px 0px 0px 20px;
    color: #124559;
}

.line {
    width: 2px;
    background: #124559;
    height: 92%;
    position: absolute;
    margin-top: 12px;
    left: 4px;
}

.dot {
    background-color: #124559;
    height: 10px;
    width: 10px;
    min-width: 10px;
    margin-top: 8px;
    border-radius: 100%;
}

.yellowBox {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    /* left:-100%; */
    background-color: #f9b348;
    z-index: -99;
    width: 100%;
}

.serviceHeader,
.quoteHeader {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.serviceHeader+h2,
.serviceHeader,
.quoteHeader+h2,
.quoteHeader {
    text-align: center;
}

.serviceHeader h3,
.quoteHeader h3 {
    color: #f9b348;
    font-size: 18px;
    margin: 0px;
    font-weight: 300;
}

.serviceHeader+h2,
.quoteHeader h2 {
    color: #124559;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 50px;
}

.dash {
    height: 2px;
    width: 40%;
    background-color: #124559;
}


/* quote */

.quoteImg {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 100%;
    position: absolute;
    background-color: #fff;
    bottom: -30px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.quoteHeader {
    padding-bottom: 60px;
    position: relative;
}

.quote .wrapper .wrapper p span {
    font-weight: 600;
}

.quote .wrapper .wrapper p {
    text-align: center;
}

.author {
    color: #fff;
}


/* contact */

.contact {
    background-color: #f9b348;
}

.contactText p {
    text-align: center;
    font-size: 20px;
}

.contactText p a {
    font-weight: 400;
}

.contactText p a:hover {
    color: #f15a24 !important;
}

legend {
    display: none;
}

.mktoForm span {
    margin: 0 auto !important;
}

.mktoButtonRow,
.mktoButtonWrapper {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
}

#LblPhone {
    line-height: 1.2em;
    padding-top: 0.3em;
    padding: 2px;
    position: absolute;
    visibility: hidden;
}

.mktoForm input[type="tel"] {
    margin-top: 4px !important;
}

.mktoFormRow:nth-child(8) {
    width: 100% !important;
}


/* footer */

#footer {
    background-color: #124559;
    padding-top: 84px;
    padding-bottom: 30px;
    color: #fff;
    position: relative;
    z-index: 10000;
}

.row {
    display: flex;
    justify-content: space-between;
}

.footerCopy {
    max-width: 550px;
}

.getintouch-sec p,
.getintouch-sec p a {
    font-size: 13px !important;
}

.logo-footer {
    margin-bottom: 20px;
    max-width: 200px;
}

#footer a {
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.3px;
    line-height: 18px;
    text-decoration: none;
    display: block;
}

#footer p {
    color: #fff;
    margin-top: 0px;
}

#footer a:hover {
    color: #f15a25;
}

.right-footer-content {
    display: flex;
}

.right-footer {
    display: inline-block;
    margin-top: 0px !important;
    margin-left: 36px !important;
}

.left-footer {
    display: inline-block;
}

.right-footer ul,
.left-footer ul {
    margin: 0px;
    padding: 0px;
}

#footer #bottom {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .wrapper {
        max-width: 90%;
    }
}

@media (max-width: 1332px) {
    .line {
        height: 86%;
    }
}

@media (max-width: 1105px) {
    .line {
        height: 87%;
    }
}

@media (max-width: 1020px) {
    .row,
    .right-footer-content {
        flex-direction: column;
    }
    .right-footer {
        margin-left: 0px !important;
    }
    .left-footer {
        margin-top: 10px;
    }
}

@media (max-width: 980px) {
    .target {
        top: 7%;
    }
}

@media (max-width: 929px) {
    .line {
        height: 88%;
    }
}

@media (max-width: 888px) {
    .line {
        height: 89%;
    }
    .target {
        top: 7%;
        width: 50%;
    }
}

@media (max-width: 880px) {
    .menu {
        display: block !important;
    }
    .toggleLink {
        display: block !important;
        margin-bottom: 20px;
    }
    .linkText {
        width: 180px;
    }
    .linksContainer {
        display: none !important;
        flex-direction: column !important;
        width: 100%;
    }
    .linksContainer a:first-child {
        border-top: 2px solid #124559;
    }
    .linksContainer a {
        border-right: none !important;
        border-bottom: 2px solid #124559;
        width: 100% !important;
    }
    input[type="checkbox"]:checked+.linksContainer {
        display: flex !important;
    }
    .linksSec {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;
    }
}

@media (max-width: 788px) {
    .line {
        height: 91%;
    }
}

@media (max-width: 730px) {
    .target {
        top: 3%;
        width: 60%;
    }
    .col {
        width: 100%;
    }
    .twoColSec {
        display: flex;
        flex-direction: column;
    }
    .wrapper .wrapper {
        width: 100%;
    }
    .paragraph,
    .stats,
    .whatIsP2 {
        width: 80%;
    }
    .paragraph p {
        margin: 20px 0px;
    }
    .whatIsP2 h2 {
        margin-bottom: 0px;
    }
    .rings {
        left: -300px;
    }
    h1 {
        margin-top: 0px;
        font-size: 40px;
    }
    .oneThird {
        width: 100%;
        margin-bottom: 30px;
    }
    .twoThird {
        width: 100%;
    }
    .dash {
        width: 30%;
    }
    .line {
        height: 88%;
    }
    .serviceHeader+h2 {
        font-size: 22px;
    }
}

@media (max-width: 600px) {
    .target {
        top: 5%;
        width: 350px;
        right: 10px;
    }
}

@media (max-width: 500px) {
    .rings {
        display: none;
    }
}

@media (max-width: 480px) {
    .paragraph {
        width: 100%;
    }
    .robotImg {
        margin: 0 auto;
    }
    .whatIs {
        background: #fff;
    }
    .line {
        height: 91%;
    }
    .mktoForm input[type="text"],
    .mktoForm input[type="url"],
    .mktoForm input[type="email"],
    .mktoForm input[type="tel"],
    .mktoForm input[type="number"],
    .mktoForm input[type="date"],
    .mktoForm textarea.mktoField,
    .mktoForm select.mktoField {
        margin-bottom: 15px !important;
        font-size: 16px !important;
        padding: 20px 10px !important;
    }
    .mktoForm select.mktoField {
        padding: 10px !important;
    }
    .target {
        top: 5%;
        width: 300px;
        right: 10px;
    }
}

@media (max-width: 380px) {
    .line {
        height: 88%;
    }
}

@media (max-width: 360px) {
    h1 {
        font-size: 32px;
        line-height: 40px;
    }
}