@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.mktoForm * {
    font-family: 'Montserrat', sans-serif;
}

.mktoForm a {
    color: #000 !important;
}

.mktoForm {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    background-color: #d0d0d0;
    padding: 1rem 3rem 2rem;
    width: 84vw !important;
    position: relative;
}

.mktoForm label.mktoLabel,
.mktoForm .mktoAsterix,
.mktoForm .mktoOffset,
.mktoForm .mktoGutter {
    display: none !important;
}

.form-headline {
    font-size: 20px;
    font-weight: 800 !important;
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #e5e3e3;
    margin-bottom: 0.2rem;
    color: #000 !important;
}

.mktoForm input[type="text"],
.mktoForm input[type="url"],
.mktoForm input[type="email"],
.mktoForm input[type="tel"],
.mktoForm input[type="number"],
.mktoForm input[type="date"],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField,
.mktoForm .mktoFormCol,
.mktoForm .mktoHtmlText {
    width: 100% !important;
}

.mktoForm .mktoHtmlText {
    margin-top: 1rem !important;
}

.mktoForm .mktoFormRow:nth-of-type(3) .mktoFormCol:nth-of-type(1) {
    width: 51% !important;
}

.mktoForm .mktoFormRow:nth-of-type(3) .mktoFormCol:nth-of-type(2),
.mktoForm .mktoFormRow:nth-of-type(3) .mktoFormCol:nth-of-type(3) {
    width: 25% !important;
}

.mktoForm input[type="text"],
.mktoForm input[type="url"],
.mktoForm input[type="email"],
.mktoForm input[type="tel"],
.mktoForm input[type="number"],
.mktoForm input[type="date"] {
    padding: 10px 10px;
    border: none;
}

.mktoForm input[type="text"]::placeholder,
.mktoForm input[type="url"]::placeholder,
.mktoForm input[type="email"]::placeholder,
.mktoForm input[type="tel"]::placeholder,
.mktoForm input[type="number"]::placeholder,
.mktoForm input[type="date"]::placeholder {
    color: #000 !important;
    font-weight: 400;
}

.mktoForm .mktoFieldWrap {
    float: none !important;
}

.mktoForm .mktoFormRow {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    background-color: #d7f000;
    border: solid 1px #d7f000;
    color: #000;
    font-weight: 800 !important;
}

.mktoForm .mktoFormRow:nth-last-of-type(2) {
    width: 67.5% !important;
    background: #e5e3e3;
    padding: 12px;
}

.mktoForm .mktoFormRow:nth-last-of-type(2) label.mktoLabel {
    display: flex !important;
    width: 100% !important;
    font-weight: 800 !important;
}

.mktoForm .mktoFormRow:nth-last-of-type(2) .mktoFieldWrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.mktoForm .mktoFormRow:nth-last-of-type(2) .mktoRadioList,
.mktoForm .mktoFormRow:nth-last-of-type(2) .mktoCheckboxList {
    width: 2rem !important;
}

.mktoForm .mktoButtonRow {
    position: absolute;
    right: 3.3rem;
    bottom: 2.5rem;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    padding: 0.8rem 1.3rem !important;
    color: #000 !important;
    font-weight: 700;
    background: #d7f000 !important;
    border: solid 1px #d7f000 !important;
}


/* custom checkbox */

.mktoForm .mktoRadioList>input,
.mktoForm .mktoCheckboxList>input {
    accent-color: #1a1212 !important;
    height: 13px !important;
    width: 13px !important;
    box-shadow: 2px 1px #221818 !important;
}

@media (max-width:785px) {
    .mktoForm .mktoFormRow:nth-last-of-type(2) {
        width: 60% !important;
    }
}

@media (max-width: 760px) {
    .mktoForm {
        padding: 1rem 2rem 2rem !important;
    }
    .mktoForm .mktoFormRow {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .mktoForm input[type="text"],
    .mktoForm input[type="url"],
    .mktoForm input[type="email"],
    .mktoForm input[type="tel"],
    .mktoForm input[type="number"],
    .mktoForm input[type="date"] {
        min-height: 2.5rem !important;
    }
    .mktoForm .mktoButtonRow {
        position: relative !important;
        float: right !important;
        right: 0 !important;
        top: -4rem !important;
    }
    .mktoForm .mktoFormRow:nth-of-type(3) .mktoFormCol:nth-of-type(1) {
        width: 100% !important;
    }
    .mktoForm .mktoFormRow:nth-of-type(3) .mktoFormCol:nth-of-type(2),
    .mktoForm .mktoFormRow:nth-of-type(3) .mktoFormCol:nth-of-type(3) {
        width: 49% !important;
    }
}

@media (max-width: 630px) {
    .mktoForm .mktoFormRow:nth-last-of-type(2) {
        width: 53% !important;
    }
}

@media (max-width: 510px) {
    .mktoForm .mktoFormRow {
        width: 100% !important;
    }
    .mktoForm .mktoFormRow:nth-last-of-type(2) {
        width: 94% !important;
        margin: 0 auto;
    }
    .mktoForm .mktoButtonRow {
        float: none !important;
        top: 1rem !important;
    }
    .mktoForm .mktoFormRow,
    .mktoForm .mktoFormCol,
    .mktoForm .mktoFormRow:nth-of-type(3) .mktoFormCol:nth-of-type(2),
    .mktoForm .mktoFormRow:nth-of-type(3) .mktoFormCol:nth-of-type(3) {
        width: 100% !important;
    }
}