    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    .mktoForm * {
        font-family: 'Montserrat', sans-serif;
    }
    
    .mktoForm .mktoAsterix,
    .mktoForm .mktoClear,
    .mktoForm .mktoOffset {
        display: none!important;
    }
    
    .mktoForm .mktoFormRow {
        display: flex;
        width: 100%!important;
        gap: 0.5rem;
    }
    
    .mktoForm .mktoLabel {
        margin-bottom: 0.3rem;
        margin-right: 1.5rem;
    }
    
    .mktoForm .mktoFormCol {
        width: 100% !important;
    }
    
    .mktoForm .mktoFormRow:nth-of-type(1) {
        margin-bottom: 0.75rem;
    }
    
    .mktoForm .mktoFormRow:nth-of-type(3),
    .mktoForm .mktoFormRow:nth-of-type(4) {
        width: 70% !important;
        margin: 0 auto 0 1rem;
    }
    
    .mktoForm .mktoFormRow:nth-of-type(6) {
        margin-bottom: -1.5rem;
        padding-left: 1rem !important;
    }
    
    .mktoForm input[type=url],
    .mktoForm input[type=text],
    .mktoForm input[type=date],
    .mktoForm input[type=tel],
    .mktoForm input[type=email],
    .mktoForm input[type=number],
    .mktoForm textarea.mktoField,
    .mktoForm select.mktoField {
        border: 2px solid #e2e2e2!important;
        border-radius: 0!important;
        color: #95a2b3!important;
        width: 100%!important;
        padding: 6px 12px!important;
        margin: 0px 0 2px!important;
        background: #fafafa!important;
        line-height: normal!important;
        box-sizing: border-box!important;
        font-size: 18px!important;
    }
    
    .mktoForm input[type=url]::placeholder,
    .mktoForm input[type=text]::placeholder,
    .mktoForm input[type=date]::placeholder,
    .mktoForm input[type=tel]::placeholder,
    .mktoForm input[type=email]::placeholder,
    .mktoForm input[type=number]::placeholder {
        color: #8e9bac !important;
        font-style: italic;
        font-size: 13px;
    }
    
    .mktoForm .mktoFormRow:nth-last-of-type(-n+7) input[type=url],
    .mktoForm .mktoFormRow:nth-last-of-type(-n+7) input[type=url],
    .mktoForm .mktoFormRow:nth-last-of-type(-n+7) input[type=text],
    .mktoForm .mktoFormRow:nth-last-of-type(-n+7) input[type=date],
    .mktoForm .mktoFormRow:nth-last-of-type(-n+7) input[type=tel],
    .mktoForm .mktoFormRow:nth-last-of-type(-n+7) input[type=email],
    .mktoForm .mktoFormRow:nth-last-of-type(-n+7) input[type=number] {
        border: solid 1px #f3f3f3 !important;
        background: #f3f3f3 !important;
    }
    
    .mktoForm .mktoFieldWrap {
        width: 100%!important;
        margin-bottom: 0.8rem;
    }
    
    .mktoForm .mktoFormRow:nth-of-type(3) .mktoFieldWrap,
    .mktoForm .mktoFormRow:nth-of-type(4) .mktoFieldWrap {
        display: flex;
        align-items: center;
    }
    
    .mktoForm {
        width: 100%!important;
        max-width: 500px!important;
        margin: 0 auto!important;
    }
    
    .mktoForm .mktoGutter {
        display: none!important;
    }
    
    .mktoForm .mktoButtonRow {
        width: 44%;
        float: left;
        margin-left: -4rem;
    }
    
    .mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
        border: none!important;
        font-size: 1em!important;
        background-color: #cbe701!important;
        color: #383846!important;
        background-image: none!important;
        font-weight: 700 !important;
        font-style: normal !important;
        letter-spacing: normal !important;
        padding: 1em 1.5em !important;
        font-family: 'Montserrat', sans-serif;
        min-width: 200px !important;
    }
    
    .mktoForm .mktoButtonWrap.mktoSimple .mktoButton:hover {
        opacity: 0.7;
    }
    
    .mktoButtonWrap {
        margin-left: 5px!important;
    }
    
    .mktoFieldDescriptor.mktoFormCol {
        margin-bottom: 5px!important;
    }
    
    .mktoForm .mktoFormRow:nth-last-of-type(2) .mktoRadioList,
    .mktoForm .mktoFormRow:nth-last-of-type(2) .mktoCheckboxList,
    .mktoForm .mktoFormRow:nth-last-of-type(2) .mktoFieldDescriptor.mktoFormCol {
        width: 2rem !important;
    }
    
    .mktoForm .mktoFormRow:nth-of-type(7) {
        margin-bottom: 1.2rem;
        border-bottom: solid 2px #f3f3f3 !important;
    }
    
    .mktoForm .mktoRadioList>input,
    .mktoForm .mktoCheckboxList>input {
        accent-color: #1a1212 !important;
        height: 13px !important;
        width: 13px !important;
        box-shadow: 2px 1px #221818 !important;
    }
    
    .mktoForm .mktoFormRow:nth-last-of-type(2) {
        width: 60% !important;
        float: right;
    }
    
    @media (max-width: 625px) {
        .mktoForm .mktoFormRow:nth-last-of-type(2) {
            float: none !important;
        }
        .mktoForm .mktoButtonRow {
            margin-left: 0rem !important;
        }
    }
    
    @media only screen and (max-width: 520px) {
        .mktoForm .mktoFormRow:nth-last-of-type(2) {
            width: 100% !important;
        }
    }
    
    @media only screen and (max-width: 480px) {
        .mktoForm input[type=url],
        .mktoForm input[type=text],
        .mktoForm input[type=date],
        .mktoForm input[type=tel],
        .mktoForm input[type=email],
        .mktoForm input[type=number],
        .mktoForm textarea.mktoField,
        .mktoForm select.mktoField {
            height: auto!important;
        }
        .mktoForm .mktoFormCol {
            width: 100%!important;
            margin-left: 0px!important;
            margin-right: 0px!important;
        }
        .mktoButtonRow {
            margin-left: 0 !important;
        }
        .mktoForm .mktoFormRow:nth-of-type(2) {
            margin-bottom: 1.5rem;
        }
        .mktoForm .mktoFormRow:nth-of-type(3),
        .mktoForm .mktoFormRow:nth-of-type(4) {
            width: 96% !important;
        }
        .mktoForm .mktoFormRow:nth-of-type(3) .mktoLabel,
        .mktoForm .mktoFormRow:nth-of-type(4) .mktoLabel {
            width: 6rem !important;
        }
    }