.mktoForm {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 90vw !important;
    max-width: 700px !important;
    justify-content: space-between;
}

.mktoForm .mktoLabel,
.mktoForm .mktoOffset,
.mktoForm .mktoGutter {
    display: none !important;
}

.mktoForm .mktoFormRow {
    width: 48.5% !important;
}

.mktoForm .mktoFieldWrap,
.mktoForm .mktoFormCol {
    width: 100% !important;
}

.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
    padding: 8px 10px !important;
    width: 100% !important;
    margin-bottom: 1rem !important;
    border: 1px solid #e1e1e1 !important;
}

.container-sign-up .mktoForm input,
.container-sign-up .mktoForm input[type=date],
.container-sign-up .mktoForm input[type=email],
.container-sign-up .mktoForm input[type=number],
.container-sign-up .mktoForm input[type=tel],
.container-sign-up .mktoForm input[type=text],
.container-sign-up .mktoForm input[type=url],
.mktoForm select.mktoField {
    margin-bottom: 1rem !important;
}

.mktoForm select.mktoField {
    font-size: 13px !important;
    border: solid 1px #e1e1e1 !important;
}

.mktoButtonRow {
    width: 100% !important;
    display: flex;
    justify-content: center;
    margin-top: 0.4rem !important;
}

.mktoForm .mktoSimple {
    margin-left: 0 !important;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    background-color: #007AB7 !important;
    background-image: none !important;
    padding: 0.75rem 6rem !important;
    border: none !important;
}

@media (max-width: 500px) {
    .mktoForm {
        flex-direction: column !important;
    }
    .mktoForm .mktoFormRow {
        width: 100% !important;
    }
    .mktoForm input[type=text],
    .mktoForm input[type=url],
    .mktoForm input[type=email],
    .mktoForm input[type=tel],
    .mktoForm input[type=number],
    .mktoForm input[type=date],
    .mktoForm textarea.mktoField {
        padding: 12px 10px !important;
        font-size: 13px !important;
        height: initial !important;
    }
    .mktoForm select.mktoField {
        padding: 7px 10px !important;
        font-size: 13px !important;
    }
}