/* gerneral setup */

@import url("https://use.fontawesome.com/releases/v6.1.2/css/all.css");
* {
    padding: 0;
    margin: 0;
}

html {
    scrollbar-width: none;
}

body {
    background: #fff;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.flex {
    display: flex;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1080px;
    padding: 0.75rem;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}


/* typography */

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0;
    font-size: {
        h1size
    }
    px;
    font-weight: 700;
}

p,
ul,
figcaption {
    font-family: 'Lato', sans-serif;
}

.section-1 span {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.section-2 h2 {
    line-height: 1.5;
    font-size: 24px;
    color: #434343;
}

.section-2 p,
.section-2 ul,
figcaption {
    line-height: 1.5;
    color: #434343;
    font-size: 16px;
}

.section-2 .strong {
    font-weight: 700;
    color: #434343;
}

.section-3 h2 {
    font-size: 30px;
    color: #666666;
}

.section-3 p {
    color: #666666;
    font-size: 18px;
}

.section-4 h3 {
    font-size: 20px;
    color: #434343;
    line-height: 30px;
}

.section-4 p {
    font-size: 18px;
    color: #434343;
}


/* -- end of typography -- */


/* navbar */

nav {
    position: fixed;
    width: 100vw;
    background-color: #ffffff;
}

nav .logowidth {
    width: 160px;
}


/* -- end of navbar */


/* header */

header div {
    display: flex;
}

header {
    padding-top: 5rem;
}


/* -- end of header -- */


/* section 1 - event */

.event {
    background-color: #DB5A39;
}

.event h1,
.event h2 {
    color: #fff;
}

.event .flex-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: space-between;
}

.event img {
    width: 60px;
}

.event-detail {
    margin-right: 2rem;
    align-items: center;
}

.event-detail #icon1 {
    margin-right: 12px;
}

.event-detail span {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}


/* -- end of section 1 - event -- */


/* section 2 - with form */

.section-2 {
    margin-top: 3rem;
    background-color: #ffffff;
}

.form .flex-row {
    justify-content: space-between;
    gap: 1.2rem;
    flex-wrap: wrap;
}

.form .column:nth-child(1) {
    width: calc(55% - 1rem);
    flex: 1 0 500px;
}

.form .column:nth-child(2) {
    width: calc(45% - 3rem);
    flex: 1 0 300px;
}

.section-2 ul {
    margin-left: 15px;
}

.speakers {
    padding-top: 4rem;
}

.speakers .speaker1 {
    padding-bottom: 2rem;
}

.speakers,
.speakers .flex-container,
.speakers h2 {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form img {
    width: 143px;
}

.form-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0;
    height: fit-content;
}

ul {
    list-style: none;
}

.section-2 li:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f058";
    margin-right: 8px;
    color: #125687;
    font-size: 18px;
}


/* -- end of section 2 - with form -- */


/* section 3 */

.section-3 {
    background-color: #f7f7f7;
    margin-top: 3rem;
    padding: 2rem 0 3rem;
}

.section-3 h2 {
    margin: 1rem 0 1.5rem;
}

.section-3 .flex-column {
    text-align: center;
}

.section-3 img {
    width: 400px;
    margin: 0 auto;
}


/* -- send of ection 3 -- */


/* section 4  */

.section-4 {
    background-color: #e7eced;
    margin-top: 0;
    padding: 4.5rem 0 4.5rem;
}

.section-4 {
    text-align: center;
}


/* -- end of section 4 --  */

@media (max-width: 800px) {
    nav {
        position: relative;
    }
    nav .flex-container {
        padding: 0.2rem 0.75rem;
    }
    nav img {
        width: 120px !important;
    }
    header {
        padding-top: 0;
        margin-top: -1rem;
    }
    .column {
        max-width: 90vw !important;
    }
    .section-2 .flex-row {
        padding: 0;
    }
}